/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}

address 		{ font-style: normal; }
body 			{ line-height: 1; }
ol, ul 			{ list-style: none; }

blockquote, q 	{ quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="n"' in the markup IF spacing is required, as IE doesn't recognise border-spacing */
table {
	border-collapse: collapse;
	border-spacing: 0;
	}

th { text-align: left; }

/* clearfix */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom:1; } /*for IE*/

/*-------------------------------------------------*/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: normal;
	background-color: #010B14;
	color: #B6C0C1;
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	}

a		{ color: #D9BBA1; }
a:hover { color: #FFF7F0; }	
	
img.border	{
	border: solid 1px #B6C0C1; 
	border-radius: 5px;
	}

/*-------------------------*/
/*HEADER STYLES*/
header {
	padding: 1rem;
	text-align: center;
	}

div#menu {
	margin: 1rem 0 0;
	}
	
div#menu a {
	margin: 0 1rem;
	}

/*-------------------------*/
/*MAIN STYLES*/	
main {
	padding: 0 1rem;
	}

p {
	padding: 0.5rem 0;
	}
	
div#frontSpread {
	text-align: center;
	}
	
/*-------------------------*/
/*FOOTER STYLES*/
footer {
	padding: 1rem;
	text-align: center;
	}

	
