---
layout: content
title: A-Z Nemesis (Impurities)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
<tr>	<th>Impurity</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td><div class='tt'><span class='ttt'>Data&#8209;File.</span>[Termight, Torquemada, Nemesis]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1981</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>WS4</span>SFS4</div></td>	<td>Pat Mills</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
<tr>	<td>A Message from Torquemada</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1981</td>	<td>234</td>	<td>n/a</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Features&nbsp;|&nbsp;Art&nbsp;Features</span>Mega-Stars in the Making</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1982</td>	<td>2KA'83</td>	<td>editorial</td>	<td>reprints & dev. images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
<tr>	<td>Nemesis the Warlock: Who's Who</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1984</td>	<td>386</td>	<td>Pat Mills</td>	<td>Kevin O'Neill</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
<tr>	<td>Nemesis the Warlock: Data File Extra</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1984</td>	<td>389</td>	<td>editorial</td>	<td>n/a</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
<tr>	<td>The Good, the Bad and the Deviant</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1992</td>	<td>WS4</td>	<td>Mike Butcher</td>	<td><div class='tt'><span class='ttt'>Kevin&nbsp;O'Neill<br>Paul&nbsp;Peart<br>Carl&nbsp;Critchlow<br>Simon&nbsp;Harrison<br></span><em>various</em></div></td>	<td><div class='tt'><span class='ttt'>Kevin&nbsp;O'Neill&nbsp;[b&w]<br>Paul&nbsp;Peart<br>Carl&nbsp;Critchlow<br>Simon&nbsp;Harrison&nbsp;[b&w]<br></span><em>various</em></div></td>	<td>n/a</td>	</tr>
<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Features]&nbsp;|&nbsp;Indexes</span>Nemesis: The Series Index</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1994</td>	<td>NWPP</td>	<td>n/a</td>	<td>n/a</td>	<td>n/a</td>	<td>n/a</td>	</tr>
<tr>	<td>A Novice's Guide to Nemesis</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1999</td>	<td>1165</td>	<td>Pat Mills</td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td>Data Bytes: Nemesis</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1999</td>	<td>p2000</td>	<td>editorial</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td>A Monograph</td>	<td>1</td>	<td>64</td>	<td><div class='tt'><span class='ttt'>Kevin&nbsp;O'Neill<br></span>1</div></td>	<td>2018</td>	<td>M395-S</td>	<td>Matthew Smith</td>	<td>reprints</td>	<td>n/a</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}