<script src="../../js/Chart.min.js"></script>
<h2>Nemesis the Warlock</h2>

<p>An alien freedom fighter battles a human supremacist in the far future.</p> 
<p>As part of the wider Millsverse, the idea of the futuristic tubes of Termight (the Earth of the future) in Killer Watt were inspired by an earlier <a href="../RoBusters/data.html">Ro-Busters</a> story (The Fall and Rise of Ro-Jaws and Hammerstein). Characters from Ro-Busters then became first an editorial mainstay, then some of them filtered into spin-off strip <a href="../ABCwarriors/overview.html">The A.B.C. Warriors</a> before crossing over into Nemesis.</p> 
<p>So (for example) Mek-Quake, first of Ro-Busters in <a href="../../stages/spinOffs/starlord.html">Starlord</a>, becomes Tharg's enforcer in the <a href="../ThargTheMighty/Stories.html">Tharg the Mighty</a> stories (and editorial commentary in general), then turns up (in a different body) in Book III of the Nemesis saga, before teaming up with <a href="../ABCwarriors/overview.html">The A.B.C. Warriors</a>, both in Nemesis crossover tales and (latterly) in their own series.</p>

<a id="baseMenu"></a>
<div id="menu">
	{% if page.title == "A-Z Nemesis (Books)" %}<a class="disabled">The Ten Books</a>
	{% else %}<a href="books.html#baseMenu">The Ten Books</a>{% endif %}
	
	{% if page.title == "A-Z Nemesis (Saga)" %}<a class="disabled">The Entire Saga</a>
	{% else %}<a href="saga.html#baseMenu">The Entire Saga</a>{% endif %}
	
	{% if page.title == "A-Z Nemesis (Illuminations)" %}<a class="disabled">Illuminations</a>
	{% else %}<a href="illuminations.html#baseMenu">Illuminations</a>{% endif %}
	
	{% if page.title == "A-Z Nemesis (Impurities)" %}<a class="disabled">Impurities</a>
	{% else %}<a href="impurities.html#baseMenu">Impurities</a>{% endif %}
</div>

<img src="nemesis.png" />
<p class="credit">Art by Kevin O'Neill</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/sPkWwlZ56GQ" target="_blank">The 2000 AD ABC: Nemesis</a></li>
<li><a href="https://shop.2000ad.com/catalogue/XB282" target="_blank">shop.2000ad.com: Nemesis GNs</a></li>
</ul>