---
layout: content
title: Crisis (phase V)
---

{% include_relative crisisMenu.html %}

<h2>Crisis (phase V)</h2>
<h3>Issues 50-63: 1990-1991</h3>

<table class="gallery">
<tbody>
	<tr>
	<td><img src="gfx/covers/crisis52_med.jpg" style="height:290px;" /></td>
	<td><img src="gfx/covers/crisis56_med.jpg" style="height:290px;" /></td>
	<td><img src="gfx/covers/crisis59_med.jpg" style="height:290px;" /></td>
	</tr>
	<tr>
	<td>Crisis #52 by Sean Phillips</td>
	<td>Crisis #56 by Gary Erskine</td>
	<td>Crisis #59 by Steve Sampson</td>
	</tr>
</tbody>
</table>

<hr class="splitter" />

<p>
The fifth phase of Crisis sees the wheels come off in a slow motion disaster. The page count switches from 36pp to 52pp as the magazine goes monthly and finds itself picking up the pieces from a suddenly cancelled nascent <a href="revolver.html">Revolver</a>.
</p>
<p>
Crisis manages to hold on for almost a year after Revolver folds, but it's a troubled time as the signature strip (Third World War) fizzles out having only just started up its Book IV and European art house content is seen as the best thing to (re)print. Like a giraffe, a lot of the content just munches away on the leaves high above the heads of the readership, who anyway have now sunk their eager teeth into the newly launched <a href="../megs/meg1_0.html">Judge Dredd - the Megazine</a> (and its entertaining escapism).
</p>
<p>
For a comic that had such a strong design aesthetic at the beginning, and ran compelling long-form serials, and dared to expose contemporary social injustices, it's a shame that it seems to descend into the rudderless death dive of a faded, jaded, velvet-coated behemoth that's too jazzed up on <a href="RCspecials.html">espresso</a> to realize it's pontificating to an almost empty auditorium. 
</p>

<!---->
<img src="gfx/crisis05_strips.png" />
<!---->

<p><strong>Straitgate</strong><br />
Erm...maybe what it's like inside the mind of a schizophrenic? Filled with ennui about modern life and relationships, a young man imagines going on violent, bloody murder sprees (perhaps as a way of dealing with his mother's terminal illness).
</p>
<p>
The shift from political commentary or social justice issues into dark, navel-gazing nihilism plants its flag firmly here. Or is it an artistic treatese on what it's like to live with a severe mental illness?
</p>

<p><strong>[The one-off slot(s)]</strong><br />
Selected summaries...
</p>
<ul>
	<li><strong>Your Death * My Life</strong> - Paulo Veronese finds himself up against the inquisition, whose corruption takes out its ire on a beautiful woman who refuses to allow a nobleman to take advantage.</li>
	<li><strong>Suddenly, Last Week</strong> - uses the device of portraying someone as a pink racoon as an analogy for homosexuality, and then explores what it's like to live around rampant homophobia.</li>
	<li><strong>The Power of the Pen</strong> - a modern fable in which drawing is outlawed by a dictator and his minions.</li>
	<li><strong>Prisoner of Justice</strong> - tells the true story of a Sri Lankan Tamil named Vaithialingam Skandarajah, and his struggle to seek asylum against concentrated establishment resistence in the form of the UK Conservative Party.</li>
	<li><strong>The Happiest Days</strong> - an awkward girl is bullied at school, and then bullies two young lesbians in turn. She regrets it, and there's a suggestion that she herself is bisexual.</li>
	<li><strong>The School</strong> - a new drama teacher finds school life difficult as she deals with violent, vindictive staff from the rough justice era of education.</li>
	<li><strong>Passing Through</strong> - not unlike <a href="https://youtu.be/oI3UuneLcyU" target="_blank">Before Sunset</a>, we get to see where two people have gotten to many years after an interrupted romance. Spoiler: they shag in the grass!</li>
	<li><strong>Up On The Roof</strong> - a hermit is discovered, who lives his life on the rooftops of a city.</li>
	<li><strong>Lord Jim</strong> - impenetrable, name-dropping, pop-chasing, psyche-drivel in which a woman is tasked with tracking down an aging has-been version of Jim Morrison, but it's all in her mind.</li>
	<li><strong>Unlikely Stories Mostly: Endgame</strong> - a court case is reported on as if it's a sporting event between the prosecution and the defence.</li>
	<li><strong>Light Me</strong> - a bitter Vietnam War veteran reminisces about meeting John Wayne and the intense, burning feeling of pleasure he got from killing.</li>
	<li><strong><strike>Walk</strike> Waddle on the Wild Side</strong> - a disabled man takes us through some of the misconceptions about disability and what he thinks of them.</li>
	<li><strong>Charlie Lives With Fang and Snuggles</strong> - a bloody, violent comedy of errors involving pet-sitting for a rabbit and a rottweiler.</li>
	<li><strong>Body Snatchers</strong> - various dictators fight over the bones of Karl Marx while some punks find evidence that he had entirely re-thought and abandoned his ideas on, well, Marxism.</li>
	<li><strong>Strange Hotel</strong> - there's a surreal hotel.</li>
	<li><strong>Operation Massacre</strong> - a depiction of an Argentinian state massacre where one of the shot men (Juan Carlos Livagra) manages to survive his ordeal.</li>
</ul>

<p><strong>Third World War: Book IV - Ivan's Story</strong><br />
<a href="../../AtoZ/Finn/data.html">Finn</a> the eco-serial killer rescues Ivan's friend from the (evil) Masons, who move heaven and earth to enact revenge. Meanwhile, Liat and (a revived) Inspector Ryan have a final battle in gloriously disturbing Hicklenton-vision.
</p>
<p class="multFoot"><small><em>Finn/Paul and some of the other characters return (often, it seems, in retellings of some of the same events) in the series Finn, starting in 2000 AD's <a href="../progs/stage23.html">prog 770 in 1992</a>...</em></small></p>

<p><strong>Reflexions</strong><br />
In each one-page piece, one or two images are accompanied by a short text piece, and provide some social commentary. Special mention to the join-the-dots turkey in issue #54.

<p><strong>Wroom</strong><br />
Like Waiting for Godot, except there's only one man, and he's in a room which he can't bring himself to leave. Again, this is either navel-gazing nihilism or an artistic look at severe mental illness. Each episode switches the location (e.g. stairs, watching the news on television), but maintains the ennui.
</p>
<p>
One episode is a frightening view of male gaze as, presented with a female mannequin, our nowhere man gets more and more frustrated that she won't acknowledge him and swings quickly from curiosity to violent hatred, giving us a glimpse into the psyche of the incel movement.
</p>

<p><strong>Sinner: Viet Blues</strong><br />
Mr. Sinner is a hard-boiled private eye working in Manhatten. A key aspect of the story is that he's white and has formed a friendship with a black man (John Smith III), who's suffering from Vietnam PTSD. Societal norms question their friendship.
</p>

<p><strong>Insiders</strong><br />
Like Porridge but realistic, as we follow the grim experiences of a new prison inmate, whilst also exploring the violence that sent him here, the violence that he left behind and the violence within the system.  
</p>
<p>
Already very dark, it spirals further as it depicts an impenetrable, long-lasting conspiracy amongst the warders to purposefully harm the prisoners.
</p>

<p><strong>The General and the Priest</strong><br />
During the <a href="https://en.wikipedia.org/wiki/United_States_invasion_of_Panama" target="_blank">US invasion of Panama</a>, a cross-dressing General (although I think that's a disguise, rather than a proclivity) seeks refuge in the Vatican's embassy. The priest is implicated in crimes involving minors. 
</p>

<p><strong>Dan Dare: Pilot of the Future</strong><br />
Issue #55 has a text presentation of "extracts from the confidential diaries of Col. Daniel McGregor Dare" that brings us up to speed on the events depicted in <a href="revolver.html">Revolver</a>.  
</p>
<p>
The resolution is bitter in that (despite a revenge of sorts) the long-term future remains bleak. 
</p>
<p class="multFoot"><small><em>The final part presented in issue #56 has a postscript homage to original creator Frank Hampson, and a message to continue reading (brighter) Dan Dare adventures in the weekly Eagle...</em></small></p>

<p><strong>The Real Robin Hood</strong><br />
An aspiring actor gets a job playing Robin Hood at a tacky, struggling amusement park. It then sort of tries a bit of a meta finale, but isn't quite brave enough to go as far as Neil Gaiman's <a href="https://en.wikipedia.org/wiki/The_Sandman:_Dream_Country#%22A_Midsummer_Night's_Dream%22" target="_blank">"A Midsummer Night's Dream"</a> play within a play of the same year. 
</p>

<p><strong>Bible John</strong><br />
Not really a comic, as such: more prose and visuals. It's not abundantly clear what is happening, but there's nihilism and bleak poetry about the dire gloom inherent in life. Definitely no butterflies or rainbows. (Or characters, or a story.)
</p>

<p><strong>Happenstance &amp; Kismet</strong><br />
Continuing from its run in <a href="revolver.html">Revolver</a>, this can still be summarized as a comedy in which three characters bump along encountering various outlandish situations.  
</p>

<p><strong>Trip to Tulum</strong><br />
Federico Fellini writes himself into his own cinematic fantasy world, in which he has himself accompanied by a beautiful woman (who loses more clothes as the story progresses) and some men on a quest for ... maybe a plot? Even the characters complain about being in the story.
</p>

{% include_relative crisisMenu.html %}