---
layout: content
title: Crisis (phase III)
---

{% include_relative crisisMenu.html %}

<h2>Crisis (phase III)</h2>
<h3>Issues 28-38: 1989-1990</h3>

<table class="gallery">
<tbody>
	<tr>
	<td><img src="gfx/covers/crisis29_med.jpg" style="height:293px;" /></td>
	<td><img src="gfx/covers/crisis34_med.jpg" style="height:293px;" /></td>
	<td><img src="gfx/covers/crisis37_med.jpg" style="height:293px;" /></td>
	</tr>
	<tr>
	<td>Crisis #29 by Warren Pleece</td>
	<td>Crisis #34 by Sean Phillips</td>
	<td>Crisis #37 by Robert Blackwell</td>
	</tr>	
</tbody>
</table>

<hr class="splitter" />

<p>
The third phase of Crisis is where it starts to lose cohesion, as a third long-form strip is replaced with a series of one-offs, thus hanging the hopes for readership continuity on just two strips. 
</p>
<p>
The contemporary realism of two of the stories from the <a href="crisis2.html">second phase</a> (Troubled Souls & Sticky Fingers) is replaced by the nihilistic melodrama of True Faith. 
</p>

<img src="gfx/crisis03_strips.png" />

<p><strong>New Statesmen: Prologue</strong><br />
Created to serve as an opening chapter for a reprint, this narratively seems to be more of a post-script summary, and so doesn't work too well for its intended purpose (as the foreshadowing too often seems like an open spoiler).
<br /><small><em>This is the last we get of New Statesmen, which seems a shame as there was a rich vein of characters from which to tell stories.</em></small></p>


<p><strong>[The one-off slot]</strong><br />
These one-offs tend towards the semi-autobiographical and often feature strong messages of social justice, although sometimes they're just memorable slices of life.
</p>
<ul>
	<li><strong>The Student Konstabel</strong> - a depiction of the author's troubling experiences as a conscripted cop in apartheid era South Africa.</li>
	<li><strong>Meet The Parents</strong> - a study of the awkwardness of forced civility in the face of a clear generation gap.</li>
	<li><strong>The Clicking of High Heels</strong> - semi-autobiographical description of the daily grind of aggressive, sexual male attention suffered by the protagonist as she tries to go about her day.</li>
	<li><strong>Two Pretty Names</strong> - exposes the hollowness of racism as a blind old Nazi befriends a BAME youngster.</li>
	<li><strong>Don't You Love My Brother?</strong> - a message of hope as a comedian provokes a muscle-bound Nazi into ... coming to terms with his brother's black, gay lover.</li>
	<li><strong>The Unusual Obsession of Mrs Orton</strong> - a <a href="https://youtu.be/Oc46Gk-6qrA"  target="_blank">Tale of the Unexpected</a> where a mother descends into madness as she tries to capture an elusive but persistent vandal that nobody else believes in.</li>
	<li><strong>Banged Up</strong> - a powerful depiction of life on remand and the mental struggle to keep your dreams alive during such a traumatizing experience.</li>
</ul>
<p class="multFoot"><small><em>Continues into the next phase...</em></small></p>


<p><strong>The Crooked Mile</strong><br />
A one-pager on the back cover in which an everyman angel passes comment on some aspect of contemporary society.
<br /><small><em>Ends in this phase.</em></small></p>


<p><strong>Third World War: Book II</strong> (part 2)<br />
Chief Inspector Ryan's dark obsession (and murderous impulses) aimed at black women focus strongly on Eve but (true to form) as she rebuffs his drooling advances (disturbingly wrought by Hicklenton) his rabid thoughts turn to vengeance and punishment. In that regard, the story here is less about black empowerment and more about a depraved individual - although it's clear that there's a lot of allegory at work here.
</p>
<p>
Eve decides to join the Black African Defence Squad rather than continue her government-sponsored international interdiction job, and there's some time spent fleshing out Liat, the leader of BADS (although he himself seems governed by a black verson of Mills' triple goddess from <a href="../../AtoZ/Slaine/KingsGods.html">Sl&aacute;ine</a>). 
</p>
<p>
It all goes a little <a href="https://youtu.be/yn6FJ6BUXIE"  target="_blank">Mission Impossible</a> towards the end before running four episodes of epilogues. Again there's a strong focus on Ryan, now giving him a somewhat valid reason for his hatred (his mother's murder), which dilutes the idea of racism being an evil in and of itself.
</p>
<p class="multFoot"><small><em>Continues into the next phase as Book III...</em></small></p>


<p><strong>True Faith</strong><br />
A dark tale that tries to explore the mindset of nihilistic killers. Nigel's an outspoken aethiest loner at high school that fancies Angela from the Scripture Union - but his advances are taken by her as a desire to join. He crosses paths with a grieving widower who's decided to murder God (by torching churches and gunning down vicars), and who needs an assistant.
</p>
<p>
It's like Batman and Robin, if Batman were a deranged, murderous plumber hellbent on the elimination of Christianity and Robin were an inept young man with incel-like sexual anger issues coerced into being his assistant. Deciding that the Demented Duo aren't quite enough, things are turned up to eleventy-stupid when a far more organized supervillain with the same agenda (and an army of uniformed, highly armed goons) recruits them.
</p>
<p>
The disturbing denouement seems to glamorize perpetrators of mindless, murderous violence as a solution to assholes. Thing is: the punishment for assholes shouldn't be death, should it?
</p>
<p class="multFoot"><small><em>One series and done.</em></small></p>
<!--<div id="footerLink"><a href="crisis4.html">&gt;&gt;Crisis (phase IV)...</a></div>-->

{% include_relative crisisMenu.html %}