---
layout: content
title: A-Z RT (Fleisher's Fr1day)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Decoys</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Michael Fleisher</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Undeath Project</td>	<td>1</td>	<td>16</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Michael Fleisher</td>	<td>Cam Smith</td>	<td>Tim Perkins</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bio-Death</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Michael Fleisher</td>	<td>Steve Dillon</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Circus Daze</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Michael Fleisher</td>	<td>John Hicklenton</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Golden Fox Rebellion</td>	<td>12</td>	<td>72</td>	<td><div class='tt'><span class='ttt'>712:&nbsp;Ron&nbsp;Smith<br>721:&nbsp;Ron&nbsp;Smith<br></span>2</div></td>	<td>1991</td>	<td>712-723</td>	<td>Michael Fleisher</td>	<td>Ron Smith</td>	<td>&lt;--</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>The Saharan Ice-Belt War</td>	<td>12</td>	<td>74</td>	<td><div class='tt'><span class='ttt'>733:&nbsp;Simon&nbsp;Coleby<br>740:&nbsp;Simon&nbsp;Coleby<br></span>2</div></td>	<td>1991</td>	<td>730-741</td>	<td>Michael Fleisher</td>	<td>Simon Coleby</td>	<td>Gina Hart</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>Hollow Town</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1991</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M292&nbsp;(supplement)</span>SFS14</div></td>	<td>John Smith</td>	<td>Simon Coleby</td>	<td>Hitch</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>The Arena of Long Knives</td>	<td>1</td>	<td>9</td>	<td>0</td>	<td>1991</td>	<td>2KYB'92</td>	<td>Michael Fleisher</td>	<td>Kev Walker</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Apocalypse Dreadnought</td>	<td>12</td>	<td>74</td>	<td><div class='tt'><span class='ttt'>782:&nbsp;Ron&nbsp;Smith<br>784:&nbsp;Ron&nbsp;Smith<br>791:&nbsp;Ron&nbsp;Smith<br></span>3</div></td>	<td>1992</td>	<td>780-791</td>	<td>Michael Fleisher</td>	<td>Ron Smith</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>Enfleshlings</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1992</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M291&nbsp;(supplement)</span>2KYB'93</div></td>	<td>John Smith</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Shock Tactics</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1993</td>	<td>SFS16</td>	<td>John Smith</td>	<td><div class='tt'><span class='ttt'>Mike&nbsp;Hadley<br>Chris&nbsp;Weston</span><em>various</em></div></td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Scavenger of Souls: Prologue</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>1993</td>	<td>850-851</td>	<td><div class='tt'><span class='ttt'>Mike&nbsp;Fleisher<br>Alan&nbsp;McKenzie</span><em>various</em></div></td>	<td>Simon Coleby</td>	<td>&lt;--</td>	<td>Gary Gilbert</td>	</tr>
	<tr>	<td>[Scavenger of Souls]</td>	<td>8</td>	<td>48</td>	<td><div class='tt'><span class='ttt'>880:&nbsp;Chris&nbsp;Weston<br></span>1</div></td>	<td>1994</td>	<td>873-880</td>	<td>Michael Fleisher</td>	<td>Chris Weston</td>	<td>Mike Hadley</td>	<td>Bunty Mayhew</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td>Marching as to War</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>John Smith</td>	<td>Chris Weston</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Floating Covers <<</td></tr>
	<tr>	<td>Rogue Trooper Annual 1991</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1990</td>	<td>RTA</td>	<td>n/a</td>	<td>Will Simpson</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>Contents [concept art]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>n/a</td>	<td>Dave Gibbons</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Rogue&nbsp;Trooper<br>Subtitled:&nbsp;"A&nbsp;History&nbsp;of&nbsp;the&nbsp;Rogue&nbsp;Trooper".</span>Blast First</div></td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Michael Bonner</td>	<td><div class='tt'><span class='ttt'>Cam&nbsp;Kennedy<br>Brett&nbsp;Ewins<br>Steve&nbsp;Dillon<br></span><em>[reprints]</em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Rogue&nbsp;Trooper</span>Old Rogue | New Rogue</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>unknown</td>	<td>Chris Weston</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>Rogue&nbsp;Trooper<br>[Features]&nbsp;|&nbsp;Indexes<br></span>The Rogue Trooper Combat Index</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>unknown</td>	<td>[reprints]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td>Rogue Trooper</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1991</td>	<td>716</td>	<td>n/a</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Friday: On Your Mind - In Your Face</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1992</td>	<td>774</td>	<td>n/a</td>	<td>Oliver Frey</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Future War - Future Warrior!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1993</td>	<td>837</td>	<td>n/a</td>	<td>Ron Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rogue Trooper</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1993</td>	<td>SFS16</td>	<td>n/a</td>	<td>Ron Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Scavenger of Souls </td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1993</td>	<td>844</td>	<td>n/a</td>	<td>Simon Coleby</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}