<script src="../../js/Chart.min.js"></script>
<h2>Rogue Trooper [Fr1day]<img class="title" src="../../gfx/NortSouthS.png"></h2>

<p>Hold onto your continuity helmet! First there was <a href="../RogueTrooper/GoingRogue.html">Rogue Trooper</a>, but that tale eventually ground to a damp squib. So, it got a hard reboot in The War Machine, which introduced Alpha Company of the First Genetic Infantry. Trooper 19 (aka Fr1day) and his squad-mates Eight-Ball, Lucky and Top (equivalents, in order, of Rogue, Gunnar, Bagman and Helm) are launched from Highside (Milli-Com equivalent) to an unnamed planet to take and hold Hill 392. It plays out like a combination of <a href="https://www.imdb.com/title/tt0093137/" target="_blank">Hamburger Hill</a> and <a href="https://www.imdb.com/title/tt0083658/?ref_=nv_sr_srsg_3" target="_blank">Blade Runner</a>.</p>
<p>Michael Fleisher then takes over on script duties, and Fr1day drifts around various war zones where sometimes it's unclear even what planet he's on or how he got there. Realizing that aspects of the original were actually quite good ideas, the concept of personalized biochips of fallen comrades gets retconned back in.</p>
<p>Steve White then takes up the combat knife and, rather than avoid any more continuity struggles, he dives right in and retcons the two separate Rogueiverses into one by bringing over OG Rogue and <a href="../VenusBluegenes/data.html">Venus Bluegenes</a>. After some *things happen*, we're left with Fr1day, Top in the helmet, Lucky in the backpack and OG Gunnar, with Venus as an occasional battle-partner. Then, like a giant continuity loop of doom, this too squibs out and all we're left with are the night tremors.</p>

<!--
The War Machine		1989-1990
Fleisher's Fr1day	1990-1994
Let's Knife!		1994-1996
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "Fr1day (The War Machine)" %}<a class="disabled">The War Machine</a>{% else %}<a href="WarMachine.html#baseMenu">The War Machine</a>{% endif %}<br><span>(1989-1990)</span></td>
	<td>{% if page.title == "Fr1day (Fleisher's Fr1day)" %}<a class="disabled">Fleisher's Fr1day</a>{% else %}<a href="FleishersFr1day.html#baseMenu">Fleisher's Fr1day</a>{% endif %}<br><span>(1990-1994)</span></td>
	<td>{% if page.title == "Fr1day (Let's Knife!)" %}<a class="disabled">Let's Knife!</a>{% else %}<a href="LetsKnife.html#baseMenu">Let's Knife!</a>{% endif %}<br><span>(1994-1996)</span></td>
</tr>
</table>

<img src="Fr1day.webp" />
<p class="credit">Art by Will Simpson</p>

<ul class="AtoZ">
	<li>The 2000 AD ABC: <a href="https://youtu.be/Ry8KKQXkmb8" target="_blank">Rogue Trooper</a></li>
	<li>Shop: <a href="https://shop.2000ad.com/catalogue/GRN471" target="_blank">Rogue Trooper: The War Machine</a></li>
</ul>