---
layout: content
title: A-Z RT (The War Machine)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The War Machine [part 1]</td>	<td>4</td>	<td>22</td>	<td>0</td>	<td>1989</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M292&nbsp;(supplement)</span>650-653</div></td>	<td>Dave Gibbons</td>	<td>Will Simpson</td>	<td>&lt;--</td>	<td>Bambos</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Prog&nbsp;667&nbsp;has&nbsp;incorrect&nbsp;lettering.</span>The War Machine [part 2]</div></td>	<td>5</td>	<td><div class='tt'><span class='ttt'>+&nbsp;5&nbsp;credit&nbsp;pages</span>27</div></td>	<td>0</td>	<td>1990</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M292&nbsp;(supplement)</span>667-671</div></td>	<td>Dave Gibbons</td>	<td>Will Simpson</td>	<td>&lt;--</td>	<td>Bambos</td>	</tr>
	<tr>	<td>The War Machine [part 3]</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>+&nbsp;5&nbsp;credit&nbsp;pages</span>25</div></td>	<td><div class='tt'><span class='ttt'>687:&nbsp;Will&nbsp;Simpson<br></span>1w</div></td>	<td>1990</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M293&nbsp;(supplement)</span>683-687</div></td>	<td>Dave Gibbons</td>	<td>Will Simpson</td>	<td>&lt;--</td>	<td>Bambos</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>[Corrected lettering for prog 667]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>673</td>	<td>editorial</td>	<td>Will Simpson</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
</table>

{% include_relative postTable.html %}