<script src="../../js/Chart.min.js"></script>
<div id="ratingContainer">THRILL RATING<div id="thargRating" style="background-position: 0 -128px;"><!--Thrill Rating 5--></div></div>
<h2>Anderson Psi Division<img class="title" src="../../gfx/dreddS.png"></h2>

<p>Psi-Judge Cassandra Anderson introduced us to the Psi-Division of the Mega-City One Justice Department, as she battled the other-dimensional menace of <a href="../JudgeDeath/data.html">Judge Death</a>. Her early, breezy humour provided a counterpoint to <a href="../JudgeDredd/1980.html#baseMenu">Dredd</a>'s taciturnity. Branching out on her own she's variously dealt with psychic threats, resurgences from the <a href="../DarkJudges/data.html">Dark Judges</a> and a long-running feud with <a href="../OrlokTheAssassin/data.html">Orlok the Assassin</a>. She's even been known to go backpacking around the galaxy to find herself.</p>

<!--
Progs 1980-1991
Megs 1992-1996
Progs 1997-2002
Megs 2003-2014
Modern Era 2014-2023
Features
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>
		{% if page.title == "Anderson (1980-1991)" %}<a class="disabled">Progs<br>1980-1991</a>
		{% else %}<a href="1980.html#baseMenu">Progs<br>1980-1991</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Anderson (1992-1996)" %}<a class="disabled">Megs<br>1992-1996</a>
		{% else %}<a href="1992.html#baseMenu">Megs<br>1992-1996</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Anderson (1997-2002)" %}<a class="disabled">Progs<br>1997-2002</a>
		{% else %}<a href="1997.html#baseMenu">Progs<br>1997-2002</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Anderson (2003-2014)" %}<a class="disabled">Megs<br>2003-2014</a>
		{% else %}<a href="2003.html#baseMenu">Megs<br>2003-2014</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Anderson (2014-2023)" %}<a class="disabled">Modern Era<br>2014-2023</a>
		{% else %}<a href="2014.html#baseMenu">Modern Era<br>2014-2023</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Anderson (Features)" %}<a class="disabled">Features</a>
		{% else %}<a href="Features.html#baseMenu">Features</a>{% endif %}
	</td>
</tr>
</table>

<img src="andersonPsiDiv.webp" />
<p class="credit">Art by Boo Cook</p>

<ul class="AtoZ">
<li>The 2000 AD ABC: <a href="https://youtu.be/kRsbo_1U_8I" target="_blank">Anderson Psi Division</a></li>
<li>Shop: <a href="https://shop.2000ad.com/catalogue/GRN362" target="_blank">Anderson Psi Division</a></li>
</ul>