<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "A-Z Judge Giant, Jnr." %}<a class="disabled">Giant, Jnr.</a>{% else %}<a href="GiantJnr.html#baseMenu">Giant, Jnr.</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Giant, Snr." %}<a class="disabled">Giant, Snr.</a>{% else %}<a href="GiantSnr.html#baseMenu">Giant, Snr.</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Logan" %}<a class="disabled">Logan</a>{% else %}<a href="Logan.html#baseMenu">Logan</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judges Patsy & Wrexler" %}<a class="disabled">Patsy & Wrexler</a>{% else %}<a href="PatsyWrexler.html#baseMenu">Patsy & Wrexler</a>{% endif %}</td>
	<td><a href="../CorannLesleyRyan/data.html">Ryan, Corann (Psi)</a> &#8658;</td>
</tr>
</table>
