<a id="baseMenu"></a>
<table class="sections">
<!--GROUP BY SEVENS-->
<tr>
	<td>{% if page.title == "Judge Beeny" %}<a class="disabled">Beeny</a>{% else %}<a href="Beeny.html#baseMenu">Beeny</a>{% endif %}</td>
	<td>{% if page.title == "Judge Bruce" %}<a class="disabled">Bruce</a>{% else %}<a href="Bruce.html#baseMenu">Bruce</a>{% endif %}</td>
	<td>{% if page.title == "Judge Cal" %}<a class="disabled">Cal</a>{% else %}<a href="Cal.html#baseMenu">Cal</a>{% endif %}</td>
	<td>{% if page.title == "Judge Castillo" %}<a class="disabled">Castillo</a>{% else %}<a href="Castillo.html#baseMenu">Castillo</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dekker" %}<a class="disabled">Dekker</a>{% else %}<a href="Dekker.html#baseMenu">Dekker</a>{% endif %}</td>
	<td>{% if page.title == "Judge DeMarco" %}<a class="disabled">DeMarco</a>{% else %}<a href="DeMarco.html#baseMenu">DeMarco</a>{% endif %}</td>
	<td>{% if page.title == "Judge Edgar" %}<a class="disabled">Edgar</a>{% else %}<a href="Edgar.html#baseMenu">Edgar</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Fargo" %}<a class="disabled">Fargo</a>{% else %}<a href="Fargo.html#baseMenu">Fargo</a>{% endif %}</td>
	<td>{% if page.title == "Judge Flowers" %}<a class="disabled">Flowers</a>{% else %}<a href="Flowers.html#baseMenu">Flowers</a>{% endif %}</td>
	<td><a href="../StreetsOfDanFrancisco/data.html">Francisco</a> &#8658;</td>
	<td>{% if page.title == "Judge Gerhart" %}<a class="disabled">Gerhart</a>{% else %}<a href="Gerhart.html#baseMenu">Gerhart</a>{% endif %}</td>
	<td>{% if page.title == "Judge Giant, Jnr." %}<a class="disabled">Giant, Jnr.</a>{% else %}<a href="GiantJnr.html#baseMenu">Giant, Jnr.</a>{% endif %}</td>
	<td>{% if page.title == "Judge Giant, Snr." %}<a class="disabled">Giant, Snr.</a>{% else %}<a href="GiantSnr.html#baseMenu">Giant, Snr.</a>{% endif %}</td>
	<td>{% if page.title == "Judge Goodman" %}<a class="disabled">Goodman</a>{% else %}<a href="Goodman.html#baseMenu">Goodman</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Griffin" %}<a class="disabled">Griffin</a>{% else %}<a href="Griffin.html#baseMenu">Griffin</a>{% endif %}</td>
	<td>{% if page.title == "Judge Guthrie" %}<a class="disabled">Guthrie</a>{% else %}<a href="Guthrie.html#baseMenu">Guthrie</a>{% endif %}</td>
	<td>{% if page.title == "Judge Joyce, Fintan" %}<a class="disabled">Joyce, Fintan</a>{% else %}<a href="JoyceF.html#baseMenu">Joyce, Fintan</a>{% endif %}</td>
	<td>{% if page.title == "Judge Logan" %}<a class="disabled">Logan</a>{% else %}<a href="Logan.html#baseMenu">Logan</a>{% endif %}</td>
	<td>{% if page.title == "Judge Maitland" %}<a class="disabled">Maitland</a>{% else %}<a href="Maitland.html#baseMenu">Maitland</a>{% endif %}</td>
	<td>{% if page.title == "Judge Manners" %}<a class="disabled">Manners</a>{% else %}<a href="Manners.html#baseMenu">Manners</a>{% endif %}</td>
	<td>{% if page.title == "Judge McGruder" %}<a class="disabled">McGruder</a>{% else %}<a href="McGruder.html#baseMenu">McGruder</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Morphy" %}<a class="disabled">Morphy</a>{% else %}<a href="Morphy.html#baseMenu">Morphy</a>{% endif %}</td>
	<td>{% if page.title == "Patsy & Wrexler" %}<a class="disabled">Patsy & Wrexler</a>{% else %}<a href="PatsyWrexler.html#baseMenu">Patsy & Wrexler</a>{% endif %}</td>
	<td>{% if page.title == "Judge Pin" %}<a class="disabled">Pin</a>{% else %}<a href="Pin.html#baseMenu">Pin</a>{% endif %}</td>	
	<td>{% if page.title == "Judge Prager" %}<a class="disabled">Prager</a>{% else %}<a href="Prager.html#baseMenu">Prager</a>{% endif %}</td>
	<td>{% if page.title == "Judge Rico" %}<a class="disabled">Rico</a>{% else %}<a href="Rico.html#baseMenu">Rico</a>{% endif %}</td>
	<td>{% if page.title == "Judge Roffman" %}<a class="disabled">Roffman</a>{% else %}<a href="Roffman.html#baseMenu">Roffman</a>{% endif %}</td>
	<td><a href="../CorannLesleyRyan/data.html">Ryan, Corann</a> &#8658;</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Sadu" %}<a class="disabled">Sadu</a>{% else %}<a href="Sadu.html#baseMenu">Sadu</a>{% endif %}</td>
	<td>{% if page.title == "Judge Sam" %}<a class="disabled">Sam</a>{% else %}<a href="Sam.html#baseMenu">Sam</a>{% endif %}</td>
	<td>{% if page.title == "Judge Shakta" %}<a class="disabled">Shakta</a>{% else %}<a href="Shakta.html#baseMenu">Shakta</a>{% endif %}</td>
	<td>{% if page.title == "Judge Shenker" %}<a class="disabled">Shenker</a>{% else %}<a href="Shenker.html#baseMenu">Shenker</a>{% endif %}</td>
	<td>{% if page.title == "Judge Silver" %}<a class="disabled">Silver</a>{% else %}<a href="Silver.html#baseMenu">Silver</a>{% endif %}</td>
	<td>{% if page.title == "Judge Sinfield" %}<a class="disabled">Sinfield</a>{% else %}<a href="Sinfield.html#baseMenu">Sinfield</a>{% endif %}</td>
	<td>{% if page.title == "Judge Smiley" %}<a class="disabled">Smiley</a>{% else %}<a href="Smiley.html#baseMenu">Smiley</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Volt" %}<a class="disabled">Volt</a>{% else %}<a href="Volt.html#baseMenu">Volt</a>{% endif %}</td>
</tr>
</table>
