<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "Judge Cal" %}<a class="disabled">Cal</a>{% else %}<a href="Cal.html#baseMenu">Cal</a>{% endif %}</td>
	<td>{% if page.title == "Judge Fargo" %}<a class="disabled">Fargo</a>{% else %}<a href="Fargo.html#baseMenu">Fargo</a>{% endif %}</td>
	<td>{% if page.title == "Judge Giant, Jnr." %}<a class="disabled">Giant, Jnr.</a>{% else %}<a href="GiantJnr.html#baseMenu">Giant, Jnr.</a>{% endif %}</td>
	<td>{% if page.title == "Judge Giant, Snr." %}<a class="disabled">Giant, Snr.</a>{% else %}<a href="GiantSnr.html#baseMenu">Giant, Snr.</a>{% endif %}</td>
	<td>{% if page.title == "Judge Logan" %}<a class="disabled">Logan</a>{% else %}<a href="Logan.html#baseMenu">Logan</a>{% endif %}</td>
	<td>{% if page.title == "Patsy & Wrexler" %}<a class="disabled">Patsy & Wrexler</a>{% else %}<a href="PatsyWrexler.html#baseMenu">Patsy & Wrexler</a>{% endif %}</td>
	<td>{% if page.title == "Judge Rico" %}<a class="disabled">Rico</a>{% else %}<a href="Rico.html#baseMenu">Rico</a>{% endif %}</td>
</tr>
<tr>
	<td><a href="../CorannLesleyRyan/data.html">Ryan, Corann</a> &#8658;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</table>
