---
layout: content
title: Harlem Heroes
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Harlem Heroes</td>	<td>27</td>	<td>112</td>	<td><div class='tt'><span class='ttt'>9:&nbsp;Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1977</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X13<br>2KA'83&nbsp;(partial:&nbsp;1&#8209;5)<br></span>1-27</div></td>	<td><div class='tt'><span class='ttt'>1:&nbsp;Pat&nbsp;Mills<br>1&#8209;27:&nbsp;Tom&nbsp;Tully<br></span><em>various</em></div></td>	<td><div class='tt'><span class='ttt'>Carlos&nbsp;Trigo:&nbsp;1&nbsp;(p5)<br>Dave&nbsp;Gibbons:&nbsp;1&#8209;24<br>Massimo&nbsp;Belardinelli:&nbsp;25&#8209;27<br></span><em>various</em></div></td>	<td>[b&w]</td>	<td><div class='tt'><span class='ttt'>Bill&nbsp;Nuttall:&nbsp;1<br>Dave&nbsp;Gibbons:&nbsp;1&#8209;24<br>John&nbsp;Aldrich:&nbsp;25<br>Peter&nbsp;Knight:&nbsp;26&#8209;27<br></span><em>various</em></div></td>	</tr>
	<tr>	<td>Berlin Stadium</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>unknown</td>	<td>[greyscale]</td>	<td>unknown</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Inferno</span>Inferno</div></td>	<td>40</td>	<td>181.5</td>	<td><div class='tt'><span class='ttt'>68:&nbsp;Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1977-1978</td>	<td>36-75</td>	<td>Tom Tully</td>	<td>Massimo Belardinelli</td>	<td>&lt;--6pp, [b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Apache Demons] </td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>&lt;--</td>	<td>unknown</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.<br>A&nbsp;"reimagining".<br></span>Hike Harlem Heroes</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1997</td>	<td>1034-S</td>	<td><div class='tt'><span class='ttt'>David&nbsp;Bishop<br>Steve&nbsp;MacManus</span><em>various</em></div></td>	<td>Jason Brashill</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Whatever&nbsp;Happened&nbsp;to...</span>John Giant Clay?</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2004</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M388&nbsp;(supplement)</span>M216</div></td>	<td>Gordon Rennie</td>	<td>Rufus Dayglo</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;[One&#8209;Offs]&nbsp;|&nbsp;2000&nbsp;AD&nbsp;Specials<br>Alternity.</span>Harlem Zombos</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2024</td>	<td>SFS28</td>	<td>Al Ewing</td>	<td>Boo Cook</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>

	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>2000AD&nbsp;Futuregraph.</span>Power Gear</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X13&nbsp;&nbsp;</span>2</div></td>	<td>unknown</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>2000AD&nbsp;Futuregraph.</span>Super Liner</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td>6</td>	<td>unknown</td>	<td>Kevin O'Neill</td>	<td>&lt;--</td>	<td>unknown</td>	</tr>
	<tr>	<td>Harlem Heroes</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>2KA'82</td>	<td>editorial</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000 AD Fear-File: Artie Gruber</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>2KA'84</td>	<td>editorial</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>[Unprinted dummy pages]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2006</td>	<td>X13</td>	<td>unknown</td>	<td>Trigo</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<td colspan="10" class="section bold">>> Posters <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Pin&#8209;Up.</span>Artie Gruber</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>74</td>	<td>n/a</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<td colspan="10" class="section bold">>> Floating Covers <<</td></tr>
	<tr>	<td>The Beautiful Game</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2006</td>	<td>X13</td>	<td>n/a</td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}