---
layout: content
title: A-Z The Harlem Heroes
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The Harlem Heroes</td>	<td>28</td>	<td>159</td>	<td><div class='tt'><span class='ttt'>671:&nbsp;Kevin&nbsp;Walker<br>675:&nbsp;Steve&nbsp;Dillon<br>683:&nbsp;Steve&nbsp;Dillon<br>684:&nbsp;Steve&nbsp;Dillon<br>694:&nbsp;Steve&nbsp;Dillon<br>705:&nbsp;Kev&nbsp;Hopgood</span>6</div></td>	<td>1990</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M357&#8209;M360,&nbsp;M362&nbsp;(supplements)</span>671-676,683-699,701-705</div></td>	<td>Michael Fleisher</td>	<td><div class='tt'><span class='ttt'>Steve&nbsp;Dillon&nbsp;(P:&nbsp;1&#8209;25)<br>Kevin&nbsp;Walker&nbsp;(P:&nbsp;26&#8209;27;&nbsp;I:&nbsp;1&#8209;16,&nbsp;18&#8209;26)<br>Simon&nbsp;Jacob&nbsp;(I:&nbsp;17,&nbsp;27)<br>Kev&nbsp;Hopgood:&nbsp;28</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Bambos Georgiou</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled&nbsp;"Harlem&nbsp;Heroes&nbsp;featuring&nbsp;Slice".</span>Death-Sport</div></td>	<td>5</td>	<td>30</td>	<td>0</td>	<td>1991</td>	<td>745-749</td>	<td>Michael Fleisher</td>	<td>Geoff Senior</td>	<td>&lt;--</td>	<td>Pat Prentice</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled&nbsp;"Harlem&nbsp;Heroes&nbsp;featuring&nbsp;Silver".</span>Grey Ghost Overflight</div></td>	<td>4</td>	<td>22</td>	<td>0</td>	<td>1992</td>	<td>776-779</td>	<td>Michael Fleisher</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Mary Green</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled&nbsp;"Harlem&nbsp;Heroes".</span>Cyborg Death Trip</div></td>	<td>12</td>	<td>73</td>	<td><div class='tt'><span class='ttt'>931:&nbsp;Siku<br></span>1</div></td>	<td>1995</td>	<td>928-939</td>	<td>Michael Fleisher</td>	<td><div class='tt'><span class='ttt'>Kev&nbsp;Hopgood&nbsp;(P),<br>Siku&nbsp;(I)</span><em>various</em></div></td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	
	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td>Rap Sheet: Silver</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>671</td>	<td>n/a</td>	<td>Steve Dillon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rap Sheet: Slice</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>672</td>	<td>n/a</td>	<td>Steve Dillon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rap Sheet: Patrice</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>673</td>	<td>n/a</td>	<td>Steve Dillon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rap Sheet: Trips</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>674</td>	<td>n/a</td>	<td>Steve Dillon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rap Sheet: Deacon</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>675</td>	<td>n/a</td>	<td>Steve Dillon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Scan.</span>Dex Ruger of Harlem Heroes</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>933</td>	<td>n/a</td>	<td>Kev Hopgood</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Scan.</span>Jasmine Starr of Harlem Heroes</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>934</td>	<td>n/a</td>	<td>Kev Hopgood</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}