---
layout: content
title: Vector 13 (Caseload 1)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Case One: Who Was the Mothman?</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>951</td>	<td>Shaky Kane</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Two: In Hollow Lands</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Dougie&nbsp;Braithwaite&nbsp;&&nbsp;Hal&nbsp;9000<br></span>1</div></td>	<td>1995</td>	<td>952</td>	<td>Kek-W</td>	<td>Paul Marshall</td>	<td>Dondie Cox</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Three: Circle of Evil</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>953</td>	<td>Nick Abadzis</td>	<td>Kevin Cullen</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Four: Parallel Lines</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>954</td>	<td>John Tomlinson</td>	<td>Lee Sullivan</td>	<td>Robin Riggs</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Five: The Henderson Event</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>955</td>	<td>Alan McKenzie</td>	<td>Dave D'Antiquis</td>	<td>Dondie Cox</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Six: Marion</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M312&nbsp;(supplement)</span>956</div></td>	<td>Dan Abnett</td>	<td>Sean Phillips</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Seven: Are They Cats?</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>957</td>	<td>Peter Hogan</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Eight: Echo Location</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>958</td>	<td>Dan Abnett</td>	<td>Nigel Dobbyn</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Nine: Spear of Destiny</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>959</td>	<td>Peter Hogan</td>	<td>David Hine</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case 459: Sheep's Clothing</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>WS7</td>	<td>Dan Abnett</td>	<td>Lee Sullivan</td>	<td>Dondie Cox</td>	<td>Tom Frame</td>	</tr>
</table>

{% include_relative postTable.html %}