---
layout: content
title: Vector 13 (Caseload 6)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Case One: Houdini</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1078</td>	<td>Dan Abnett</td>	<td>Robert McCallum</td>	<td>Dondie Cox</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Two: Chill Out</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1079</td>	<td>D. McDonagh</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Case Three: Shades of Grey</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1080</td>	<td>Dan Abnett</td>	<td>Robert McCallum</td>	<td>Dondie Cox</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Case Four: Einstein's Monsters</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1081</td>	<td>Gordon Rennie</td>	<td>Cyril Julien</td>	<td>Dondie Cox</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Case Five: Seal of Solomon</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1082</td>	<td>Gordon Rennie</td>	<td>Alex Ronald</td>	<td>Gary Caldwell</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Case Six: Godhead Revisited</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Dermot&nbsp;Power<br></span>1</div></td>	<td>1998</td>	<td>1083</td>	<td>Dan Abnett</td>	<td><div class='tt'><span class='ttt'>As&nbsp;Neal&nbsp;Brand.<br></span><em>Allan Bednar</em></div></td>	<td>Dondie Cox</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Divine Fury</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1117</td>	<td>Lee Marks</td>	<td>Cliff Robinson</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
</table>

{% include_relative postTable.html %}