---
layout: content
title: A-Z Vector 13 (Caseload 2)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Case One: Berserkers</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>965</td>	<td>Brian Williamson</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Two: Danse Macabre</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>966</td>	<td>Dan Abnett</td>	<td>Kevin Cullen</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Three: Heatwave</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>967</td>	<td>Kevin Gill</td>	<td>Dave D'Antiquis</td>	<td>Junior Tomlin</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Four: Operation Mordred</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Cliff&nbsp;Robinson&nbsp;&&nbsp;Hal&nbsp;9000<br></span>1</div></td>	<td>1995</td>	<td>968</td>	<td>Peter Hogan</td>	<td>Lee Sullivan</td>	<td>Gina Hart</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Five: Shadrach</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>969</td>	<td>Dan Abnett</td>	<td>Nick Percival</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Six: A Salver in the Heavens</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>970</td>	<td>Dan Abnett</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Seven: Psi-Wars</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>971</td>	<td>Kek-W</td>	<td>Kevin Cullen</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Eight: Red in Tooth and Claus</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Kevin&nbsp;Walker<br></span>1</div></td>	<td>1995</td>	<td>972</td>	<td>John Tomlinson</td>	<td>Lee Sullivan</td>	<td>Alan Craddock</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Nine: Blackout</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>973</td>	<td>Dan Abnett</td>	<td>Mike Perkins</td>	<td>Dondie Cox</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Ten: Thrillkill</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M336&nbsp;(supplement)</span>974</div></td>	<td>Brian Williamson</td>	<td>John Burns</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case Eleven: K2</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>975</td>	<td>Kevin Gill</td>	<td>Mike Hadley</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
</table>

{% include_relative postTable.html %}