---
layout: content
title: Vector 13 (Caseload 3)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Case Zero: Oath of Office</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>987</td>	<td>Gordon Rennie</td>	<td>Garry Marshall</td>	<td>Simon Jacob</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Case One: Extraction Point</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Jason&nbsp;Brashill<br></span>1</div></td>	<td>1996</td>	<td>988</td>	<td>Simon Jowett</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Two: Trinity</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>989</td>	<td>Simon Furman</td>	<td>John Higgins / TCS</td>	<td>John Higgins</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Three: The Dream Factory</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>990</td>	<td>Kek-W</td>	<td>Steve Yeowell</td>	<td>Del Frost</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Four: Parts and Labour</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M312&nbsp;(supplement)</span>991</div></td>	<td>Dan Abnett</td>	<td>Mick Austin</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Five: Assassin</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>992</td>	<td>Alan McKenzie</td>	<td>Dave D'Antiquis</td>	<td>Alanna D'Antiquis</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Six: Screaming Friar</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>993</td>	<td>Brian Williamson</td>	<td>John Burns</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Seven: Buzz-Saw</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>994</td>	<td>Kevin Gill</td>	<td>Kevin Cullen</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Eight: Worlds at War</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>995</td>	<td>Dan Abnett</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Nine: Down to the Woods</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>996</td>	<td>Brian Williamson</td>	<td>Kevin Cullen</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Ten: Video Nasty</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M311&nbsp;(supplement)</span>997</div></td>	<td>Pat Mills</td>	<td>John Ridgway</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case Eleven: Imaginary Friend</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>1996</td>	<td>998-999</td>	<td>Nick Abadzis</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Case 667: Suburban Hell</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>SFS19-S</td>	<td>Igor Goldkind</td>	<td>Nick Abadzis, Dix</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Floating Covers <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Front&nbsp;cover.<br>Faux&nbsp;magazine.<br></span>V13 Times - Issue 666</div></td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1996</td>	<td>SFS19-S</td>	<td>n/a</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Back&nbsp;cover.<br>Faux&nbsp;magazine.<br></span>V13 Times </div></td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1996</td>	<td>SFS19-S</td>	<td>n/a</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Three Wise Men in Black</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1996</td>	<td>1023</td>	<td>n/a</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Faux&nbsp;magazine.</span>Grey Areas</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1996</td>	<td>SFS19-S</td>	<td>C. Norman Furlman</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Faux&nbsp;magazine.</span>Silence in Heaven</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1996</td>	<td>SFS19-S</td>	<td>unknown</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Fine&nbsp;Art&nbsp;Print.</span>[Mulder & Scully]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>1015</td>	<td>n/a</td>	<td>Kevin Walker</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}