<script src="../../js/Chart.min.js"></script>
<h2>Vector 13</h2>

<p>Clearly inspired by <a href="https://en.wikipedia.org/wiki/The_X-Files" target="_blank">The X-Files</a>, each of these standalone <strike><a href="../TerrorTales/data.html">terror tales</a></strike> cases is introduced by the inhuman-seeming <a href="https://en.wikipedia.org/wiki/Men_in_black" target="_blank">men in black</a>, who act as a narrative cipher. This manages to drop the most effective thing about The X-Files, which was that Mulder & Scully tied the series together and made it more than just a sequence of <a href="https://en.wikipedia.org/wiki/The_Twilight_Zone" target="_blank">Twilight Zone</a> episodes (well, until it became apparent that there wasn't going to be a satisfactory narrative arc, at any rate).</p>
<p>On a meta-level, editorial forces attempted to oust <a href="../ThargTheMighty/Stories.html">Tharg</a> and replace him with the men in black. Tharg was clearly toying with the earthlets, and perhaps engineered the entire coup in order to take a vacation to the shoulder of Orion. Needless to say, Tharg ultimately remains the editor, and the miscreants were sent to Mek-Quake for reeducation.</p>


<!--
	Caseload #1
	Caseload #2
	Caseload #3
	Caseload #4
	Caseload #5
	Caseload #6
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "Vector 13 (Caseload 1)" %}<a class="disabled">Caseload #1</a>{% else %}<a href="Caseload1.html#baseMenu">Caseload #1</a>{% endif %}</td>
	<td>{% if page.title == "Vector 13 (Caseload 2)" %}<a class="disabled">Caseload #2</a>{% else %}<a href="Caseload2.html#baseMenu">Caseload #2</a>{% endif %}</td>
	<td>{% if page.title == "Vector 13 (Caseload 3)" %}<a class="disabled">Caseload #3</a>{% else %}<a href="Caseload3.html#baseMenu">Caseload #3</a>{% endif %}</td>
	<td>{% if page.title == "Vector 13 (Caseload 4)" %}<a class="disabled">Caseload #4</a>{% else %}<a href="Caseload4.html#baseMenu">Caseload #4</a>{% endif %}</td>
	<td>{% if page.title == "Vector 13 (Caseload 5)" %}<a class="disabled">Caseload #5</a>{% else %}<a href="Caseload5.html#baseMenu">Caseload #5</a>{% endif %}</td>
	<td>{% if page.title == "Vector 13 (Caseload 6)" %}<a class="disabled">Caseload #6</a>{% else %}<a href="Caseload6.html#baseMenu">Caseload #6</a>{% endif %}</td>
</tr>
</table>

<img src="Vector13.png" />
<p class="credit">Art by Chris Weston</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/Ur2Lm5u7o10" target="_blank">The 2000 AD ABC: Vector 13</a></li>
</ul>