<script src="../../js/Chart.min.js"></script>
<h2>Robo-Hunter</h2>

<p>Sam Slade and his sidekicks created a new genre: robo-noire-com. Key to the Robo-Hunter mythos are the later addition (during Day of the Droids) of Sam's idiotic assistants Hoagy and Carlos Sanchez Robo-Stogie (a Cuban cigar determined to help Sam quit smoking). These foils form the comedic backbone of the strip for years to come.</p>
<p>The 90s reboot version throws away the established continuity and plays the characters like a sort of sadistic jazz, which improves somewhat when Hogan and Hughes take over but is ultimately quietly shelved.</p>
<p>Samantha Slade (Sam's granddaughter) forms the basis for a new series (2003-2007) with some of the original creators, capturing something of the wit and vigour of the original (although the energy once put into the supporting cast of robotic characters feels somewhat diminished). As this also drifted out of play, we've had a few one-off flashbacks for the original format Sam in specials (2014-2016), but nothing long-form.</p>

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>
		{% if page.title == "Robo-Hunter (Sam Slade)" %}<a class="disabled">Sam Slade</a>
		{% else %}<a href="SamSlade.html#baseMenu">Sam Slade</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Robo-Hunter (ReBoots)" %}<a class="disabled">[90s ReBoots]</a>
		{% else %}<a href="ReBoots.html#baseMenu">[90s ReBoots]</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Robo-Hunter (Samantha Slade)" %}<a class="disabled">Samantha Slade</a>
		{% else %}<a href="SamanthaSlade.html#baseMenu">Samantha Slade</a>{% endif %}
	</td>
</tr>
</table>

<img src="samSladeH.png" /> <img src="samanthaSladeH.png" />
<p class="credit">Art by Ian Gibson</p>

<ul class="AtoZ">
<li>The 2000 AD ABC: <a href="https://youtu.be/U3m6wLFbT3w" target="_blank">Robo-Hunter</a></li>
<li>Shop: <a href="https://shop.2000ad.com/catalogue/GRN364" target="_blank">Robo-Hunter</a></li>
</ul>