---
layout: content
title: A-Z Robo-Hunter (ReBoots)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Robo-Hunter</td>	<td>12</td>	<td>72</td>	<td><div class='tt'><span class='ttt'>729:&nbsp;Jose&nbsp;Casanovas<br>732:&nbsp;Jose&nbsp;Casanovas</span>2</div></td>	<td>1991</td>	<td>723-734</td>	<td>Mark Millar</td>	<td>Jose Casanovas</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Return of the Puppet Master</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1991</td>	<td>SFS14</td>	<td>Mark Millar</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Killer Grannies</td>	<td>1</td>	<td>9</td>	<td>0</td>	<td>1991</td>	<td>2KYB'92</td>	<td>Mark Millar</td>	<td>Graham Higgins</td>	<td>[greyscale]</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>Escape From Bisleyland</td>	<td>10</td>	<td>61</td>	<td><div class='tt'><span class='ttt'>753:&nbsp;Anthony&nbsp;Williams<br>759:&nbsp;Anthony&nbsp;Williams<br></span>2</div></td>	<td>1991</td>	<td>750-759</td>	<td>Mark Millar</td>	<td>Anthony Williams</td>	<td>&lt;--</td>	<td>Gary Gilbert</td>	</tr>
	<tr>	<td>Something for the Weekend Sir?</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1992</td>	<td>SFS15</td>	<td>John Smith</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Return to Verdus</td>	<td>11</td>	<td>64</td>	<td>0</td>	<td>1992</td>	<td>792-802</td>	<td>Mark Millar</td>	<td>Jose Casanovas & Jnr.</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Succubus</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1992</td>	<td>2KYB'93</td>	<td>Mark Millar</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Ace of Slades</td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>814:&nbsp;Anthony&nbsp;Williams<br></span>1</div></td>	<td>1992-1993</td>	<td>813-816</td>	<td>Mark Millar</td>	<td>Anthony Williams</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Serial Stunners</td>	<td>4</td>	<td>23</td>	<td>0</td>	<td>1993</td>	<td>819-822</td>	<td>Mark Millar</td>	<td>Jose Casanovas</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled:&nbsp;"Sam&nbsp;Slade:&nbsp;Robo&#8209;Hunter".</span>Keith the Killer Robot</div></td>	<td>3</td>	<td>18</td>	<td><div class='tt'><span class='ttt'>827:&nbsp;Anthony&nbsp;Williams<br></span>1</div></td>	<td>1993</td>	<td>825-827</td>	<td>Mark Millar</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled:&nbsp;"Sam&nbsp;Slade:&nbsp;Robo&#8209;Hunter".</span>Slade Runner</div></td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1993</td>	<td>2KYB'94</td>	<td>Peter Hogan</td>	<td>Rian Hughes</td>	<td>[greyscale]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled:&nbsp;"Sam&nbsp;Slade:&nbsp;Robo&#8209;Hunter".</span>Winnegan's Fake</div></td>	<td>3</td>	<td>18</td>	<td>0</td>	<td>1993</td>	<td>852-854</td>	<td>Peter Hogan</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>Rian Hughes</td>	</tr>
	<tr>	<td>The Robotic Revenge of Dr Robotski</td>	<td>4</td>	<td>24</td>	<td>0</td>	<td>1994</td>	<td>881-884</td>	<td>Mark Millar</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>Bunty Mayhew</td>	</tr>
	<tr>	<td>Fax and Deductions</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1994</td>	<td>SFS17</td>	<td>Peter Hogan</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Metrobolis</td>	<td>8</td>	<td>48</td>	<td><div class='tt'><span class='ttt'>910:&nbsp;Rian&nbsp;Hughes<br></span>1</div></td>	<td>1994</td>	<td>904-911</td>	<td>Peter Hogan</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>War of the Noses</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1996</td>	<td>1023</td>	<td>Peter Hogan</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	
	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td>The Hoagyman</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1994</td>	<td>WS6 </td>	<td>Peter Hogan</td>	<td>Rian Hughes</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>Robo-Hunter</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1991</td>	<td>SFS14</td>	<td>Mike Butcher</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td>Only Resting … Back Soon</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1992</td>	<td>786</td>	<td>n/a</td>	<td>Cliff Robinson</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Tharg's&nbsp;Thrill&nbsp;Archives</span>Part 7: Sam Slade Robo-Hunter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1993</td>	<td>864</td>	<td>n/a</td>	<td>Cliff Robinson</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Scan.</span>Robo-Hunter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>935</td>	<td>n/a</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Scan.</span>Robo-Hunter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>956</td>	<td>n/a</td>	<td>Mike Hadley</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}