---
layout: content
title: Robo-Hunter (Samantha Slade)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Like a Virgin</td>	<td>4</td>	<td>20</td>	<td>0</td>	<td>2003-2004</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M307&nbsp;(supplement)</span>p2004, 1371-1373</div></td>	<td>Alan Grant</td>	<td>Ian Gibson</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Furzt Case</td>	<td>6</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>1406:&nbsp;Ian&nbsp;Gibson<br>1409:&nbsp;Ian&nbsp;Gibson<br></span>2</div></td>	<td>2004</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M307&nbsp;(supplement)</span>1406-1411</div></td>	<td>Alan Grant</td>	<td>Ian Gibson</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Davinchy Code</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2004</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M307&nbsp;(supplement)</span>p2005</div></td>	<td>Alan Grant</td>	<td>Ian Gibson</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Stim</td>	<td>7</td>	<td>35</td>	<td><div class='tt'><span class='ttt'>1454:&nbsp;Boo&nbsp;Cook<br></span>1</div></td>	<td>2005</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M308&nbsp;(supplement)</span>1450-1456</div></td>	<td>Alan Grant</td>	<td>Ian Gibson</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Casino Royal</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>1530:&nbsp;Ian&nbsp;Gibson<br></span>1</div></td>	<td>2007</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M308&nbsp;(supplement)</span>1527-1531</div></td>	<td>Alan Grant</td>	<td>Ian Gibson</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>I, Jailbird</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>1548:&nbsp;Dylan&nbsp;Teague<br></span>1</div></td>	<td>2007</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M309&nbsp;(supplement)</span>1545-1549</div></td>	<td>Alan Grant</td>	<td><div class='tt'><span class='ttt'>1&#8209;2&nbsp;Ian&nbsp;Gibson&nbsp;<br>3&#8209;5&nbsp;Anthony&nbsp;Williams<br></span><em>various</em></div></td>	<td>&lt;--</td>	<td><div class='tt'><span class='ttt'>1&#8209;2,4&#8209;5&nbsp;Annie&nbsp;Parkhouse<br>3&nbsp;Simon&nbsp;Bowland<br></span><em>various</em></div></td>	</tr>
</table>

{% include_relative postTable.html %}