---
layout: content
title: Games & Quizzes
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>[Tharg's Close-Up Objects]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>T.M.O.</td>	<td>[photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Crossword</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>editorial</td>	<td>n/a</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Multi&#8209;part&nbsp;card&nbsp;game.</span>Supernova [card game]</div></td>	<td>6</td>	<td>6.5</td>	<td>0</td>	<td>1978</td>	<td>46-51</td>	<td>editorial</td>	<td>unknown</td>	<td>&lt;-- 6pp, [b&w rules]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Cosmic Crossword</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>T.M.O.</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000AD Super Sci-Fi Crossword</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>84</td>	<td>Robert Cornish</td>	<td>n/a</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Cosmic Puzzle</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1979</td>	<td>SFS2</td>	<td>T.M.O.</td>	<td>[Tharg photo]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>What is Your 2000 AD IQ?</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Mek-Quake's Puzzle Corner</td>	<td>3</td>	<td>1.5</td>	<td>0</td>	<td>1980</td>	<td>150-151, 162</td>	<td>editorial</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mighty Birthday Quiz</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1980</td>	<td>156</td>	<td>T.M.O.</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mighty Puzzle Pages</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1980</td>	<td>SFS3</td>	<td>T.M.O.</td>	<td><div class='tt'><span class='ttt'>&&nbsp;reprints.<br></span><em>Carlos Ezquerra</em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Mighty Tharg's Cosmic Puzzle Pages</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1980</td>	<td>2KA'81</td>	<td>T.M.O.</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Birthday Quiz: Famous Last UH! Words</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>208</td>	<td>T.M.O.</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mighty Puzzle Pages</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>SFS4</td>	<td>T.M.O.</td>	<td><div class='tt'><span class='ttt'>&&nbsp;reprints.<br></span><em>Carlos Ezquerra</em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000AD Word Search</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1981</td>	<td>219</td>	<td>editorial</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mighty Puzzle Pages</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>2KA'82</td>	<td>T.M.O.</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mighty 2000 AD Crossword</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1981</td>	<td>2KA'82</td>	<td>Warren Jones</td>	<td>n/a</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Could You Replace the Mighty Tharg?</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>2KA'82</td>	<td>T.M.O.</td>	<td>Carlos Ezquerra</td>	<td>[monochrome]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Destroy the Invaders: A 2000AD Board Game</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>233</td>	<td>editorial</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Burt's Xmas Quiz</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1981</td>	<td>244</td>	<td>editorial</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Cosmic Crossword</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1982</td>	<td>258</td>	<td>editorial</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Cosmic Challenge</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>SFS6</td>	<td>T.M.O.</td>	<td>[Tharg photo]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Godfrey's Grids</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>2KA'84</td>	<td>Tony Godfrey</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Mega Crossword</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1983</td>	<td>2KA'84</td>	<td>editorial</td>	<td>n/a</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The 2000 AD Puzzle Book</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1984</td>	<td>2KA'85</td>	<td>T.M.O.</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Mighty Tharg's Hologram Quiz!</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1985</td>	<td>SFS8</td>	<td>T.M.O.</td>	<td><div class='tt'><span class='ttt'>Reprint.<br></span><em>Tharg's Future Worlds </em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Burt's Mega Christmas Quiz</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1986</td>	<td>502</td>	<td>Richard Burton</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Question Time 2: An Art Searching Problem</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>2KA'88</td>	<td>editorial</td>	<td>Ian Gibson</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Burt's Xmas Quiz</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>554</td>	<td>Richard Burton</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Quiz.</span>Who Said That?</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>2KA'90</td>	<td>editorial</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Reprint&nbsp;of&nbsp;The&nbsp;UglyBug&nbsp;Ball&nbsp;splash&nbsp;from&nbsp;prog&nbsp;447.</span>Spot the Thrill-Sucker</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1989</td>	<td>2KA'90</td>	<td>editorial</td>	<td><div class='tt'><span class='ttt'>Reprint.<br></span><em>Cliff Robinson</em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000 AD IQ</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1991</td>	<td>2KYB'92</td>	<td>unknown</td>	<td>reprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Circuit-Snapping Quaxxann Christmas Quiz</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>2014</td>	<td>p2015</td>	<td>T.M.O.</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Quiz Pages</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2018</td>	<td>FCBD8R</td>	<td>Joko-Jargo</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Chet Jetstream: Hell Island</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2018</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KRC1</span>FCBD8R</div></td>	<td>Henry Flint</td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>Henry Flint</td>	</tr>
	<tr>	<td>Joko's Colour Contest</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>2019</td>	<td>2130R</td>	<td>Joko-Jargo</td>	<td>Chris Weston</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrill-Search</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2021</td>	<td>2233R</td>	<td>Joko-Jargo</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}