---
layout: content
title: Movie Reviews
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Star Wars</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1977</td>	<td>44</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Kingdom of the Spiders</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1978</td>	<td>SFS1</td>	<td>unknown</td>	<td>[photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Empire of the Ants</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1978</td>	<td>SFS1</td>	<td>unknown</td>	<td>[photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Warlords of Atlantis</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>SFS1</td>	<td>unknown</td>	<td>Mike Tither [photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Special&nbsp;Film&nbsp;Report.</span>Superman: The Technology</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1979</td>	<td>99</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Meteor: An Epic New Disaster Movie!</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1979</td>	<td>SFS2</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Empire Strikes Back</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1980</td>	<td>SFS3</td>	<td>unknown</td>	<td>[photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Special Effects in Sci-Fi Movies</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1980</td>	<td>2KA'81</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Desert Asteroid Authors</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1981</td>	<td>SFS4</td>	<td>Christopher Bendel</td>	<td>[photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Easy Riders</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1981</td>	<td>JDA'82</td>	<td>Brian Burrell</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Dragonslayer</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>SFS5</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>A&nbsp;2000&nbsp;AD&nbsp;Colourscan.</span>Return of the Jedi</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1983</td>	<td>SFS6</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000AD Photo-Review: Superman III</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1983</td>	<td>326</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>A&nbsp;2000&nbsp;AD&nbsp;Colourscan.</span>The Right Stuff</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1984</td>	<td>SFS7</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Movie&nbsp;reviews.</span>Future Wars</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1990</td>	<td>RTA</td>	<td>Sydney Falso</td>	<td>[prod. photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Judge&nbsp;Dredd&nbsp;movie&nbsp;article.</span>Word of Law!</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1995</td>	<td>950</td>	<td>Jane Killick</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Judge&nbsp;Dredd&nbsp;movie&nbsp;letters&nbsp;page.</span>Film 2117</div></td>	<td>7</td>	<td>19</td>	<td>0</td>	<td>1995</td>	<td>M3.05, 3.07, 3.09-3.13</td>	<td>editorial / letters</td>	<td>[prod. photos]</td>	<td>n/a</td>	<td>n/a</td>	</tr>
	<tr>	<td>[ID4 Feature] </td>	<td>3</td>	<td>3</td>	<td><div class='tt'><span class='ttt'>1004:&nbsp;Jim&nbsp;Murray<br></span>1</div></td>	<td>1996</td>	<td>1003-1004</td>	<td>editorial</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Full&nbsp;title:&nbsp;Star&nbsp;Wars:&nbsp;Episode&nbsp;1&nbsp;&#8209;&nbsp;The&nbsp;Phantom&nbsp;Menace.</span>Star Wars: The Phantom Menace</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1999</td>	<td>1153</td>	<td>Cyber-Matt</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>V&nbsp;For&nbsp;Vendetta&nbsp;movie.</span>Terror Firmer</div></td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>2006</td>	<td>1480</td>	<td>Robo-K33F</td>	<td>[prod. photos]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}