---
layout: content
title: Off-topic
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>What's this? Underwater Tankers?</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>T.M.O.</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Jules Verne: He Invented Sci-Fi</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>editorial</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Ten Seconds to Doomsday</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Magician or Time-Traveler</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>editorial</td>	<td>unknown</td>	<td>[monochrome]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tomorrow Today</td>	<td>4</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>editorial</td>	<td>unknown</td>	<td>[grayscale]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Hank - Pilot for the Future</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>This Is Your Aeroplane Speaking</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>A Real Close Encounter?</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>editorial</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>One Small Step…</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1979</td>	<td>122</td>	<td>editorial</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>When Lightning Strikes</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Welcome to the World of Video</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Personality Data Bank: Arthur C. Clarke</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Could We Live Forever?</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Loch Ness Monster: Fact or Fantasy?</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>unknown</td>	<td>[grayscale]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Personality Data Bank: H.G. Wells</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Crisis!</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Do You Want to Be a One Million Dollar Man?</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Night New York Died!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>unknown</td>	<td>[grayscale]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Sea Lab!</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>library images</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Subtitled:&nbsp;Grey&nbsp;Skies&nbsp;or&nbsp;Scotch&nbsp;Mist?</span>The Bonnybridge Encounters</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>SFS19</td>	<td>Scott Montgomery</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}