<script src="../../js/Chart.min.js"></script>
<h2>[Features]</h2>

<p>All the non-strip content that doesn't fit under any of the other headings.</p>

<!--
Art Features
Games & Quizzes
Indexes
Interviews
Media Reviews
Media Reviews | Movies
Miscellaneous
Off-topic
Previews
Reviews
Space-Related
Spin-Offs
Surveys
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "Art Features" %}<a class="disabled">Art Features</a>{% else %}<a href="ArtFeatures.html#baseMenu">Art Features</a>{% endif %}</td>
	<td>{% if page.title == "Games & Quizzes" %}<a class="disabled">Games & Quizzes</a>{% else %}<a href="Games&Quizzes.html#baseMenu">Games & Quizzes</a>{% endif %}</td>
	<td>{% if page.title == "Indexes" %}<a class="disabled">Indexes</a>{% else %}<a href="Indexes.html#baseMenu">Indexes</a>{% endif %}</td>
	<td>{% if page.title == "Interviews" %}<a class="disabled">Interviews</a>{% else %}<a href="Interviews.html#baseMenu">Interviews</a>{% endif %}</td>
	<td>{% if page.title == "Media Reviews" %}<a class="disabled">Media Reviews</a>{% else %}<a href="MediaReviews.html#baseMenu">Media Reviews</a>{% endif %}</td>
	<td>{% if page.title == "Miscellaneous" %}<a class="disabled">Miscellaneous</a>{% else %}<a href="Miscellaneous.html#baseMenu">Miscellaneous</a>{% endif %}</td>
	<td>{% if page.title == "Movie Reviews" %}<a class="disabled">Movie Reviews</a>{% else %}<a href="MovieReviews.html#baseMenu">Movie Reviews</a>{% endif %}</td>
</tr>
<tr>	
	<td>{% if page.title == "Off-topic" %}<a class="disabled">Off-topic</a>{% else %}<a href="OffTopic.html#baseMenu">Off-topic</a>{% endif %}</td>
	<td>{% if page.title == "Previews" %}<a class="disabled">Previews</a>{% else %}<a href="Previews.html#baseMenu">Previews</a>{% endif %}</td>
	<td>{% if page.title == "Reviews" %}<a class="disabled">Reviews</a>{% else %}<a href="Reviews.html#baseMenu">Reviews</a>{% endif %}</td>
	<td>{% if page.title == "Space-Related" %}<a class="disabled">Space-Related</a>{% else %}<a href="SpaceRelated.html#baseMenu">Space-Related</a>{% endif %}</td>
	<td>{% if page.title == "Spin-Offs" %}<a class="disabled">Spin-Offs</a>{% else %}<a href="SpinOffs.html#baseMenu">Spin-Offs</a>{% endif %}</td>
	<td>{% if page.title == "Surveys" %}<a class="disabled">Surveys</a>{% else %}<a href="Surveys.html#baseMenu">Surveys</a>{% endif %}</td>
</tr>
</table>

<img src="Features.png" />
<p class="credit">Art by Henry Flint</p>
<br>