---
layout: content
title: Previews
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Things to Come in 83</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>298</td>	<td>T.M.O.</td>	<td>reprints / preprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Things to Come in 84</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1984</td>	<td>350</td>	<td>T.M.O.</td>	<td>reprints / preprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Things to Come in 85</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>399</td>	<td>T.M.O.</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Things to Come in 87</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>503</td>	<td>T.M.O.</td>	<td>reprints / preprints</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Promo.</span>Judge Dredd Yearbook 1993</div></td>	<td>3</td>	<td>7</td>	<td>0</td>	<td>1992</td>	<td>M2.05-2.07</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Promo&nbsp;for&nbsp;Judge&nbsp;Dredd&nbsp;Mega&#8209;Special&nbsp;#6.</span>Hate / Love </div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1993</td>	<td>M2.28</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Subtitled:&nbsp;Exclusive&nbsp;Sneak&nbsp;Preview.</span>Judge Dredd Yearbook</div></td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1994</td>	<td>M2.60</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>2000AD '97: Preview of the Year</td>	<td>5</td>	<td>5</td>	<td>0</td>	<td>1997</td>	<td>1025-1029</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>1998: Exclusive Preview</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1998</td>	<td>1077</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Hot Summer Thrills!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1998</td>	<td>1100</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrills to Come in 1999!</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1998</td>	<td>1124</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>1995: The Year of Dredd!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>M2.72</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Preview: Volume 3</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1995</td>	<td>M2.83</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Coming Attractions in 1996</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1995</td>	<td>M3.13</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Promo&nbsp;for&nbsp;1996&nbsp;Mega&#8209;Special.</span>Alternative Reality Bytes </div></td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1996</td>	<td>M3.17</td>	<td>David Bishop</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Dredd Ahead - Still to Come in '96</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1996</td>	<td>M3.18</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrills of the Future</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2000</td>	<td>1200</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Meg Explodes in 2003</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2002</td>	<td>p2003</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Planet-Shattering Thrills coming in 2012</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2012</td>	<td>1771</td>	<td>editorial</td>	<td>reprints / preprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}