---
layout: content
title: Spin-Offs
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Q & A with Misty & Ghastly</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>2017</td>	<td>S&M 1</td>	<td>editorial</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Scream! and Misty 2018 Horrorscope</td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>2017</td>	<td>S&M 1</td>	<td>editorial</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Miss T's 'Screamin In' Agony Aunt Page</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>editorial</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}