---
layout: content
title: A-Z RT (Closing In)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>Brass&nbsp;&&nbsp;Bland<br>Major&nbsp;Magnam<br></span>Major Magnam</div></td>	<td>5</td>	<td>20</td>	<td>0</td>	<td>1983</td>	<td>311-315</td>	<td>Gerry Finley-Day</td>	<td>Brett Ewins</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Or&nbsp;[Bigfoot].</span>Genetic Infantryman of Nu Earth</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1983</td>	<td>316</td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>Bio-Wire</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Cam&nbsp;Kennedy<br></span>1</div></td>	<td>1983</td>	<td>317</td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Venus&nbsp;Bluegenes</span>Milli-Com Memories</div></td>	<td>5</td>	<td>22</td>	<td>0</td>	<td>1983</td>	<td>318-322</td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>The Droidonators</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1983</td>	<td>SFS6</td>	<td>Gerry Finley-Day</td>	<td>Boluda</td>	<td>[greyscale]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>The Vid-Vultures</td>	<td>4</td>	<td>16</td>	<td><div class='tt'><span class='ttt'>323:&nbsp;Brett&nbsp;Ewins<br>326:&nbsp;Brett&nbsp;Ewins&nbsp;<br></span>2</div></td>	<td>1983</td>	<td>323-326</td>	<td>Gerry Finley-Day</td>	<td>Brett Ewins</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>Brass&nbsp;&&nbsp;Bland<br>The&nbsp;Traitor&nbsp;General<br></span>Eye of the Traitor</div></td>	<td>6</td>	<td>32</td>	<td><div class='tt'><span class='ttt'>331:&nbsp;Cam&nbsp;Kennedy<br></span>1</div></td>	<td>1983</td>	<td>327-332</td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td><div class='tt'><span class='ttt'>Bill&nbsp;Nuttall:&nbsp;1&#8209;3<br>Pete&nbsp;Knight:&nbsp;4&#8209;6<br></span><em>various</em></div></td>	</tr>
	<tr>	<td>First of the Few</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1983</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>WS1<br>B2KSE1<br>X15<br></span>2KA'84 </div></td>	<td>Alan Moore</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>The 'Frisco Phog</td>	<td>2</td>	<td>8</td>	<td>0</td>	<td>1983</td>	<td>333-334</td>	<td>Gerry Finley-Day</td>	<td>Boluda</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Venus&nbsp;Bluegenes</span>From Hell to Eternity</div></td>	<td>6</td>	<td>26</td>	<td>0</td>	<td>1983</td>	<td>335-340</td>	<td>Gerry Finley-Day</td>	<td>Brett Ewins</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>Mega-Minefield</td>	<td>2</td>	<td>10</td>	<td>0</td>	<td>1983</td>	<td>341-342</td>	<td>Gerry Finley-Day</td>	<td>Boluda</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Gasbah</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>344:&nbsp;Cam&nbsp;Kennedy<br></span>1</div></td>	<td>1983</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KA'91</span>343-347</div></td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>Timeslip</td>	<td>2</td>	<td>10</td>	<td>0</td>	<td>1983</td>	<td>348-349</td>	<td>Gerry Finley-Day</td>	<td>Boluda</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Pin&#8209;Up.</span>Rogue Trooper</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>348</td>	<td>n/a</td>	<td>Brett Ewins</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}