---
layout: content
title: A-Z RT (Going Rogue)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Rogue Trooper</td>	<td>1</td>	<td>7</td>	<td><div class='tt'><span class='ttt'>Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1981</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>RTAS&nbsp;(coloured)</span>228</div></td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Dave Gibbons</td>	</tr>
	<tr>	<td>[Nu Paree]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1981</td>	<td>229</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Glass Zone]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1981</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>FCBD4</span>230</div></td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Clash in Doomsday Valley]</td>	<td>1</td>	<td>4</td>	<td><div class='tt'><span class='ttt'>Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1981</td>	<td>231</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Terror of the Decapitators]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1981</td>	<td>232</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Raiders]</td>	<td>1</td>	<td>4</td>	<td><div class='tt'><span class='ttt'>Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1981</td>	<td>234</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[Scum Sea]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1981</td>	<td>235</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[The&nbsp;Traitor&nbsp;General]</span>[Ascent to Buzzard-Three]</div></td>	<td>3</td>	<td>12</td>	<td><div class='tt'><span class='ttt'>237:&nbsp;Colin&nbsp;Wilson<br></span>1</div></td>	<td>1981</td>	<td>236-238</td>	<td>Gerry Finley-Day</td>	<td>Colin Wilson</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[The Rookies]</td>	<td>2</td>	<td>8</td>	<td>0</td>	<td>1981</td>	<td>239-240</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Blue Moon]</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1981</td>	<td>241</td>	<td>Gerry Finley-Day</td>	<td>Colin Wilson</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Poison]</td>	<td>2</td>	<td>8</td>	<td>0</td>	<td>1981</td>	<td>242-243</td>	<td>Gerry Finley-Day</td>	<td>Mike Dorey</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Fear of the Machine]</td>	<td>3</td>	<td>12</td>	<td>0</td>	<td>1982</td>	<td>246-248</td>	<td>Gerry Finley-Day</td>	<td>Colin Wilson</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[The Dreamweavers]</td>	<td>2</td>	<td>8</td>	<td><div class='tt'><span class='ttt'>Dave&nbsp;Gibbons<br></span>1</div></td>	<td>1982</td>	<td>249-250</td>	<td>Gerry Finley-Day</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[The&nbsp;Traitor&nbsp;General]</span>[The Buzzard]</div></td>	<td>3</td>	<td>12</td>	<td><div class='tt'><span class='ttt'>253:&nbsp;Colin&nbsp;Wilson<br></span>1</div></td>	<td>1982</td>	<td>251-253</td>	<td>Gerry Finley-Day</td>	<td>Colin Wilson</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[The Petrified Forest]</td>	<td>4</td>	<td>16</td>	<td>0</td>	<td>1982</td>	<td>254-257</td>	<td>Gerry Finley-Day</td>	<td>Mike Dorey</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[War of Nerves]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1982</td>	<td>258</td>	<td>Gerry Finley-Day</td>	<td>Colin Wilson</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td>War … in 2000AD</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1981</td>	<td>216</td>	<td>n/a</td>	<td>Dave Gibbons</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}