---
layout: content
title: A-Z RT (Horst)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Featuring&nbsp;Azure.</span>[Re-Gene]</div></td>	<td>6</td>	<td>36</td>	<td><div class='tt'><span class='ttt'>401:&nbsp;Cam&nbsp;Kennedy<br></span>1</div></td>	<td>1985</td>	<td>401-406</td>	<td>Gerry Finley-Day</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">[Horst]</td></tr>
	<tr>	<td>[Proxy War]</td>	<td>6</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>410:&nbsp;Brett&nbsp;Ewins<br></span>1</div></td>	<td>1985</td>	<td>410-415</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td><div class='tt'><span class='ttt'>Bill&nbsp;Nuttall:&nbsp;1&#8209;3<br>Tony&nbsp;Jacob:&nbsp;4&#8209;6<br></span><em>various</em></div></td>	</tr>
	<tr>	<td>[Crater Sea]</td>	<td>4</td>	<td>16</td>	<td>0</td>	<td>1985</td>	<td>416-419</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[Undercover]</td>	<td>3</td>	<td>12</td>	<td><div class='tt'><span class='ttt'>422:&nbsp;Robin&nbsp;Smith<br></span>1</div></td>	<td>1985</td>	<td>422-424</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[Doctor Mono]</td>	<td>2</td>	<td>8</td>	<td>0</td>	<td>1985</td>	<td>425-426</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[The Antigen]</td>	<td>5</td>	<td>21</td>	<td><div class='tt'><span class='ttt'>429:&nbsp;Jose&nbsp;Ortiz<br>431:&nbsp;Jose&nbsp;Ortiz<br></span>2</div></td>	<td>1985</td>	<td>428-432</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>&lt;-- 1pp, [b&w]</td>	<td>Tony Jacob</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold"><!--spacer--></td></tr>
	<tr>	<td>Nortville</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1985</td>	<td>2KA'86</td>	<td>Simon Geller</td>	<td>Cam Kennedy</td>	<td>&lt;--</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Featuring&nbsp;Azure.</span>[Return to Milli-Com]</div></td>	<td>6</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>444:&nbsp;Jose&nbsp;Ortiz<br></span>1</div></td>	<td>1985</td>	<td>444-449</td>	<td>Gerry Finley-Day</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Fanatics</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1986</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X15</span>SFS9</div></td>	<td>Peter Milligan</td>	<td>Jose Ortiz</td>	<td>[greyscale]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Prefaced&nbsp;as&nbsp;"You&nbsp;Are&nbsp;Rogue&nbsp;Trooper&nbsp;in..."<br>A&nbsp;choose&#8209;your&#8209;own&#8209;adventure&nbsp;comic.<br></span>Killothon</div></td>	<td>1</td>	<td>19</td>	<td>0</td>	<td>1986</td>	<td>DM3</td>	<td>Pat Mills</td>	<td><div class='tt'><span class='ttt'>Mike&nbsp;Collins&nbsp;(P)<br>Mark&nbsp;Farmer&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Nort By Nortwest</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1986</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>B2KSE2</span>2KA'87</div></td>	<td>Peter Milligan</td>	<td>Jose Ortiz</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Prefaced&nbsp;as&nbsp;"You&nbsp;Are&nbsp;Rogue&nbsp;Trooper&nbsp;in..."<br>A&nbsp;choose&#8209;your&#8209;own&#8209;adventure&nbsp;comic.<br></span>Space Zombies</div></td>	<td>1</td>	<td>15</td>	<td>0</td>	<td>1986</td>	<td>DM5</td>	<td><div class='tt'><span class='ttt'>Simon&nbsp;Geller<br>Pat&nbsp;Mills</span><em>various</em></div></td>	<td>Mike Collins  </td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td>On the Rogue Again</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1985</td>	<td>SFS8</td>	<td>unknown</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>"Coming&nbsp;Soon..."</span>The Return of Rogue Trooper</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1984</td>	<td>395</td>	<td>n/a</td>	<td>Cam Kennedy</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Pin&#8209;Up.</span>Azure - Warrior Without a War</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>404</td>	<td>n/a</td>	<td>Cam Kennedy</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Star&nbsp;Pin&#8209;Up.</span>Rogue Trooper</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>408</td>	<td>n/a</td>	<td>Cam Kennedy</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Full&nbsp;text:&nbsp;"Rogue&nbsp;Trooper&nbsp;&#8209;&nbsp;Horst&nbsp;&#8209;&nbsp;The&nbsp;New&nbsp;Frontier".</span>Rogue Trooper - Horst</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>420</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Rogue Trooper - Back in Action!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>494</span>443</div></td>	<td>n/a</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>Rogue Trooper Quiz Special</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>2KA'86</td>	<td>editorial</td>	<td>Cam Kennedy</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Follow Rogue's Firework Code…</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>493</span>442</div></td>	<td>editorial</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}