<script src="../../js/Chart.min.js"></script>
<h2>Rogue Trooper<img class="title" src="../../gfx/NortSouthS.png"></h2>

<p>A blue-skinned Genetic Infantryman (bred for war) stalks the poisonous battlefields of Nu Earth seeking revenge for the massacre of his comrades by a <a href="../TraitorGeneral/data.html">traitor general</a>. In order to provide some dialogue for the loner, Rogue is accompanied by the bio-chips (i.e. encoded personalities) of three dead comrades, slotted into his equipment: the appropriately (and oddly presciently) named Helm, Bagman and Gunnar.</p>
<p>Rogue Trooper was a tent-pole strip when it first appeared, and was not often out of the comic for almost a five year run. However, the climax of the main narrative thread led to drift and when the original writer left it listed out of the thrill lanes, eventually running aground in the 1989 Winter Special (with the incongruous conclusion of The Hit sequence).</p>
<p>The "Rogue Trooper" franchise was then entirely rebooted with a new main character: <a href="../Fr1day/WarMachine.html">Fr1day</a>. Once that experiment came to a close, the main sequence Rogue was relegated to flashback duties, and remains so.</p>

<!--
Going Rogue		1981-1982
Total War		1982-1983
Closing In		1983
The Traitor		1984
---
Horst			1985-1986
Hit Man			1986-1989
Alternatives	1992-1999
Flashbacks I	2002-2006
Flashbacks II	2010-2023
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>{% if page.title == "RT (Going Rogue)" %}<a class="disabled">Going Rogue</a>{% else %}<a href="GoingRogue.html#baseMenu">Going Rogue</a>{% endif %}<br><span>(1981-1982)</span></td>
	<td>{% if page.title == "RT (Total War)" %}<a class="disabled">Total War</a>{% else %}<a href="TotalWar.html#baseMenu">Total War</a>{% endif %}<br><span>(1982-1983)</span></td>
	<td>{% if page.title == "RT (Closing In)" %}<a class="disabled">Closing In</a>{% else %}<a href="ClosingIn.html#baseMenu">Closing In</a>{% endif %}<br><span>(1983)</span></td>
	<td>{% if page.title == "RT (The Traitor)" %}<a class="disabled">The Traitor</a>{% else %}<a href="TheTraitor.html#baseMenu">The Traitor</a>{% endif %}<br><span>(1984)</span></td>
</tr>
<tr>
	<td>{% if page.title == "RT (Horst)" %}<a class="disabled">Horst</a>{% else %}<a href="Horst.html#baseMenu">Horst</a>{% endif %}<br><span>(1985-1986)</span></td>
	<td>{% if page.title == "RT (Hit Man)" %}<a class="disabled">Hit Man</a>{% else %}<a href="HitMan.html#baseMenu">Hit Man</a>{% endif %}<br><span>(1986-1989)</span></td>
	<td>{% if page.title == "RT (Alternatives)" %}<a class="disabled">Alternatives</a>{% else %}<a href="Alternatives.html#baseMenu">Alternatives</a>{% endif %}<br><span>(1992-1999)</span></td>
	<td>{% if page.title == "RT (Flashbacks I)" %}<a class="disabled">Flashbacks I</a>{% else %}<a href="FlashbacksI.html#baseMenu">Flashbacks I</a>{% endif %}<br><span>(2002-2006)</span></td>
	<td>{% if page.title == "RT (Flashbacks II)" %}<a class="disabled">Flashbacks II</a>{% else %}<a href="FlashbacksII.html#baseMenu">Flashbacks II</a>{% endif %}<br><span>(2010-2023)</span></td>
</tr>
</table>

<img src="rogueTrooper.webp" />
<p class="credit">Art by Dave Gibbons</p>

<ul class="AtoZ">
<li>The 2000 AD ABC: <a href="https://youtu.be/Ry8KKQXkmb8" target="_blank">Rogue Trooper</a></li>
<li>Shop: <a href="https://shop.2000ad.com/catalogue/XB366" target="_blank">Rogue Trooper</a></li>
</ul>