<script src="../../js/Chart.min.js"></script>
<h2>Sl&aacute;ine</h2>

<p>Celtic warrior Sl&aacute;ine roams the ancient Land of the Young, battling the sea-demons and elder gods who would subjugate humanity.</p>

<!--
Tir Nan Og		1983-1984
The Cyth		1984-1986
Kings & Gods	1986-1993
Quanta			1993-1998
Reunification	1998-2000
Books			2002-2013
Chronicles		2014-2021
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
<td>
	{% if page.title == "Slaine (Tir Nan Og)" %}<a class="disabled">Tir Nan Og</a>
	{% else %}<a href="TirNanOg.html#baseMenu">Tir Nan Og</a>{% endif %}
	<br><span>(1983-1984)</span>
</td>
<td>	
	{% if page.title == "Slaine (The Cyth)" %}<a class="disabled">The Cyth</a>
	{% else %}<a href="TheCyth.html#baseMenu">The Cyth</a>{% endif %}
	<br><span>(1984-1986)</span>
</td>
<td>	
	{% if page.title == "Slaine (Kings & Gods)" %}<a class="disabled">Kings &amp; Gods</a>
	{% else %}<a href="KingsGods.html#baseMenu">Kings &amp; Gods</a>{% endif %}
	<br><span>(1986-1993)</span>
</td>
<td>	
	{% if page.title == "Slaine (Quanta)" %}<a class="disabled">Quanta</a>
	{% else %}<a href="Quanta.html#baseMenu">Quanta</a>{% endif %}
	<br><span>(1993-1998)</span>
</td>
<td>	
	{% if page.title == "Slaine (Reunification)" %}<a class="disabled">Reunification</a>
	{% else %}<a href="Reunification.html#baseMenu">Reunification</a>{% endif %}
	<br><span>(1998-2000)</span>
</td>
<td>	
	{% if page.title == "Slaine (Books)" %}<a class="disabled">Books</a>
	{% else %}<a href="Books.html#baseMenu">Books</a>{% endif %}
	<br><span>(2002-2013)</span>
</td>
<td>	
	{% if page.title == "Slaine (Chronicles)" %}<a class="disabled">Chronicles</a>
	{% else %}<a href="Chronicles.html#baseMenu">Chronicles</a>{% endif %}
	<br><span>(2014-2021)</span>
</td>
</tr>
</table>

<img src="slaine.png" />
<p class="credit">Art by Glenn Fabry</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/W64HGS638mQ" target="_blank">The 2000 AD ABC: Sl&aacute;ine</a></li>
<li><a href="https://shop.2000ad.com/catalogue/graphic-novels/slaine" target="_blank">shop.2000ad.com: Sl&aacute;ine GNs</a></li>
</ul>