---
layout: content
title: A-Z Slaine (Reunification)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Lord of the Beasts</td>	<td>1</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>1100:&nbsp;Rafael&nbsp;Garres<br></span>1</div></td>	<td>1998</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>FCBD4&nbsp;(partial:&nbsp;5pp)</span>1100</div></td>	<td>Pat Mills</td>	<td>Rafael Garres</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Kai</td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>1106:&nbsp;Jason&nbsp;Brashill<br></span>1</div></td>	<td>1998</td>	<td>1104-1107</td>	<td><div class='tt'><span class='ttt'>Pat&nbsp;Mills<br>Debbie&nbsp;Gallagher</span><em>various</em></div></td>	<td>Paul Staples</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>The Banishing</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>1998</td>	<td>1108-1109</td>	<td><div class='tt'><span class='ttt'>Pat&nbsp;Mills<br>Debbie&nbsp;Gallagher</span><em>various</em></div></td>	<td>Wayne Reynolds</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>The Triple Death</td>	<td>1</td>	<td><div class='tt'><span class='ttt'>+&nbsp;0.5&nbsp;credit&nbsp;pages</span>10</div></td>	<td>0</td>	<td>1998</td>	<td>1111</td>	<td>Pat Mills</td>	<td>Wayne Reynolds</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>The Swan Children</td>	<td>3</td>	<td>18</td>	<td><div class='tt'><span class='ttt'>1113:&nbsp;Siku<br></span>1</div></td>	<td>1998</td>	<td>1112-1114</td>	<td>Pat Mills</td>	<td>Siku</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Macha</td>	<td>4</td>	<td>24</td>	<td>0</td>	<td>1998</td>	<td>1115-1118</td>	<td>Pat Mills</td>	<td>Paul Staples</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;The&nbsp;Lord&nbsp;Weird&nbsp;Slough&nbsp;Feg</span>Beyond</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1999</td>	<td>p2000</td>	<td>Pat Mills</td>	<td>Greg Staples</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Secret Commonwealth</td>	<td>17</td>	<td>102</td>	<td><div class='tt'><span class='ttt'>1184:&nbsp;Greg&nbsp;Staples<br>1193:&nbsp;Mark&nbsp;Harrison<br>1199:&nbsp;Mark&nbsp;Harrison&nbsp;<br></span>3</div></td>	<td>2000</td>	<td>1183-1199</td>	<td>Pat Mills</td>	<td>David Bircharm</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>

<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
<tr>	<td>[Slaine]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1998</td>	<td>1100</td>	<td>n/a</td>	<td>Rafael Garres</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td>The Secret Commonwealth</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1999</td>	<td>1139-S</td>	<td>n/a</td>	<td>David Bircharm</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td>Slaine</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1999</td>	<td>1150</td>	<td>n/a</td>	<td>Paolo Parente</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

<td colspan="10" class="section bold">>> Features <<</td></tr>
<tr>	<td>Data Bytes: Slaine</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1999</td>	<td>p2000</td>	<td>editorial</td>	<td>Simon Bisley</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}