---
layout: content
title: A-Z Sinister Dexter (1995-1996)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">

<tr>	<td colspan="10" class="section">1995</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Sinister Dexter</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>WS7</td>	<td>Dan Abnett</td>	<td>David Millgate</td>	<td>Junior Tomlin</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">1996</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Nervous Rex</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Jason&nbsp;Brashill<br></span>1</div></td>	<td>1996</td>	<td>981</td>	<td>Dan Abnett</td>	<td>David Millgate</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Curl Up & Die</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>982</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Del Frost</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Bratwurst Than Death</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>983</td>	<td>Dan Abnett</td>	<td>Tom Carney</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Max Vactor</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>984</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Junior Tomlin</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Death & Taxis</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>985</td>	<td>Dan Abnett</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Finnigan's Minigun</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>986</td>	<td>Dan Abnett</td>	<td>Tom Carney</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>The Eleventh Commandment</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>1996</td>	<td>988-989</td>	<td>Dan Abnett</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Alibi of Broadway</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>1996</td>	<td>990-991</td>	<td>Dan Abnett</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Wish Upon a Czar</td>	<td>2</td>	<td>12</td>	<td><div class='tt'><span class='ttt'>992:&nbsp;Calum&nbsp;Alexander&nbsp;Watt<br></span>1</div></td>	<td>1996</td>	<td>992-993</td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Family Man</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>994</td>	<td>Dan Abnett</td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Executive Unction</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1996</td>	<td>SFS19</td>	<td>Dan Abnett</td>	<td>Tom Carney</td>	<td>David Millgate</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Learning Kurv</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1996</td>	<td>1023</td>	<td>Dan Abnett</td>	<td>David Millgate</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>

<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
<tr>	<td>Gun Shark Attack!</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>980</td>	<td>n/a</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
<tr>	<td><div class='tt'><span class='ttt'>Series&nbsp;summary.</span>Sinister Dexter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>981</td>	<td>editorial</td>	<td>David Millgate</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td><div class='tt'><span class='ttt'>Series&nbsp;summary.</span>Sinister Dexter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>990</td>	<td>editorial</td>	<td>Charles Gillespie</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
<tr>	<td><div class='tt'><span class='ttt'>Series&nbsp;summary.</span>Sinister Dexter</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1996</td>	<td>1023</td>	<td>editorial</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

</table>

{% include_relative postTable.html %}