---
layout: content
title: Sinister Dexter (1998)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">

<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Downlode Blues</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1076</td>	<td>Dan Abnett</td>	<td>Alex Ronald</td>	<td>Dondie Cox</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>F.A.Q.</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1076</td>	<td>Dan Abnett</td>	<td>Clint Langley</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Dressed to Kill</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1078</td>	<td>Dan Abnett</td>	<td>Siku</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Taking the Mick</td>	<td>4</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>1082:&nbsp;Steve&nbsp;Yeowell<br></span>1</div></td>	<td>1998</td>	<td>1079-1082</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Merry Weirdo</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1083</td>	<td>Dan Abnett</td>	<td>Allan Bednar </td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>London Town</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>B2KSE4</span>1084</div></td>	<td>Dan Abnett</td>	<td>Greg Staples</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Big Stiff</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td>1085</td>	<td>Dan Abnett</td>	<td>Alex Ronald</td>	<td>Alison Kirkpatrick</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Lyrical Bollards</td>	<td>1</td>	<td>15</td>	<td>0</td>	<td>1998</td>	<td>1086</td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Hand Maid in Downlode</td>	<td>1</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>Sean&nbsp;Phillips<br></span>1</div></td>	<td>1998</td>	<td>1087</td>	<td>Dan Abnett</td>	<td>Andrew Currie</td>	<td>Dondie Cox</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>To the Devil a Detour</td>	<td>2</td>	<td>20</td>	<td>0</td>	<td>1998</td>	<td>1088-1089</td>	<td>Dan Abnett</td>	<td>Andy Clarke</td>	<td>Dondie Cox</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Drop Dead Gorgeous</td>	<td>2</td>	<td>20</td>	<td>0</td>	<td>1998</td>	<td>1090-1091</td>	<td>Dan Abnett</td>	<td>Greg Staples</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Mother Lode and the Red Admiral</td>	<td>4</td>	<td>40</td>	<td><div class='tt'><span class='ttt'>1094:&nbsp;Jason&nbsp;Brashill<br></span>1</div></td>	<td>1998</td>	<td>1092-1095</td>	<td>Dan Abnett</td>	<td>Calum Alexander Watt</td>	<td>Alan Craddock</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Word Is</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1096</td>	<td>Dan Abnett</td>	<td>Ben Willsher</td>	<td>Dondie Cox</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Tan Lines</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1097</td>	<td>Dan Abnett</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
<tr>	<td>Tax Returns</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1098</td>	<td>Dan Abnett</td>	<td>David Millgate</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Bullfighting Days</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1099</td>	<td>Dan Abnett</td>	<td>Andy Clarke</td>	<td>Dondie Cox</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>End of the Line</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>John&nbsp;Charles<br></span>1</div></td>	<td>1998</td>	<td>1102</td>	<td>Dan Abnett</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Slay per View</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>1105:&nbsp;Simon&nbsp;Davis<br></span>1</div></td>	<td>1998</td>	<td>1103-1107</td>	<td>Dan Abnett</td>	<td><div class='tt'><span class='ttt'>Marc&nbsp;Wigmore:&nbsp;1&#8209;3<br>Julian&nbsp;Gibson:&nbsp;4&#8209;5<br></span><em>various</em></div></td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Dead Man Whacking</td>	<td>2</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>1108:&nbsp;Jason&nbsp;Brashill<br></span>1</div></td>	<td>1998</td>	<td>1108-1109</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Death Is a Lonely Donnegan</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td>1111</td>	<td>Dan Abnett</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
<tr>	<td>Anatomy of a Throwdown</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1112</td>	<td>Dan Abnett</td>	<td>Greg Staples</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Unofficial Business</td>	<td>2</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td>1113-1114</td>	<td>Dan Abnett</td>	<td>Steve Sampson</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Sucker-Punch</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Sean&nbsp;Phillips<br></span>1</div></td>	<td>1998</td>	<td>1115</td>	<td>Dan Abnett</td>	<td>Sean Phillips</td>	<td>&lt;--</td>	<td>Sean Phillips</td>	</tr>
<tr>	<td>Coptalk</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1116</td>	<td>Dan Abnett</td>	<td>Lol</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Smoke and Mirrors</td>	<td>6</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>1117:&nbsp;Simon&nbsp;Davis<br>1121:&nbsp;David&nbsp;Bircham<br></span>2</div></td>	<td>1998</td>	<td>1117-1122</td>	<td>Dan Abnett</td>	<td>David Bircharm</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Grey's Allergy</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1998</td>	<td>1123</td>	<td>Dan Abnett</td>	<td><div class='tt'><span class='ttt'>Patrick&nbsp;Woodrow<br>Stephen&nbsp;Baskerville</span><em>various</em></div></td>	<td>Alan Craddock</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Twas the Fight Before Christmas</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td>1124</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>D'Israeli</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Automate</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1998</td>	<td>1125</td>	<td>Dan Abnett</td>	<td>Paul Marshall</td>	<td>Alan Craddock</td>	<td>Ellie de Ville</td>	</tr>

</table>

{% include_relative postTable.html %}