---
layout: content
title: Sinister Dexter (2002-2003)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section">2002</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>U R Here</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1279</td>	<td>Dan Abnett</td>	<td>Adrian Bamforth</td>	<td>Len O'Grady</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Narked for Death</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Duncan&nbsp;Fegredo<br></span>1</div></td>	<td>2002</td>	<td>1281</td>	<td>Dan Abnett</td>	<td>Adrian Bamforth</td>	<td>Len O'Grady</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Tart Au Citroen</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1282</td>	<td>Dan Abnett</td>	<td>Steve Roberts</td>	<td>Angus McKie</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Poker Face</td>	<td>2</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>1284:&nbsp;Peter&nbsp;Doherty<br></span>1</div></td>	<td>2002</td>	<td>1283-1284</td>	<td>Dan Abnett</td>	<td>Ian Richardson</td>	<td>Angus McKie</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Croak</td>	<td>3</td>	<td>15</td>	<td>0</td>	<td>2002</td>	<td>1290-1292</td>	<td>Dan Abnett</td>	<td>Mark Pingriff</td>	<td>Angus McKie</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>House of Whacks</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1294</td>	<td>Dan Abnett</td>	<td>David Bircham</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Animal Firm</td>	<td>3</td>	<td>15</td>	<td><div class='tt'><span class='ttt'>1298:&nbsp;Simon&nbsp;Davis<br></span>1</div></td>	<td>2002</td>	<td>1296-1298</td>	<td>Dan Abnett</td>	<td>Cam Smith</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Deaky Poobar, We Hardly Knew Ye</td>	<td>4</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>1308:&nbsp;Simon&nbsp;Davis<br>1310:&nbsp;Peter&nbsp;Doherty<br></span>2</div></td>	<td>2002</td>	<td>1307-1310</td>	<td>Dan Abnett</td>	<td>Steve Parkhouse</td>	<td>Chris Blythe</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Wising Off</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1311</td>	<td>Dan Abnett</td>	<td>Mike Collins</td>	<td>Gary Caldwell</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Low Life</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1312</td>	<td>Dan Abnett</td>	<td>Steve Roberts</td>	<td>Angus McKie</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Off-Lode Experience</td>	<td>9</td>	<td>45</td>	<td><div class='tt'><span class='ttt'>1315:&nbsp;Simon&nbsp;Davis<br>1319:&nbsp;Simon&nbsp;Davis<br></span>2</div></td>	<td>2002</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M335&nbsp;(supplement)</span>1313-1321</div></td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>

	<tr>	<td colspan="10" class="section">2003</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Relode</td>	<td>4</td>	<td>20</td>	<td>0</td>	<td>2003</td>	<td>1322-1325</td>	<td>Dan Abnett</td>	<td>Ben Willsher</td>	<td>Chris Blythe</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bouncers</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2003</td>	<td>M202</td>	<td>Dan Abnett</td>	<td>Steve Roberts</td>	<td>Simon Gurr</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Dead Famous</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2003</td>	<td>M203</td>	<td>Dan Abnett</td>	<td>Steve Roberts</td>	<td>Len O'Grady</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Gag Reflex</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2003</td>	<td>M204</td>	<td>Dan Abnett</td>	<td>Steve Roberts</td>	<td>Simon Gurr</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Big Game</td>	<td>2</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>1344:&nbsp;Simon&nbsp;Davis<br></span>1</div></td>	<td>2003</td>	<td>1343-1344</td>	<td>Dan Abnett</td>	<td>Cam Smith</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Write From Wrong</td>	<td>3</td>	<td>15</td>	<td><div class='tt'><span class='ttt'>1346:&nbsp;Simon&nbsp;Davis<br></span>1</div></td>	<td>2003</td>	<td>1345-1347</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>Len O'Grady</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Oh Kal Cutter</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2003</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M374&nbsp;(supplement)</span>1348</div></td>	<td>Dan Abnett</td>	<td>Andy Clarke</td>	<td>Gary Caldwell</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Junk Bond</td>	<td>6</td>	<td>31</td>	<td><div class='tt'><span class='ttt'>1359:&nbsp;Simon&nbsp;Davis<br>1361:&nbsp;Simon&nbsp;Davis<br></span>2</div></td>	<td>2003</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M374&nbsp;(supplement)</span>1356-1361</div></td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>

	<tr>	<td colspan="10" class="section bold"><br>++ADDITIONAL CONTENT++<br><br>>> Text Stories <<</td></tr>
	<tr>	<td>Get Shirty</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>p2003</td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}