---
layout: content
title: A-Z Sinister Dexter (2011-2016)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">

<tr>	<td colspan="10" class="section">Apocalypse Shtick</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Charon's Crossing</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>1744:&nbsp;Anthony&nbsp;Williams<br></span>1</div></td>	<td>2011</td>	<td>1740-1744</td>	<td>Dan Abnett</td>	<td><div class='tt'><span class='ttt'>Rob&nbsp;Taylor<br>Anthony&nbsp;Williams</span><em>various</em></div></td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Inverse Ninjas Rule</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2011</td>	<td>1745</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Comicstripper Studio</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Dead-End Job</td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>1748:&nbsp;Tiernen&nbsp;Trevallion<br></span>1</div></td>	<td>2011</td>	<td>1746-1749</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Comicstripper Studio</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Dirty Deeds Done Cheap</td>	<td>3</td>	<td>15</td>	<td>0</td>	<td>2011</td>	<td>1761-1763</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Comicstripper Studio</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Now & Again</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2011</td>	<td>p2012</td>	<td>Dan Abnett</td>	<td>Anthony Williams</td>	<td>Comicstripper Studio</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">Witless Protection</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Malone Again</td>	<td>4</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>1832:&nbsp;Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague<br></span>1</div></td>	<td>2013</td>	<td>1832-1835</td>	<td>Dan Abnett</td>	<td>John Burns</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>In Plain Shite</td>	<td>5</td>	<td>25</td>	<td><div class='tt'><span class='ttt'>1838:&nbsp;John&nbsp;Charles<br></span>1</div></td>	<td>2013</td>	<td>1836-1840</td>	<td>Dan Abnett</td>	<td>John Burns</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Last Rights</td>	<td>3</td>	<td>15</td>	<td>0</td>	<td>2013</td>	<td>1841-1843</td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">The Generican Dream</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Room Only</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2013</td>	<td>p2014</td>	<td>Dan Abnett</td>	<td>PJ Holden</td>	<td>Dylan Teague</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Gun Shy</td>	<td>6</td>	<td>31</td>	<td><div class='tt'><span class='ttt'>1876:&nbsp;Alex&nbsp;Ronald<br></span>1</div></td>	<td>2014</td>	<td>1874-1879</td>	<td>Dan Abnett</td>	<td>Smudge</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Congo</td>	<td>4</td>	<td>20</td>	<td>0</td>	<td>2014</td>	<td>1889-1892</td>	<td>Dan Abnett</td>	<td>Jake Lynch</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">2015</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>The Taking of the Michael</td>	<td>6</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>1956:&nbsp;Jon&nbsp;Davis&#8209;Hunt<br></span>1</div></td>	<td>2015</td>	<td>1951-1956</td>	<td>Dan Abnett</td>	<td>Patrick Goddard</td>	<td>Eva de la Cruz</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Blank Ammo</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2015</td>	<td>1961</td>	<td>Dan Abnett</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">2016</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Shady as Funt</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2016</td>	<td>SFS22</td>	<td>Dan Abnett</td>	<td>Tom Foster</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Replica</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2016</td>	<td>2000</td>	<td>Dan Abnett</td>	<td>Mark Sexton</td>	<td>Gary Caldwell</td>	<td>Ellie de Ville</td>	</tr>


</table>

{% include_relative postTable.html %}