---
layout: content
title: Sinister Dexter (2017-2019)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">

<tr>	<td colspan="10" class="section">2017</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>One-Hit Wonder</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2018</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>Abigail Bulmer</td>	<td>Simon Bowland</td>	</tr>
<tr>	<td>Electric Landlady</td>	<td>2</td>	<td>10</td>	<td>0</td>	<td>2017</td>	<td>2019-2020</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Simon Bowland</td>	</tr>
<tr>	<td>A Rocky Start</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2021</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>Gary Caldwell</td>	<td>Simon Bowland</td>	</tr>
<tr>	<td>Better the Devil  </td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Ben&nbsp;Willsher<br></span>1</div></td>	<td>2017</td>	<td>2022</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Simon Bowland</td>	</tr>
<tr>	<td>Down in the Dumps</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2050</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Snake-Skinned</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2051</td>	<td>Dan Abnett</td>	<td>Jake Lynch</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Devil & All His Whacks</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2052</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Aztec Cameraderie</td>	<td>3</td>	<td>15</td>	<td><div class='tt'><span class='ttt'>2056:&nbsp;John&nbsp;McCrea<br></span>1</div></td>	<td>2017</td>	<td>2054-2056</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Sights</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2057</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Billi No Mates</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2017</td>	<td>2059</td>	<td>Dan Abnett</td>	<td>Paul Marshall</td>	<td>Dylan Teague</td>	<td>Simon Bowland</td>	</tr>

<tr>	<td colspan="10" class="section">2018</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>The Salad of Bad Café</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2018</td>	<td>2073</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>Night Class</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2018</td>	<td>2074</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>The Devil Don't Care</td>	<td>4</td>	<td>20</td>	<td>0</td>	<td>2018</td>	<td>2075-2078</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>The Gangbusters</td>	<td>3</td>	<td>18</td>	<td>0</td>	<td>2018</td>	<td>2079-2081</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Tight Grouping</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2018</td>	<td>2100</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>
<tr>	<td>The Sea Beneath the City</td>	<td>2</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>2109:&nbsp;Cliff&nbsp;Robinson&nbsp;(A)&nbsp;&&nbsp;Dylan&nbsp;Teague&nbsp;(C)<br></span>1</div></td>	<td>2018</td>	<td>2109-2110</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>

<tr>	<td colspan="10" class="section">2019</td></tr>
<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
<tr>	<td>Dolores 4 Ever</td>	<td>2</td>	<td>10</td>	<td>0</td>	<td>2019</td>	<td>2145-2146</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Narrow Minded</td>	<td>3</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>2148:&nbsp;Dylan&nbsp;Teague<br></span>1</div></td>	<td>2019</td>	<td>2147-2149</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
<tr>	<td>Waiting in Chairs</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2019</td>	<td>2150</td>	<td>Dan Abnett</td>	<td>Steve Yeowell</td>	<td>John Charles</td>	<td>Ellie de Ville</td>	</tr>

</table>

{% include_relative postTable.html %}