<script src="../../js/Chart.min.js"></script>
<h2>Sinister Dexter</h2>

<p>Sinister and Dexter (two hitmen inspired by Jules and Vincent from Pulp Fiction) cruise the futuristic euro megacity of Downlode, aiming to whack first and ask funting questions later.</p>

<div id="menu">
	{% if page.title == "A-Z Sinister Dexter (1995-1997)" %}<a class="disabled">1995-1997</a>
	{% else %}<a href="1997.html">1995-1997</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (1998)" %}<a class="disabled">1998</a>
	{% else %}<a href="1998.html">1998</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (1999-2000)" %}<a class="disabled">1999-2000</a>
	{% else %}<a href="2000.html">1999-2000</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (2001-2002)" %}<a class="disabled">2001-2002</a>
	{% else %}<a href="2002.html">2001-2002</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (2003-2007)" %}<a class="disabled">2003-2007</a>
	{% else %}<a href="2007.html">2003-2007</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (2008-2016)" %}<a class="disabled">2008-2016</a>
	{% else %}<a href="2016.html">2008-2016</a>{% endif %}
	
	{% if page.title == "A-Z Sinister Dexter (2017-2020)" %}<a class="disabled">2017-2020</a>
	{% else %}<a href="2020.html">2017-2020</a>{% endif %}
</div>

<img src="sinDex.png" />
<p class="credit">Art by Simon Davis</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/cQzDBf4kOLs" target="_blank">The 2000 AD ABC: Sinister Dexter</a></li>
<li><a href="https://shop.2000ad.com/catalogue/XB359" target="_blank">shop.2000ad.com: Sinister Dexter - Money Shots</a></li>
</ul>