---
layout: content
title: Future Shocks (1977)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>King of the World</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>25</td>	<td>Steve Moore</td>	<td>Blasquez</td>	<td>&lt;-- 2pp, [b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Food for Thought</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1977</td>	<td>26</td>	<td>Steve Moore</td>	<td>Horacio Lalia</td>	<td>&lt;-- 2pp, [b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>First Contact</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>27</td>	<td>Alan Hebden</td>	<td>Medraho</td>	<td>&lt;-- 2pp, [b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>Hunted</div></td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>The Monsters</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>Keith Page</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>The Symbiote</div></td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>Wings</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1977</td>	<td>28</td>	<td>Kevin O'Neill</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Just Like Home</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>29</td>	<td>Peter Harris</td>	<td>Ron Turner</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Beautiful World]</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1977</td>	<td>30</td>	<td>unknown</td>	<td>Ron Turner</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>A Promised Land</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>SFS7</span>31</div></td>	<td>unknown</td>	<td>Horacio Lalia</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Excursion</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1977</td>	<td>32-33</td>	<td>Peter Harris</td>	<td><div class='tt'><span class='ttt'>As&nbsp;Panacomics.<br></span><em>Horacio Lalia</em></div></td>	<td>[b&w]</td>	<td><div class='tt'><span class='ttt'>Jack&nbsp;Potter:&nbsp;1<br>Peter&nbsp;Knight:&nbsp;2<br></span><em>various</em></div></td>	</tr>
	<tr>	<td>Fangs</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1977</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KA'85</span>34</div></td>	<td>Chris Lowder</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>The Ultimate Warrior </td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>35</td>	<td>Robert Flynn</td>	<td>Marzal Canos</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Play Pool]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1977</td>	<td>36</td>	<td>Kelvin Gosnell</td>	<td>Kevin O'Neill</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Robot Repairs</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1977</td>	<td>37-38</td>	<td>Robert Flynn</td>	<td><div class='tt'><span class='ttt'>Brett&nbsp;Ewins<br>Brendan&nbsp;McCarthy</span><em>various</em></div></td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Space Prospector]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1977</td>	<td>40</td>	<td>Martin Lock</td>	<td>Trevor Goring</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>The Runts</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1977</td>	<td>41</td>	<td>Steve Moore</td>	<td>Pat Wright</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Time Past]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1977</td>	<td>42</td>	<td>Martin Lock</td>	<td>Jose Luis Ferrer</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Killer Car]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1977</td>	<td>45</td>	<td>Robert Flynn</td>	<td>Mike Dorey</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
</table>

{% include_relative postTable.html %}