---
layout: content
title: Future Shocks (1978)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>[Time Was]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>46</td>	<td>Martin Lock</td>	<td>Ramon Sola</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Enemy Agent]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M217</span>47 </div></td>	<td>Nick Tufnell</td>	<td>John Cooper</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Substitute]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M210</span>48 </div></td>	<td>Robert Flynn</td>	<td>Giorgi</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Fly Guy</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>49</td>	<td>Steve Moore</td>	<td>Jose Luis Ferrer</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[The Guardian]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M215</span>50 </div></td>	<td>Mike Cruden</td>	<td>John Cooper</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Galactic Garbage</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1978</td>	<td>51</td>	<td>Richard Burton</td>	<td>Trevor Goring</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[Solo Flip]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KA'84<br>M204<br></span>52</div></td>	<td>Chris Lowder</td>	<td>Brian Bolland</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[On the Run]</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1978</td>	<td>53</td>	<td>Robert Flynn</td>	<td>Brett Ewins </td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Stasis]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>54</td>	<td>Charles Swift</td>	<td><div class='tt'><span class='ttt'>Brett&nbsp;Ewins<br>Jim&nbsp;McCarthy</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[Space Bug]</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>55</td>	<td>V. Wernham</td>	<td>Jose Luis Ferrer</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Monkey]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>56</td>	<td>Alen Hebden</td>	<td>Mugallanes</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Juggernaut</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>58</td>	<td>Hunter Tremayne</td>	<td>Garry Leach</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>[Tin Can]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>59</td>	<td>Mike Cruden</td>	<td>Jose Luis Ferrer</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>[Timeless Secret]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>60</td>	<td>S.J. Grimes</td>	<td>Ramon Sola</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Fugitive]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>66</td>	<td>Philip Greenway</td>	<td>Ron Tiner</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>[Many Hands]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>70</td>	<td>Jan Garczynski</td>	<td>Jose Casanovas</td>	<td>[greyscale]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Dead Hit</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>74</td>	<td>Robert Flynn</td>	<td>Pierre Frisano</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>The Illusion Man</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1978</td>	<td>76</td>	<td>Martin Lock</td>	<td>Pierre Frisano</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>The Ultimate Warrior</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>77</td>	<td>Chris Stevens</td>	<td>Pierre Frisano</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Nothing on Earth</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>78</td>	<td>Chris Lowder</td>	<td>Pierre Frisano</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>The Last Lonely Man</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>[Breaking Out]</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>80</td>	<td>Jan Garczynski</td>	<td>Carlos Pino</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>What Hit Tunguska?</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>81</td>	<td>Chris Lowder</td>	<td>Pierre Frisano</td>	<td>[b&w]</td>	<td>Paul Bensberg</td>	</tr>
	<tr>	<td>[The Rescue]</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>82</td>	<td>Stan Nicholls</td>	<td>Vanyo</td>	<td>[b&w]</td>	<td>Jill Raphaeline</td>	</tr>
	<tr>	<td>[The Mote in God's Eye]</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>83</td>	<td>Roy Preston</td>	<td><div class='tt'><span class='ttt'>Martinez<br>Puchades</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Fourth Wall</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>85</td>	<td>Mike Cruden</td>	<td>John Cooper</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Poacher]</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>85</td>	<td>Barry Clements</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Jill Raphaeline</td>	</tr>
	<tr>	<td>Date With Destiny</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1978</td>	<td>88</td>	<td>Mike Cruden</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Child's Play</td>	<td>1</td>	<td>1.5</td>	<td>0</td>	<td>1978</td>	<td>89</td>	<td>Mike Cruden</td>	<td>Trevor Goring</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Kid's Stuff</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>90</td>	<td>Barry Clements</td>	<td>Carlos Pino</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Pandora's Box</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1978</td>	<td>93</td>	<td>Mike Cruden</td>	<td>Mike White</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>Jump Into Hell </div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>No&nbsp;supertitle.</span>The First Fatal Blow </div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}