---
layout: content
title: Future Shocks (1982)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>A Second Chance</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>245</td>	<td>Alan Moore</td>	<td>Jose Casanovas</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Twist Ending</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1982</td>	<td>246</td>	<td>Alan Moore</td>	<td>Paul Neary</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Salad Days</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>247</td>	<td>Alan Moore</td>	<td>John Higgins</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Joe&nbsp;Black</span>Horn of Plenty: a Joe Black Story</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1982</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>614<br>X27<br></span>248 </div></td>	<td>Kelvin Gosnell</td>	<td>John Higgins</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>The Beastly Beliefs of Benjamin Blint</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>249</td>	<td>Alan Moore</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Now You See It…</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1982</td>	<td>250</td>	<td>Alan Hebden</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>All of Them Were Empty</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>251</td>	<td>Alan Moore</td>	<td>Paul Neary</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>An American Werewolf in Space</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td>252</td>	<td>Alan Moore</td>	<td>Paul Neary</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Bounty Hunters</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KA'87<br>M202&nbsp;<br></span>253</div></td>	<td>Alan Moore</td>	<td>John Higgins</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Voyage of Discovery</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1982</td>	<td>255</td>	<td>Chris Stevens</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Joe&nbsp;Black</span>Joe Black's Big Bunco</div></td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1982</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M365&nbsp;(supplement)</span>256 </div></td>	<td>Kelvin Gosnell</td>	<td>John Higgins</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>The Wages of Sin</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1982</td>	<td>257</td>	<td>Alan Moore</td>	<td>Bryan Talbot</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Lanulos Run</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1982</td>	<td>258</td>	<td>David Perry</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Nigel Goes a-Hunting</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td>259</td>	<td>Alan Grant</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Alec&nbsp;Trench]</span>Alec Trench - Zombie</div></td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1982</td>	<td>263-264</td>	<td>Alan Grant, T.M.O.</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Return of the Thing</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>265</td>	<td>Alan Moore</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Skirmish!</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>267</td>	<td>Alan Moore</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Writing on the Wall</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>268</td>	<td>Alan Moore</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The Wild Frontier</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>B2KSE1</span>269</div></td>	<td>Alan Moore</td>	<td>Dave Gibbons</td>	<td>&lt;--</td>	<td>Dave Gibbons</td>	</tr>
	<tr>	<td>The Big Day</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>270</td>	<td>Alan Moore</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>One Xmas During Eternity</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>271</td>	<td>Alan Moore</td>	<td>Jesus Redondo</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>No Picnic</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>272</td>	<td>Alan Moore</td>	<td>John Higgins</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Doctor&nbsp;Dibworthy</span>The Disturbed Digestions of Doctor Dibworthy</div></td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>B2KSE2</span>273 </div></td>	<td>Alan Moore</td>	<td>Dave Gibbons</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>[The Martians]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1982</td>	<td>274</td>	<td>David Perry</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Bill Nuttall</td>	</tr>
	<tr>	<td>Sunburn</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1982</td>	<td>282</td>	<td>Alan Moore</td>	<td>Jesus Redondo</td>	<td>&lt;--p5, [b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Beware the Men in Black</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1982</td>	<td>286</td>	<td>David Perry</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Sid</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td>286</td>	<td>Alan Grant</td>	<td>Brett Ewins</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>The War Game</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td>287</td>	<td>Alan Grant</td>	<td>Jim Eldridge</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>Bad Timing</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1982</td>	<td>291</td>	<td>Alan Moore</td>	<td>Mike White</td>	<td>[b&w]</td>	<td>Paul Bensberg</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td>Bargain Buy </td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1982</td>	<td>2KA'83</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}