---
layout: content
title: A-Z Future Shocks (1985)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Bad Maxwell</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1985</td>	<td>402</td>	<td>Peter Milligan</td>	<td>Brendan McCarthy</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>[Crazy War]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>404</td>	<td>Peter Milligan</td>	<td>Anthony Jozwiak</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>Extra! Extra!</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1985</td>	<td>407</td>	<td>Peter Milligan</td>	<td>Jose Casanovas</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Nerves of Steel</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1985</td>	<td>408</td>	<td>Peter Milligan</td>	<td>Will Simpson</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>But Is It Art?</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1985</td>	<td>409</td>	<td>Peter Milligan</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>Long Division</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>410</td>	<td>Alan Hebden</td>	<td>Mones</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Eggravation</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>420</td>	<td>Peter Milligan</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Do You Copy?</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>SFS8</td>	<td>Peter Milligan</td>	<td>Brendan McCarthy</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>The Mousetrap</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>424</td>	<td>Alan Hebden</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>Grainger in Paradise</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>426</td>	<td>Peter Milligan</td>	<td>Kev Hopgood</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>The Edge of Forever</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1985</td>	<td>429</td>	<td>Alan Hebden</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Speak No Evil</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1985</td>	<td>434</td>	<td>Peter Milligan</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Car Wars</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1985</td>	<td>434</td>	<td>Peter Milligan</td>	<td>John Higgins</td>	<td>[b&w]</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>The Long Sleep</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1985</td>	<td>435</td>	<td>Peter Milligan</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>The War With the Slobb</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1985</td>	<td>437</td>	<td>Peter Milligan</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>The Revenge of Yallop Cringe</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1985</td>	<td>438</td>	<td>Peter Milligan</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Eric the Wild!</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>439</td>	<td>Peter Milligan</td>	<td>Anthony Jozwiak</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Prisoner of Conscience</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1985</td>	<td>440</td>	<td>Peter Milligan</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Doing Time</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>441</td>	<td>Peter Milligan</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>It's the Thought That Counts</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>442</td>	<td>Peter Milligan</td>	<td>Steve Dillon</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Mind How You Go</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>444</td>	<td>Oleh Stepaniuk</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>How to Murder Your Droid</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1985</td>	<td>446</td>	<td>Oleh Stepaniuk</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
</table>

{% include_relative postTable.html %}