---
layout: content
title: Future Shocks (1986)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The Armageddon Game</td>	<td>1</td>	<td>4.5</td>	<td><div class='tt'><span class='ttt'>Anthony&nbsp;Jozwiak<br></span>1</div></td>	<td>1986</td>	<td>462</td>	<td>Peter Milligan</td>	<td><div class='tt'><span class='ttt'>Johnson<br>Anthony&nbsp;Jozwiak</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Hotel Harry Felix</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1986</td>	<td>463</td>	<td>Grant Morrison</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Oh What a Lovely War</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1986</td>	<td>464</td>	<td>Oleh Stepaniuk</td>	<td>John Stokes</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Seconds Out</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1986</td>	<td>465</td>	<td>Oleh Stepaniuk</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Sud's Law</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1986</td>	<td>465</td>	<td>Oleh Stepaniuk</td>	<td>Kim Raymond</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Biological Warfare</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1986</td>	<td>466</td>	<td>Oleh Stepaniuk</td>	<td>John Stokes</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>The Alteration</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1986</td>	<td>466</td>	<td>Grant Morrison</td>	<td>Alan Langford</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Alien Aid</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1986</td>	<td>469</td>	<td>Grant Morrison</td>	<td>John Stokes</td>	<td>&lt;--</td>	<td>Richard Starkings</td>	</tr>
	<tr>	<td>Time Enough to Tell</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1986</td>	<td>473</td>	<td>John Smith</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Tony Jacob</td>	</tr>
	<tr>	<td>Some People Never Listen</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1986</td>	<td>475</td>	<td>Grant Morrison</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>The Shop That Sold Everything</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1986</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X18</span>477</div></td>	<td>Grant Morrison</td>	<td>John Stokes</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Video</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1986</td>	<td>478</td>	<td>John Smith</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Daffy Daffid</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1986</td>	<td>479</td>	<td>Oleh Stepaniuk</td>	<td>Mark Dunn</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Ten</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1986</td>	<td>480</td>	<td>David Pugh, Rogan</td>	<td>David Pugh</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Wheels of Fury</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1986</td>	<td>481</td>	<td>Grant Morrison</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Curse Your Lucky Star</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1986</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X28</span>482</div></td>	<td>Grant Morrison</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
	<tr>	<td>Return to Sender</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1986</td>	<td>2KA'87</td>	<td>Grant Morrison</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>You're Never Alone With a Phone</td>	<td>1</td>	<td>4.5</td>	<td>0</td>	<td>1986</td>	<td>488</td>	<td>Neil Gaiman</td>	<td>John Hicklenton</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Conversation Piece</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1986</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KYB'94</span>489</div></td>	<td>Neil Gaiman</td>	<td>Dave Wyatt</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Indigo&nbsp;Prime</span>A Change of Scenery</div></td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1986</td>	<td>490 </td>	<td>John Smith</td>	<td>Nik Williams</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Say "Aaaaagh!"</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1986</td>	<td>493</td>	<td>Steve MacManus</td>	<td>Dave Wyatt</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>The Ship That Liked to Dance</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1986</td>	<td>501</td>	<td>Jamie Delano</td>	<td>Barry Kitson</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
</table>

{% include_relative postTable.html %}