---
layout: content
title: A-Z Future Shocks (1987)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Ulysses&nbsp;Sweet</span>Maniac for Hire</div></td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1987</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>X28</span>507 </div></td>	<td>Grant Morrison</td>	<td>Johnny Johnstone</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
	<tr>	<td>Prime Suspect</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>510</td>	<td>Alex Stewart</td>	<td>Dave Wyatt</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bait</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>511</td>	<td>Alex Stewart</td>	<td>A Haddersley</td>	<td>[b&w]</td>	<td>A Haddersley</td>	</tr>
	<tr>	<td>Wrong Number</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M338&nbsp;(supplement)</span>512</div></td>	<td>G Bell</td>	<td>Kev Hopgood</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Brief Encounter</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>513</td>	<td>Alex Stewart</td>	<td>Geoff Senior</td>	<td>[b&w]</td>	<td>Maurice Dolphin</td>	</tr>
	<tr>	<td>Fair Exchange</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1987</td>	<td>514</td>	<td>Grant Morrison</td>	<td>Colin MacNeil</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>The Invisible Etchings of Salvador Dali</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1987</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M264</span>515</div></td>	<td>Grant Morrison</td>	<td>John Hicklenton</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>Big Trouble for Blast Barclay</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1987</td>	<td>516</td>	<td>Grant Morrison</td>	<td>Mike White</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>The Star Warriors</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>517</td>	<td>Alan McKenzie</td>	<td>Nik Williams</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>A Fistful of Neurons</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>518</td>	<td>Alex Stewart</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>[Alien Zapper]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>518</td>	<td>Alex Stewart</td>	<td>Kev Hopgood</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>With a Bang…</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>522</td>	<td>Alex Stewart</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>His Name Was Janus</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>524</td>	<td>John Soanes</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>Christine - Michele</td>	</tr>
	<tr>	<td>Old Quagmires Never Die</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>529</td>	<td>Alan McKenzie</td>	<td><div class='tt'><span class='ttt'>Tom&nbsp;Frame<br>Johnny&nbsp;Johnstone</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Fair's Fare</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1987</td>	<td>530</td>	<td>Jamie Delano</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Clive McGee</td>	</tr>
	<tr>	<td>[Someone Is Watching Me]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>531</td>	<td>Alan McKenzie</td>	<td>Liam McCormack-Sharp</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>The Junkyard Shift</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1987</td>	<td>532</td>	<td>Alan McKenzie</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Bradley</span>Alter-Nators…</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>533</td>	<td>Alan McKenzie</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Night-Shift</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1987</td>	<td>535</td>	<td>Alan Hebden</td>	<td>Will Simpson</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>I'm a Believer</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1987</td>	<td>536</td>	<td>Neil Gaiman</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Tomorrow's Results</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1987</td>	<td>536</td>	<td>Alan Hebden</td>	<td>Intruder</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Resentment</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1987</td>	<td>537</td>	<td>Alan Hebden</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>What's in a Name?</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1987</td>	<td>538</td>	<td>Neil Gaiman</td>	<td>Steve Yeowell</td>	<td>&lt;-- p6, [b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Occupational Hazard</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>539</td>	<td>R Corona</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Jigsaw Man</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>539</td>	<td>Mike Collins</td>	<td>Mike Collins</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Letter to Ernie…</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1987</td>	<td>544</td>	<td>Win Wiacek</td>	<td>Mark Farmer</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[Tourist Season]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1987</td>	<td>544</td>	<td>Mike Collins</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>A. Mugg</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Alt.&nbsp;title:&nbsp;[T.R.A.I.N.]</span>[Infiltrators] </div></td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1987</td>	<td>551</td>	<td>Alan Hebden</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>LED</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>553</td>	<td>Win Wiacek</td>	<td>Huw Thomas</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>The Invisible Man</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1987</td>	<td>554</td>	<td>Mike Collins</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
</table>

{% include_relative postTable.html %}