---
layout: content
title: A-Z Future Shocks (1988)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>[Bedtime Story]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>557</td>	<td>Win Wiacek</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>A Good Thing</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1988</td>	<td>558</td>	<td>P Reid</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[No Exit]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td>559</td>	<td>John Smith</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Killer Rhythms</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td>560</td>	<td>Dick Foreman</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>One Man's Meat</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1988</td>	<td>563</td>	<td>John Smith</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Care</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>564</td>	<td>Alan McKenzie</td>	<td>Richard Elson</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Warriors]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td>565</td>	<td>Mamo-Mason</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Plastic Surgeon</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1988</td>	<td>567</td>	<td>C Smith</td>	<td>Glenn Fabry</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Conquering the Galaxy on $10 a Day</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M320&nbsp;(supplement)</span>568</div></td>	<td>Philip Barber</td>	<td>Simon Harrison</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Heroic Failure</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1988</td>	<td>569</td>	<td>Alex Stewart</td>	<td>Paul Marshall</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Of Glooking Globs and Gloins</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>569</td>	<td>Connor Corderoy</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
	<tr>	<td>Disconnected</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>570</td>	<td>Jon Murphy</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Bliss</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td>571</td>	<td>Alan McKenzie</td>	<td>Mark Farmer</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Wally Saves the Day</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>572</td>	<td>Steve Dillon</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Monsters</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>586</td>	<td>J.W. Mamo-Mason</td>	<td>Will Simpson</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[Team Work]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>588</td>	<td>Steve Dillon</td>	<td>Nigel Dobbyn</td>	<td>[b&w]</td>	<td>Mark King</td>	</tr>
	<tr>	<td>Careless Talk</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1988</td>	<td>589</td>	<td>John Gatehouse</td>	<td>Glynn Dillon</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Alt.&nbsp;title:&nbsp;[Casualty].</span>[Team Work]</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>590</td>	<td>Hilary Robinson</td>	<td>Jim McCarthy</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Near Miss</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1988</td>	<td>592</td>	<td>Stewart Edwards</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[Cultural Exchange]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>593</td>	<td>Hilary Robinson</td>	<td>Jim McCarthy</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Nightmare]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>594</td>	<td>Stewart Edwards</td>	<td>Kevin Walker</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[No News]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1988</td>	<td>594</td>	<td>Stewart Edwards</td>	<td>Jeff Anderson</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>[No 2 Lorinda]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1988</td>	<td>595</td>	<td>Hilary Robinson</td>	<td>Nigel Dobbyn</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>[The Good Wife]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>596</td>	<td>Stewart Edwards</td>	<td>Kevin Walker</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Angel Chimes]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>603</td>	<td>Hilary Robinson</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Copyright]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>604</td>	<td>Jim Campbell</td>	<td>Nigel Dobbyn</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[The Osmotic Man]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1988</td>	<td>605</td>	<td>John Smith</td>	<td>Horacio Lalia</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Vetted]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1988</td>	<td>605</td>	<td>Jim Campbell</td>	<td>Chris Smith</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
</table>

{% include_relative postTable.html %}