---
layout: content
title: A-Z Future Shocks (1989)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Accident</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1989</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M333&nbsp;(supplement)</span>608</div></td>	<td>Larry Watson</td>	<td>Richard Elson</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[In the Beginning]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>608</td>	<td>Larry Watson</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Time to Wake Up]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>609</td>	<td>Larry Watson</td>	<td>Jose Ortiz</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Fat Chance]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>609</td>	<td>John Tomlinson</td>	<td>Simon Jacob</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>[Enterprise]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>610</td>	<td>Stewart Edwards</td>	<td>Kevin Walker</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Writers' Block</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>611</td>	<td>Mike Collins</td>	<td>Simon Jacob</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[The Keepsake]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>612</td>	<td>Nicholas Barber</td>	<td>Kevin Walker</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[At Twilight's Last Gleaming]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>613</td>	<td>John Tomlinson</td>	<td>Stephen Baskerville</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Pollution]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>614</td>	<td>Hilary Robinson</td>	<td>Kevin Walker</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>[Still Life]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>616</td>	<td>David Anderson</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>[The Flint Sisters]</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1989</td>	<td>617</td>	<td>David Anderson</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Deadline</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>622</td>	<td>Hilary Robinson</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Nick Abadzis</td>	</tr>
	<tr>	<td>Reunion</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>623</td>	<td>Nicholas Barber</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>[Amanda]</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>623</td>	<td>Jim Campbell</td>	<td>Chris Weston</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>Just Between Ourselves</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>624</td>	<td>Neal Brand</td>	<td>Gual</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>A Body Like Dwain Death's</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>625</td>	<td>David Anderson</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>[Touch of Death]</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1989</td>	<td>627</td>	<td>Larry Watson</td>	<td>Duncan Goodacre</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>He Met the Moonmen</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1989</td>	<td>627</td>	<td>Stewart Edwards</td>	<td>Paul Marshall</td>	<td>[b&w]</td>	<td>Sam Simek</td>	</tr>
	<tr>	<td>[Holy Hologram]</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>628</td>	<td>David Anderson</td>	<td>Martin Griffiths</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Race Relations</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>628</td>	<td>Nicholas Barber</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Opening Moves</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>629</td>	<td>John Smith</td>	<td>Mick Austin</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>House of the Future</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M291&nbsp;(supplement)</span>637</div></td>	<td>Chris Gormley</td>	<td>Chris Weston</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Brand Loyalty</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M398&nbsp;(supplement)</span>638</div></td>	<td>Mike Collins</td>	<td>Paul Marshall</td>	<td>[b&w]</td>	<td>Stella</td>	</tr>
	<tr>	<td>The Getting of Wisdom</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>639</td>	<td>Mike Collins</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>The Foreign Model</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>643</td>	<td>Mark Millar</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Identity Crisis</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>644</td>	<td>Nicholas Barber</td>	<td>Glynn Dillon</td>	<td>[b&w]</td>	<td>Nick Abadzis</td>	</tr>
	<tr>	<td>Birthday Greetings</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>645</td>	<td>Hilary Robinson</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td><div class='tt'><span class='ttt'>Marked&nbsp;as&nbsp;"qa!"<br></span><em>unknown</em></div></td>	</tr>
	<tr>	<td>You Need Friends</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>646</td>	<td>Larry Watson</td>	<td>Massimo Belardinelli</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Brogan's Last Ride</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>647</td>	<td>Ian Rimmer</td>	<td>Simon Coleby</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Self-Awareness</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>648</td>	<td>Mark Millar</td>	<td>Keith Page</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bingo Hits the Bigtime</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1989</td>	<td>648</td>	<td>Paul Carstairs</td>	<td>Andrew Wildman</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Val</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1989</td>	<td>649</td>	<td>Jon Murphy</td>	<td>Paul Marshall</td>	<td>[b&w]</td>	<td>Stella</td>	</tr>
</table>

{% include_relative postTable.html %}