---
layout: content
title: Future Shocks (1991)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Digby Trench - Come on Down</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>712</td>	<td>Brian Williamson</td>	<td>Simon Jacob</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Treasured Companions</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1991</td>	<td>713</td>	<td>Jim Clements</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Blossom</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>714</td>	<td>Frances Lynn</td>	<td>Stuart Jennett</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bone Shaker</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>715</td>	<td>Nicholas Barber</td>	<td>Tim Perkins</td>	<td>[b&w]</td>	<td>Jack Potter</td>	</tr>
	<tr>	<td>Great Minds Think Alike</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1991</td>	<td>716</td>	<td>David Anderson</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>It's Alive</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>717</td>	<td>John Tomlinson</td>	<td>Mick Austin</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Robot</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>718</td>	<td>Frances Lynn</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>Retribution</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>720</td>	<td>John Tomlinson</td>	<td>Arthur Ranson</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Tree of Knowledge</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1991</td>	<td>721</td>	<td>Iain Simmons</td>	<td>Simon Jacob</td>	<td>&lt;--</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Marksman</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1991</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M338&nbsp;(supplement)</span>729</div></td>	<td>Westley Smith</td>	<td>Kev Hopgood</td>	<td>&lt;--</td>	<td>Bambos Georgiou</td>	</tr>
	<tr>	<td>[The Cruise]</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1991</td>	<td>742</td>	<td>Frances Lynn</td>	<td>Arthur Ranson</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>A Pact With the Devil</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>743</td>	<td>Frances Lynn</td>	<td>Eric Bradbury</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>A Peace of Paper</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1991</td>	<td>747</td>	<td>Win Wiacek</td>	<td>Tim Perkins</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Tharg's&nbsp;Time&nbsp;Twisters</span>Blink of an Eye (a Time Twister)</div></td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1991</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M342&nbsp;(supplement)</span>748</div></td>	<td>Mark Eyles</td>	<td>Carl Critchlow</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Rocket Man</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1991</td>	<td>749</td>	<td>Andy McDermott</td>	<td>Tim Bollard</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Fallen</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1991</td>	<td>760</td>	<td>John Tomlinson</td>	<td>Massimo Belardinelli</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
</table>

{% include_relative postTable.html %}