---
layout: content
title: Future Shocks (1992-1993)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">1992</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>One-Way Ticket</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1992</td>	<td>780</td>	<td>Brian Williamson</td>	<td>Jeff Anderson</td>	<td>&lt;--</td>	<td>Pat Prentice</td>	</tr>
	<tr>	<td>Nightmare on Ses*me Street</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1992</td>	<td>785</td>	<td>Mark Millar</td>	<td>Brian Williamson</td>	<td>&lt;--</td>	<td>Pat Prentice</td>	</tr>
	<tr>	<td>A Fete Worse Than Death</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1992</td>	<td>786</td>	<td>Mark Millar</td>	<td>Brian Williamson</td>	<td>&lt;--</td>	<td>Pat Prentice</td>	</tr>
	<tr>	<td>We Come in Peace</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1992</td>	<td>792</td>	<td>Tim Bollard</td>	<td>Tim Bollard</td>	<td>&lt;--</td>	<td>Mary Green</td>	</tr>
	<tr>	<td>A Hitch in Time</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1992</td>	<td>796</td>	<td>John Tomlinson</td>	<td>Staz Johnson</td>	<td>&lt;--</td>	<td>Gary Gilbert</td>	</tr>
	<tr>	<td>Hot Iron</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1992</td>	<td>797</td>	<td>Jim Baikie</td>	<td>Jim Baikie</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Seeds</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1992</td>	<td>798</td>	<td>Peter Hogan</td>	<td>Lee Sullivan</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Ghosts in the Machine</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1992</td>	<td>2KYB'93</td>	<td>Alan McKenzie</td>	<td>Sean Phillips</td>	<td>[b&w]</td>	<td>Gordon Robson</td>	</tr>
	<tr>	<td>This Island East Dulwich</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1992</td>	<td>799</td>	<td>John Tomlinson</td>	<td>Jeff Anderson</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Attack of the Crab Monsters</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1992</td>	<td>812</td>	<td>Tim Bollard</td>	<td>Tim Bollard</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Features&nbsp;|&nbsp;Indexes</span>Future Shock: Index Update</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1992</td>	<td>SFS15</td>	<td>editorial</td>	<td><div class='tt'><span class='ttt'>Reprint.</span><em>Simon Jacob</em></div></td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">1993</td></tr>
	<tr>	<td>The Wall of God</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>826</td>	<td>John Tomlinson</td>	<td>Mike Hadley</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Fatburger</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>827</td>	<td>Frances Lynn</td>	<td>Ron Smith</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Terror at Lazyview Rest Home</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1993</td>	<td>831</td>	<td>Igor Goldkind</td>	<td>Ron Smith</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>A Cross for Aaron</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>832</td>	<td><div class='tt'><span class='ttt'>Mike&nbsp;Hadley<br>Harry&nbsp;Harrison</span><em>various</em></div></td>	<td>Mike Hadley</td>	<td>&lt;--</td>	<td>Richard Bird</td>	</tr>
	<tr>	<td>[The Portrait]</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>833</td>	<td>Frances Lynn</td>	<td>Dave D'Antiquis</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>A Kind of Hush</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1993</td>	<td>862</td>	<td>Peter Hogan</td>	<td>Jon Haward</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Brighter Later</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1993</td>	<td>WS5</td>	<td>Peter Hogan</td>	<td>Jon Haward</td>	<td>[b&w]</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>A Time of Peace</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>864</td>	<td>Peter Hogan</td>	<td>David Hill</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>It's a Cold World</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1993</td>	<td>865</td>	<td>James Oswald</td>	<td>Mike Perkins</td>	<td>Gina Hart</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Clone Wolf</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1993</td>	<td>866</td>	<td>Peter Hogan</td>	<td>David Hill</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
</table>

{% include_relative postTable.html %}