---
layout: content
title: Future Shocks (1994-2000)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">1994</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The Night Santa Signed On</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1994</td>	<td>868</td>	<td>Mark Millar</td>	<td>Ron Smith</td>	<td>Gina Hart</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Red Giant</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1994</td>	<td>892</td>	<td>Peter Hogan</td>	<td>Paul Johnson</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Life Sentence</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1994</td>	<td>893</td>	<td>David Hine</td>	<td>David Hine</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>The Birthday</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1994</td>	<td>918</td>	<td>Frances Lynn</td>	<td>Jim McCarthy</td>	<td>&lt;--</td>	<td>Caroline Steeden</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">1995</td></tr>
	<tr>	<td>The Grid</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>926</td>	<td>Jim Alexander</td>	<td>David Hill</td>	<td>Darren Stephens</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Subliminals</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>927</td>	<td>Robbie Morrison</td>	<td>David Millgate</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Star</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>938</td>	<td>Peter Hogan</td>	<td>Mike Perkins</td>	<td>&lt;--</td>	<td>Bunty Mayhew</td>	</tr>
	<tr>	<td>We Are the Holo Men</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1995</td>	<td>SFS18</td>	<td>Alan McKenzie</td>	<td>Mike White</td>	<td>John Burns</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>The Way We Whirr</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1995</td>	<td>SFS18</td>	<td>Peter Hogan</td>	<td>Tim Perkins</td>	<td>&lt;--</td>	<td>Elitta Fell</td>	</tr>
	<tr>	<td>Nightmare Patrol</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>948</td>	<td>Kek-W</td>	<td>Shaky Kane</td>	<td>&lt;--</td>	<td>Bunty Mayhew</td>	</tr>
	<tr>	<td>Brush With Fate</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1995</td>	<td>949</td>	<td>Win Wiacek</td>	<td>Paul Peart</td>	<td>Dondie Cox</td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2000</td></tr>
	<tr>	<td>The Last Supper</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2000</td>	<td>1205</td>	<td>Steve Moore</td>	<td>Frazer Irving</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Dwellers in the Depths</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Mark&nbsp;Harrison<br></span>1</div></td>	<td>2000</td>	<td>1206</td>	<td>Steve Moore</td>	<td>Wayne Reynolds</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The Petition</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2000</td>	<td>1207</td>	<td>D'Israeli</td>	<td>D'Israeli</td>	<td>[b&w]</td>	<td>D'Israeli</td>	</tr>
	<tr>	<td>Home From the War</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2000</td>	<td>1208</td>	<td>Steve Moore</td>	<td>Boo Cook</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Skeleton Crew</td>	<td>1</td>	<td>5</td>	<td><div class='tt'><span class='ttt'>Artist:&nbsp;Frazer&nbsp;Irving<br>Colours:&nbsp;Chris&nbsp;Blythe<br></span>1</div></td>	<td>2000</td>	<td>1209</td>	<td>Steve Moore</td>	<td>Frazer Irving</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>The World Next Door</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2000</td>	<td>1210</td>	<td>Steve Moore</td>	<td>Andrew Chiu</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Escape Ship</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2000</td>	<td>1211</td>	<td>Steve Moore</td>	<td>Dylan Teague</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
</table>

{% include_relative postTable.html %}