---
layout: content
title: Future Shocks (2002-2003)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">2002</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Stalemate</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2002</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>http://goo.gl/JKy6pK<br></span>1275</div></td>	<td>Chris Blythe</td>	<td>Cam Kennedy</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Skeleton Key</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1276</td>	<td>Richard McTighe</td>	<td>PJ Holden</td>	<td>Angus McKie</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Queen of Spin</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1277</td>	<td>Ben Counter</td>	<td>Laurence Campbell</td>	<td>Angus McKie</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Marooned</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1278</td>	<td>Steve Moore</td>	<td>Shaun Bryan</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Hormones</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1279</td>	<td>Simon Spurrier</td>	<td>P. Martin, Nigel Raynor</td>	<td>Angus McKie</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Ratings War</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2002</td>	<td>1286</td>	<td>Chris Blythe</td>	<td>Steve Parkhouse</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Right Back at Ya</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1287</td>	<td>Mike Carey</td>	<td>John Charles</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Goldie Locks & the Three B.E.A.R.S.</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1288</td>	<td>Andrew Lewis</td>	<td>Boo Cook</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Celestial Bodies</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1294</td>	<td>Simon Spurrier</td>	<td>Shaun Bryan</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Warped</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1295</td>	<td>Steve Moore</td>	<td><div class='tt'><span class='ttt'>Ben&nbsp;McCloud&nbsp;(P)<br>Cliff&nbsp;Robinson&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>His Master's Voice</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1310</td>	<td>Jamie Woolley</td>	<td>Jim McCarthy</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Assassination</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2002</td>	<td>1319</td>	<td>Richard McTighe</td>	<td>D'Israeli</td>	<td>[greyscale]</td>	<td>Tom Frame</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2003</td></tr>
	<tr>	<td>Head</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2003</td>	<td>1334</td>	<td>Jamie Woolley</td>	<td>Simon Gurr</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Bad Thoughts</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2003</td>	<td>1342</td>	<td>Richard McTighe</td>	<td><div class='tt'><span class='ttt'>Leigh&nbsp;Gallagher&nbsp;(P)<br>Dylan&nbsp;Teague&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Revelations</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2003</td>	<td>1343</td>	<td>Chris Blythe</td>	<td>Cam Kennedy</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Burning Deck</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2003</td>	<td>1359</td>	<td>Jaspre Bark</td>	<td>Rufus Dayglo</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Tadfraggers</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2003</td>	<td>1369</td>	<td>Simon Spurrier</td>	<td><div class='tt'><span class='ttt'>Gary&nbsp;Crutchley&nbsp;(P)<br>Cliff&nbsp;Robinson&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Autocrats Anonymous</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2003</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M383&nbsp;(supplement)</span>1370</div></td>	<td>Jaspre Bark</td>	<td>PJ Holden</td>	<td>[b&w]</td>	<td>Tom Frame</td>	</tr>
</table>

{% include_relative postTable.html %}