---
layout: content
title: A-Z Future Shocks (2008-2011)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">2008</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Adventures in the War Trade</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1574</td>	<td>Alec Worley</td>	<td>Staz Johnson</td>	<td>[greyscale]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Rapture Ready</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1576</td>	<td>Arthur Wyatt</td>	<td>Edmund Bagwell</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Rogue Elements</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1597</td>	<td>Alec Worley</td>	<td>Nick Dyer</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Scab Lands</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1607</td>	<td>Arthur Wyatt</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Killer Fortune</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1610</td>	<td>Jaspre Bark</td>	<td>Tiernan Trevallion</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Lie</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2008</td>	<td>1611</td>	<td>David Baillie</td>	<td>Nick Dyer</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2009</td></tr>
	<tr>	<td>Legacy System</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td>1640</td>	<td>Arthur Wyatt</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>9 to 5</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td>1641</td>	<td>John Howson</td>	<td>Ben Willsher</td>	<td>[greyscale]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Sanctuary</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td>1646</td>	<td>Michael Carroll</td>	<td>John Cooper</td>	<td>[greyscale]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Death of a Despot</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td>1663</td>	<td>Matthew Badham</td>	<td>John Cooper</td>	<td>[greyscale]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Cargo Culture</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td>1664</td>	<td>Arthur Wyatt</td>	<td>Edmund Bagwell</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Whatever Happened to the Green Pedestrian Palm?</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2009</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>FCBD2</span>p2010</div></td>	<td>Chris Weston</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2010</td></tr>
	<tr>	<td>Lord of the Fanboys</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2010</td>	<td>1672</td>	<td>Alec Worley</td>	<td><div class='tt'><span class='ttt'>Rob&nbsp;Taylor<br>Anthony&nbsp;Williams</span><em>various</em></div></td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Fast Hearts</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2010</td>	<td>1673</td>	<td>Alec Worley</td>	<td>Nick Dyer</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>MyHeaven</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2010</td>	<td>1710</td>	<td>Alec Worley</td>	<td>Inaki Miranda</td>	<td>Eva de la Cruz</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Self Inflicted</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2010</td>	<td>1711</td>	<td>Dominic Teague</td>	<td>Joel Carpenter</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Universal Masterchef</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2010</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M418&nbsp;(supplement)</span>1712</div></td>	<td>T.C. Eglington</td>	<td>Steve Yeowell</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Boxes</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2010</td>	<td>1714</td>	<td>T.C. Eglington</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2011</td></tr>
	<tr>	<td>The Last James Drillard</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2011</td>	<td>1725</td>	<td>T.C. Eglington</td>	<td>Joel Carpenter</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Trading Faces</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2011</td>	<td>1726</td>	<td>T.C. Eglington</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Survival of the Fittest</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2011</td>	<td>1738</td>	<td>T.C. Eglington</td>	<td>Paul Davidson</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Hacked</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2011</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M386&nbsp;(supplement)</span>1754</div></td>	<td>Simon Spurrier</td>	<td>Jon Davis-Hunt</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
</table>

{% include_relative postTable.html %}