---
layout: content
title: Future Shocks (2015-2017)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">2015</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The Big Heist</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2015</td>	<td>1932</td>	<td>David Baillie, Dan Lester</td>	<td>Daniel Dwyer</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The World According to Bob</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2015</td>	<td>1933</td>	<td>INJ Culbard</td>	<td>INJ Culbard</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Dust</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>2015</td>	<td>SFS21</td>	<td>Gary Blatchford</td>	<td>John Higgins  </td>	<td>&lt;--</td>	<td>John Higgins  </td>	</tr>
	<tr>	<td>Cloud Nine</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2015</td>	<td>1943</td>	<td><div class='tt'><span class='ttt'>John&nbsp;Higgins<br>Sally&nbsp;Jane&nbsp;Hurst</span><em>various</em></div></td>	<td>John Higgins</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Re-Incarn-8</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2015</td>	<td>1949</td>	<td>David Baillie</td>	<td>Nick Brokenshire</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Mighty Mykflex</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2015</td>	<td>1961</td>	<td>Martin Feekins</td>	<td>Jesus Redondo</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2016</td></tr>
	<tr>	<td>Lifosuction</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2016</td>	<td>1972</td>	<td>Rory McConville</td>	<td>Joe Palmer</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Tour Guide</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2016</td>	<td>1976</td>	<td>Rory McConville</td>	<td>Joshua George</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Meat</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2016</td>	<td>1989</td>	<td>Martin Feekins</td>	<td>Jon Davis-Hunt</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Return of the Revolutionaries</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2016</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M427&nbsp;(supplement)</span>2009</div></td>	<td>Rory McConville</td>	<td>Eoin Coveney</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2017</td></tr>
	<tr>	<td>Donations Welcome</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2017</td>	<td>Rory McConville</td>	<td>Steven Austin</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>The Best Brain in the Galaxy</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2023</td>	<td>Andrew Williamson</td>	<td>Tilen Javornik</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Family Time</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2024</td>	<td>Rory McConville</td>	<td>Nick Dyer</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Dream Factory</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2025</td>	<td>Rory McConville</td>	<td>Steve Yeowell</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>The Body Politic</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2041</td>	<td>James Peaty</td>	<td>Andrea Mutti</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Terminal</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2048</td>	<td>Rory McConville</td>	<td>Tilen Javornik</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Alt-Life</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>2049</td>	<td>Rory McConville</td>	<td>Jake Lynch</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
</table>

{% include_relative postTable.html %}