---
layout: content
title: Future Shocks (2018-2020)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">2018</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Sunday Scientist</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>2072</td>	<td>Laura Bailey</td>	<td>Paul Williams</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Freedom Wears Two Faces</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>2073</td>	<td>James Peaty</td>	<td>Dylan Teague</td>	<td>[greyscale]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>An Inconvenient Tooth</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>2079</td>	<td>Martin Feekins</td>	<td>Joe Palmer</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Humancraft!</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2018</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KRC1</span>FCBD8R</div></td>	<td>Ned Hartley</td>	<td>Tanya Roberts</td>	<td>&lt;--</td>	<td>Maz Smith</td>	</tr>
	<tr>	<td>The Puppet</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>2080</td>	<td>James Peaty</td>	<td>Nick Dyer</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Delivery</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2018</td>	<td>SFS23</td>	<td>Tillie Walden</td>	<td>Tillie Walden</td>	<td>[b&w]</td>	<td>Tillie Walden</td>	</tr>
	<tr>	<td>Talk's Cheap</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>2099</td>	<td>Mark McCann</td>	<td>Adam Brown</td>	<td>&lt;--</td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2019</td></tr>
	<tr>	<td>Grave Negotiations</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td>2119</td>	<td>Rory McConville</td>	<td>Duane Leslie</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Juncture</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td>2128</td>	<td>Andi Ewington</td>	<td>Anna Morozova</td>	<td>[greyscale]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>They Shoot Monsters, Don't They?</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td>2129</td>	<td>Billy Higgins</td>	<td>Tony Allcock</td>	<td>[greyscale]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;The&nbsp;Unteachables</span>That Weird Kid</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KRC1</span>2130R</div></td>	<td>Karl Stock</td>	<td>Brett Parson</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>The Switch</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td>2145</td>	<td>Erica Schultz</td>	<td>Liana Kangas</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Congested Anima</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Glenn&nbsp;Fabry&nbsp;&&nbsp;Karen&nbsp;Holloway<br></span>1</div></td>	<td>2019</td>	<td>2149</td>	<td>Mark McCann</td>	<td><div class='tt'><span class='ttt'>Glenn&nbsp;Fabry<br>Karen&nbsp;Holloway</span><em>various</em></div></td>	<td>Adam Brown</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Restructuring</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2019</td>	<td>2150</td>	<td>Karl Stock</td>	<td>Will Simpson</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">2020</td></tr>
	<tr>	<td>Living Your Best Life</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2020</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>2KRC1</span>2170R</div></td>	<td>Karl Stock</td>	<td>Luke Horsman</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Scavengers</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2020</td>	<td>2181</td>	<td>Rory McConville</td>	<td>Andrea Mutti</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>A.I. ♥ You</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2020</td>	<td>2182</td>	<td>Liam Johnson</td>	<td>Robin Henley</td>	<td>[greyscale]</td>	<td>Jim Campbell</td>	</tr>
	<tr>	<td>The Queen of Mean</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2020</td>	<td>2183R</td>	<td>Laura Bailey</td>	<td>Andrea Mutti</td>	<td>Barbara Nosenzo</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Journey to the Edge of the Earth</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2020</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>FCBD11</span>2184</div></td>	<td>Chris Burnham</td>	<td>Chris Burnham</td>	<td>Len O'Grady</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Boss Level</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2020</td>	<td>2196R</td>	<td>Karl Stock</td>	<td>Tom Newell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Stream M for Murder</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2020</td>	<td>2197</td>	<td>Liam Johnson</td>	<td>Steve Yeowell</td>	<td>[greyscale]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Omnidetectorists</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2020</td>	<td>2200</td>	<td>Rory McConville</td>	<td>Joel Carpenter</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>For the Man Who Lives Everywhen</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2020</td>	<td>2206R</td>	<td>Karl Stock</td>	<td>Tom Newell</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Indistinguishable From...</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2020</td>	<td>2211</td>	<td>Jospeh Elliot-Coleman</td>	<td>Richard Elson</td>	<td>&lt;--</td>	<td>Jim Campbell</td>	</tr>
</table>

{% include_relative postTable.html %}