---
layout: content
title: One-Offs (Megazine)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Alien in a Girls' Dorm</td>	<td>1</td>	<td><div class='tt'><span class='ttt'>+&nbsp;0.5&nbsp;credit&nbsp;pages</span>7</div></td>	<td>0</td>	<td>1995</td>	<td>M3.11</td>	<td>Robbie Morrison</td>	<td>Stuart Mac</td>	<td>&lt;--</td>	<td>Fiona Stephenson</td>	</tr>
	<tr>	<td>Ballad of Cindy Crawlskin</td>	<td>1</td>	<td><div class='tt'><span class='ttt'>+&nbsp;0.5&nbsp;credit&nbsp;pages</span>7</div></td>	<td>0</td>	<td>1995</td>	<td>M3.12</td>	<td>John Smith</td>	<td>Ahsley Sanders</td>	<td>Gina Hart</td>	<td>Fiona Stephenson</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Subtitled:&nbsp;"The&nbsp;Worst&nbsp;Job&nbsp;In&nbsp;The&nbsp;Galaxy".</span>Repo-Mex</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2003</td>	<td>M208</td>	<td>David Bishop</td>	<td>Nigel Raynor</td>	<td>Robin Smith</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Evangelyne</td>	<td>1</td>	<td>9</td>	<td>0</td>	<td>2014</td>	<td>M346</td>	<td>Rob Williams</td>	<td>Rey MacAulay</td>	<td>Matthew Wilson</td>	<td>Thomas Mauer</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Promotional.<br>Subtitled:&nbsp;"The&nbsp;Shape&nbsp;of&nbsp;Things&nbsp;to&nbsp;Come".</span>Goldtiger 2000</div></td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2016</td>	<td>M370</td>	<td>Luois Schaeffer</td>	<td>Antonio Barreti</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>[Edenworld]</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2020</td>	<td>M425-S</td>	<td>Adrian Bamforth</td>	<td>Adrian Bamforth</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Posters <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>A&nbsp;series&nbsp;of&nbsp;thematically&nbsp;linked&nbsp;portraits.</span>Meet the Millstones / World of Bliss</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1991</td>	<td>M1.13</td>	<td>Robert Bliss</td>	<td>Robert Bliss & IG</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>Cult TV: UK TV Fantasy</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>2008</td>	<td>M278</td>	<td>Alec Worley</td>	<td>promo shots</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>New Music: Drokk - Drokk On</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2012</td>	<td>M322</td>	<td>Michael Molcher</td>	<td>promo images</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Subtitled:&nbsp;"Four&#8209;Colour&nbsp;Chills".</span>Comics Roundtable: Horror</div></td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2013</td>	<td>M333</td>	<td>Ken Harrison</td>	<td>reprints & designs</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Beginner's Guide to Eric Powell</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2016</td>	<td>M371</td>	<td>Matthew Badham</td>	<td><div class='tt'><span class='ttt'>Reprints.<br></span><em>Eric Powell</em></div></td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Subtitled:&nbsp;"A&nbsp;Quiet&nbsp;Revolution".</span>Classic Comics: Jinty & Tammy</div></td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>2019</td>	<td>M406</td>	<td>Karl Stock</td>	<td>reprints</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}