<script src="../../js/Chart.min.js"></script>
<h2>[One-Offs]</h2>

<p>Occasionally a story will just appear as its own thing: maybe it doesn't quite fit the bracket of a <a href="../FutureShocks/1977.html">Future Shock</a> or a <a href="../ThargsTimeTwisters/data.html">Time Twister</a>, or perhaps there wasn't time to figure out where it belonged. These are single-issue appearances with no clear links beyond their own boundaries.</p>

<!--
2000 AD
2000 AD Specials
Dreddverse
Judge Dredd Megazine
Starlord
Treasury Specials
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>
		{% if page.title == "One-Offs (2000 AD)" %}<a class="disabled">2000 AD</a>
		{% else %}<a href="2000AD.html#baseMenu">2000 AD</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "One-Offs (Specials)" %}<a class="disabled">Specials</a>
		{% else %}<a href="Specials.html#baseMenu">Specials</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "One-Offs (Dreddverse)" %}<a class="disabled">Dreddverse</a>
		{% else %}<a href="Dreddverse.html#baseMenu">Dreddverse</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "One-Offs (Megazine)" %}<a class="disabled">Megazine</a>
		{% else %}<a href="Megazine.html#baseMenu">Megazine</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "One-Offs (Starlord)" %}<a class="disabled">Starlord</a>
		{% else %}<a href="Starlord.html#baseMenu">Starlord</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "One-Offs (Treasury)" %}<a class="disabled">Treasury</a>
		{% else %}<a href="Treasury.html#baseMenu">Treasury</a>{% endif %}
	</td>
</tr>
</table>

<img src="OneOffs.png" />
<p class="credit">Art by Chris Weston</p>
<br>