---
layout: content
title: One-Offs (Specials)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>End of Voyage</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>The Dream Machine</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>unknown</td>	<td>Massimo Belardinelli</td>	<td>[two-tone] - orange</td>	<td>unknown</td>	</tr>
	<tr>	<td>Death Bug</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1977</td>	<td>2KA'78</td>	<td>Pat Mills</td>	<td>Horacio Lalia</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>The Biggest Game of All!</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>Marzal Canos</td>	<td>&lt;--</td>	<td>unknown</td>	</tr>
	<tr>	<td>Food!</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>Brett Ewins</td>	<td>[greyscale]</td>	<td>unknown</td>	</tr>
	<tr>	<td>The Recruiting Agency</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>Survivor</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1978</td>	<td>DDA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[monochrome]</td>	<td>unknown</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Valiant&nbsp;reprint.</span>The Kids From Kosma</div></td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>1979</td>	<td>SFS2</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>The Man Who Saved the World</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>unknown</td>	<td>unknown</td>	<td>[two-tone]</td>	<td>unknown</td>	</tr>
	<tr>	<td>3000AD the traveller</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>FCBD5</span>DDA'80</div></td>	<td>unknown</td>	<td>Mike McMahon</td>	<td>&lt;--</td>	<td>Tom Frame</td>	</tr>
	<tr>	<td>Garbage</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1979</td>	<td>DDA'80</td>	<td>unknown</td>	<td>unknown</td>	<td>[monochrome]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Whatever Happened to Colony 9</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1980</td>	<td>SFS3</td>	<td>Floyd Hughes</td>	<td>Floyd Hughes</td>	<td>[b&w]</td>	<td>Peter Knight</td>	</tr>
	<tr>	<td>The Man From 2000</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1980</td>	<td>2KA'81</td>	<td>Oleh Stepaniuk</td>	<td>David Hine</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td>Southern Comfort</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1981</td>	<td>SFS4</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>One-Eyed Jack</td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1981</td>	<td>SFS4</td>	<td>John Wagner</td>	<td>John Cooper</td>	<td>[b&w]</td>	<td>[M.A.Chine]</td>	</tr>
	<tr>	<td>A Danger to the Skies</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1982</td>	<td>2KA'83</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>The Man Who Couldn't Die</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1986</td>	<td>SFS9</td>	<td>Oleh Stepaniuk</td>	<td>David Pugh</td>	<td>[b&w]</td>	<td>Steve Potter</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Supertitled:&nbsp;"You&nbsp;Are&nbsp;Ronald&nbsp;Reagan&nbsp;in..."<br>A&nbsp;choose&#8209;your&#8209;own&#8209;adventure&nbsp;comic.</span>"Twilight's Last Gleaming"</div></td>	<td>1</td>	<td>17</td>	<td><div class='tt'><span class='ttt'>Hunt&nbsp;Emerson<br></span>1</div></td>	<td>1986</td>	<td>DM5</td>	<td>Pat Mills</td>	<td>Hunt Emerson</td>	<td>[b&w]</td>	<td>Hunt Emerson</td>	</tr>
	<tr>	<td>Enemy Alien</td>	<td>1</td>	<td>2.5</td>	<td>0</td>	<td>1987</td>	<td>SFS10</td>	<td>Mike Matthews</td>	<td><div class='tt'><span class='ttt'>Mike&nbsp;Matthews&nbsp;(P)<br>Bryan&nbsp;Talbot&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>M. Dolphin</td>	</tr>
	<tr>	<td>What's Up Doc?</td>	<td>1</td>	<td>3.5</td>	<td>0</td>	<td>1988</td>	<td>SFS11</td>	<td>Hilary Robinson</td>	<td>John McCrea</td>	<td>[b&w]</td>	<td>John Aldrich</td>	</tr>
	<tr>	<td>The Burning Man</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td><div class='tt'><span class='ttt'>Reprints:<br><br>M300&nbsp;(supplement)</span>2KYB'94</div></td>	<td>John Wagner</td>	<td>Carlos Ezquerra</td>	<td>[b&w]</td>	<td>Pat Prentice</td>	</tr>
	<tr>	<td>Canned Heat</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1993</td>	<td>WS5</td>	<td>John Wagner</td>	<td>Colin MacNeil</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Plus&nbsp;faux&nbsp;advert.</span>The Big Fight</div></td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1995</td>	<td>WS7</td>	<td>Nick Abadzis</td>	<td>Nick Abadzis</td>	<td>&lt;--</td>	<td>Nick Abadzis</td>	</tr>
	<tr>	<td>Life Cycle</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1995</td>	<td>WS7</td>	<td>Dave Stone</td>	<td>Henry Flint</td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Road Warrior</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2005</td>	<td>WS8</td>	<td>Arthur Wyatt</td>	<td><div class='tt'><span class='ttt'>Eva&nbsp;De&nbsp;La&nbsp;Cruz<br>Inaki&nbsp;Miranda</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Ellie de Ville</td>	</tr>
	<tr>	<td>Bones of Eden</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2005</td>	<td>WS8</td>	<td>Al Ewing</td>	<td><div class='tt'><span class='ttt'>Russell&nbsp;Hossain&nbsp;(P)<br>Lee&nbsp;Townsend&nbsp;(I)</span><em>various</em></div></td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Blade Warrior</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2005</td>	<td>WS8</td>	<td>Ben Counter</td>	<td>Dave Kendall</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Earth War</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2005</td>	<td>WS8</td>	<td>Jaspre Bark</td>	<td>Rufus Dayglo</td>	<td>[b&w]</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Unholy Warriors</td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>2005</td>	<td>WS8</td>	<td>Stu Taylor</td>	<td><div class='tt'><span class='ttt'>Kev&nbsp;Crossley&nbsp;(P)<br>Jamie&nbsp;Grant&nbsp;(I)</span><em>various</em></div></td>	<td><div class='tt'><span class='ttt'>Grey&nbsp;tones.<br></span><em>John Spelling</em></div></td>	<td>Ellie de Ville</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<td>Final Vision</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1978</td>	<td>2KA'79</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>A Breath of Fresh Air</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1979</td>	<td>SFS2</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>I, Mutant</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>DDA'80</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Man From the Ministry</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>DDA'80</td>	<td>unknown</td>	<td>unknown</td>	<td>[monochrome]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Bang Bang! Said the Green Cheese Man </td>	<td>1</td>	<td>8</td>	<td>0</td>	<td>1980</td>	<td>2KA'81</td>	<td>unknown</td>	<td>unknown</td>	<td>[b&w]</td>	<td>unknown</td>	</tr>
	<tr>	<td>Night-Land</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1981</td>	<td>SFS4</td>	<td>John Agee</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Von Ballin Tape </td>	<td>1</td>	<td>5</td>	<td>0</td>	<td>1983</td>	<td>SFS6</td>	<td>Jack Hamilton Teed</td>	<td>Robin Smith</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Nightcomers </td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>1984</td>	<td>SFS7</td>	<td>Jack Hamilton Teed</td>	<td>Trevor Goring</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<td>3001 - A Space Poem</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>DDA'80</td>	<td>unknown</td>	<td><div class='tt'><span class='ttt'>Brett&nbsp;Ewins<br>Jim&nbsp;McCarthy</span><em>various</em></div></td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}