---
layout: content
title: One-Offs (Treasury)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>The Dracula File</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>2017</td>	<td>S&M 1</td>	<td>Grainne McEntee</td>	<td>Tristan Jones</td>	<td>[spot color]</td>	<td>SG</td>	</tr>
	<tr>	<td>The Return of the Sentinels</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>2017</td>	<td>S&M 1</td>	<td>Hannah Berry</td>	<td>Ben Willsher</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Fate of the Fairy Hunter</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2017</td>	<td>S&M 1</td>	<td>Alec Worley</td>	<td>Dani</td>	<td>[b&w]</td>	<td>Maz Smith</td>	</tr>
	<tr>	<td>Death Wish: Kids Rule!</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2018</td>	<td>Vig1</td>	<td>Karl Stock</td>	<td>Henrik Sahlstrom</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Steel Commando: In Between Wars</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>2018</td>	<td>Vig1</td>	<td>Aaron Stack</td>	<td><div class='tt'><span class='ttt'>Warwick&nbsp;Fraser&#8209;Coombe<br>Staz&nbsp;Johnson</span><em>various</em></div></td>	<td>John Charles</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Decomposition Jones</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>Rich McAuliffe</td>	<td>Steve Mannion</td>	<td>&lt;--</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Black Beth!: The Magos of Malice</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>Alec Worley</td>	<td>Dani</td>	<td>[b&w]</td>	<td>Simon Bowland</td>	</tr>
	<tr>	<td>Best Friends Forever</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>Lizzie Boyle</td>	<td>Yishan Li</td>	<td>Barbara Nosenzo</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Mint Condition</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>Smuzz / SMS</td>	<td>Smuzz / SMS</td>	<td>[b&w]</td>	<td>Smuzz / SMS</td>	</tr>
	<tr>	<td>Bookworm</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>2018</td>	<td>S&M 2</td>	<td>n/a</td>	<td>Jordi Badia Romero</td>	<td>Barbara Nosenzo</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}