---
layout: content
title: Tharg (Covers)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<th>Cover Text</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>I, Tharg…</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1978</td>	<td>92</td>	<td>n/a</td>	<td>Colin Wyatt</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Prog 200!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1981</td>	<td>200</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Snap up a Pac-Man Watch!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1982</td>	<td>290</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Starbase One Under Attack!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1982</td>	<td>293</td>	<td>n/a</td>	<td>Eric Bradbury</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Stand Back, Burt - Prog Snatch!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1983</td>	<td>325</td>	<td>n/a</td>	<td>Eric Bradbury</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>A Zarjaz Christmas to all Earthlets!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1983</td>	<td>348</td>	<td>n/a</td>	<td>Eric Bradbury</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>I, Tharg, Bring You Thrill-Power</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1984</td>	<td>365</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Voted the Galaxy's Top Comic</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1986</td>	<td>481</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>"Ring the Changes, Droids."</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1987</td>	<td>554</td>	<td>n/a</td>	<td>Mark Farmer</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>600 Progs Down...</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1988</td>	<td>600</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>12 Zarjaz Years</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1989</td>	<td>615</td>	<td>n/a</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrill-Power n. The capacity to induce...</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1989</td>	<td>637</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>it's Atomic</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1989</td>	<td>649</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Teen Beat</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1990</td>	<td>667</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>"Thrill Out!"</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1990</td>	<td>692</td>	<td>n/a</td>	<td>Zac Sandler</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Special Low-Visibility Prog</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1991</td>	<td>722</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Monster Mash!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1991</td>	<td>SFS14</td>	<td>n/a</td>	<td>Dermot Power</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Sci-Fi Special</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1992</td>	<td>SFS15</td>	<td>n/a</td>	<td>Steve Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Mean 16 - Wild Tales of Thrill-Power Crazed Youth</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1993</td>	<td>823</td>	<td>n/a</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Spirit of Christmas Future</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1993</td>	<td>867</td>	<td>n/a</td>	<td>Colin MacNeil</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Hazard! 17 Years of Accrued Thrill-Power!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1994</td>	<td>876</td>	<td>n/a</td>	<td>Rian Hughes</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Intervention Day!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>1997</td>	<td>1032</td>	<td>n/a</td>	<td>Simon Davis</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Still the Galaxy's Greatest</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2001</td>	<td>1235</td>	<td>n/a</td>	<td>Kevin Walker</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Set Your Circuits for Maximum Thrill-Power!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2001</td>	<td>1263</td>	<td>n/a</td>	<td>Kevin Walker</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>A Head of Our Time!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2001</td>	<td>p2002</td>	<td>n/a</td>	<td>Kevin Walker</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>"Protecting Your Planet From Thrill Deprevation!"</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2002</td>	<td>1313</td>	<td>n/a</td>	<td>Kevin Walker</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Old Master</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2002</td>	<td>p2003</td>	<td>n/a</td>	<td>Greg Staples</td>	<td>Graham Rolfe</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrill Power!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2003</td>	<td>p2004</td>	<td>n/a</td>	<td>Duncan Fegredo</td>	<td>Graham Rolfe</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Tharg&nbsp;&&nbsp;droids:<br>&nbsp;&#8209;&nbsp;Spurious&nbsp;1<br>&nbsp;&#8209;&nbsp;Boo2&nbsp;&#8209;&nbsp;D2<br>&nbsp;&#8209;&nbsp;T&#8209;Frame<br>&nbsp;&#8209;&nbsp;Nree&nbsp;Flint<br>&nbsp;&#8209;&nbsp;Dom&#8209;1</span>New Talent Issue </div></td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2005</td>	<td>WS8</td>	<td>n/a</td>	<td>Boo Cook</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>30 Years of Thrills</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2007</td>	<td>1526</td>	<td>n/a</td>	<td>Philip Bond</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Nice Planet. I'll Take It.</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2009</td>	<td>1650</td>	<td>n/a</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Cooking Up a Thrill-Storm</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2010</td>	<td>1700</td>	<td>n/a</td>	<td>Jon Davis-Hunt</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Bringing the Galaxy the Gift of Thrill-Power</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2010</td>	<td>p2011</td>	<td>n/a</td>	<td>Simon Fraser</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Thrills From Another Planet!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2011</td>	<td>1740</td>	<td>n/a</td>	<td>Liam McCormack-Sharp</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Cover&nbsp;#2&nbsp;of&nbsp;2.</span>35 Zarjaz Years </div></td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2012</td>	<td>1771</td>	<td>n/a</td>	<td>Mike McMahon</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>100 Pages of Earth-Shattering Thrill-Power!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2012</td>	<td>p2013</td>	<td>n/a</td>	<td>Edmund Bagwell</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>How the Mighty Has Risen...</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2015</td>	<td>1919</td>	<td>n/a</td>	<td>John Higgins</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Your Planet Needs Thrills!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2019</td>	<td>2122</td>	<td>n/a</td>	<td>Alex Ronald</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Gift of Thrill-Power!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2019</td>	<td>2162</td>	<td>n/a</td>	<td>Alex Ronald</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Electrifying 100-Page Xmas Issue!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2020</td>	<td>2212</td>	<td>n/a</td>	<td>Cliff Robinson</td>	<td>Dylan Teague</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Spirit of Xmas Future!</td>	<td>~</td>	<td>~</td>	<td>1w</td>	<td>2021</td>	<td>2262</td>	<td>n/a</td>	<td>Toby Willsmer</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

</table>

{% include_relative postTable.html %}