---
layout: content
title: A-Z Tharg the Mighty (Features)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">>> Text Stories <<</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Zragman</td>	<td>1</td>	<td>7</td>	<td>0</td>	<td>1984</td>	<td>2KA'85</td>	<td>Alan Grant</td>	<td>Eric Bradbury</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Features <<</td></tr>
	<tr>	<th>Feature Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Galactic Groats</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1977</td>	<td>33</td>	<td>editorial</td>	<td>Kevin O'Neill</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Tharg Tapes</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>Alan Grant, T.M.O.</td>	<td>unknown</td>	<td>[grayscale]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Personality Data Bank: Tharg</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1979</td>	<td>2KA'80</td>	<td>editorial</td>	<td>[photo]</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>The Being From Betelgeuse Six!</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1980</td>	<td>2KA'81</td>	<td>n/a</td>	<td>unknown</td>	<td>[monochrome]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Secrets of the Command Module</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1981</td>	<td>2KA'82</td>	<td>editorial</td>	<td>unknown</td>	<td>&lt;-- p1, [b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Photo-Album</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>325</td>	<td>n/a</td>	<td>[photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Ask Tharg</td>	<td>1</td>	<td>3</td>	<td>0</td>	<td>1983</td>	<td>2KA'84</td>	<td>T.M.O.</td>	<td>photos, readers' art</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Photo Album</td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>1985</td>	<td>SFS8</td>	<td>editorial</td>	<td>[altered photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Photo Album</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1986</td>	<td>2KA'87</td>	<td>T.M.O.</td>	<td>[altered photos]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Secrets of the Command Module</td>	<td>1</td>	<td>4</td>	<td>0</td>	<td>1989</td>	<td>SFS12</td>	<td>T.M.O.</td>	<td>[The Ghost of Morrissey]</td>	<td>[b&w]</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg - The Motion Picture</td>	<td>1</td>	<td>6.5</td>	<td>0</td>	<td>1990</td>	<td>WS3</td>	<td>Tharg the Mighty</td>	<td>Paul Marshall</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Tharg's&nbsp;Datachips</span>#16: Thrill-Sucker!</div></td>	<td>1</td>	<td>0.5</td>	<td>0</td>	<td>1996</td>	<td>999</td>	<td>n/a</td>	<td>Eric Bradbury</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Tharg's Thrills of the Future</td>	<td>1</td>	<td>~</td>	<td><div class='tt'><span class='ttt'></span>1</div></td>	<td>1999</td>	<td>1139-S</td>	<td>Tharg the Mighty</td>	<td>editorial</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Contents Pages <<</td></tr>
	<tr>	<td>Contents</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1982</td>	<td>2KA'83</td>	<td>editorial</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Cosmic Contents</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1983</td>	<td>2KA'84</td>	<td>n/a</td>	<td>Robin Smith</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Contents</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1987</td>	<td>2KA'88</td>	<td>n/a</td>	<td>unknown</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Contents</td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>1990</td>	<td>2KA'91</td>	<td>n/a</td>	<td>Zac Sandler</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}