<script src="../../js/Chart.min.js"></script>
<h2>Strontium Dog<img class="title" src="../../gfx/dogS.png"></h2>

<p>Originally published in Starlord and featuring Johnny Alpha and <a href="../WulfSternhammer/data.html">Wulf Sternhammer</a> as interstellar bounty hunters, but with a strong <a href="https://en.wikipedia.org/wiki/Western_(genre)" target="_blank">western</a> feel. Core to the strip is the idea of norms and muties, and the deep-rooted prejudice shown against the mutant populations of Earth after a nuclear war.</p>
<p>With the controversial death of the main characters, the strip was taken up by different creators and tried to branch out with both the <a href="../TalesFromTheDoghouse/data.html">Tales From the Doghouse</a> and <a href="../StrontiumDogs/data.html">Strontium Dogs</a>. These ultimately failed to take off and the original creative team returned to tell flashback tales before it was decided to resurrect Alpha for some new adventures.</p>

<!--
Johnny & Wulf 1978-1986
Sacrifices 1986-1990
Flashbacks 1990-2009
Life & Death 2010-2025
Features
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>
		{% if page.title == "Strontium Dog (1978-1986)" %}<a class="disabled">Johnny & Wulf<br>1978-1986</a>
		{% else %}<a href="Johnny&Wulf.html#baseMenu">Johnny & Wulf<br>1978-1986</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Strontium Dog (1986-1990)" %}<a class="disabled">Sacrifices<br>1986-1990</a>
		{% else %}<a href="Sacrifices.html#baseMenu">Sacrifices<br>1986-1990</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Strontium Dog (1990-2009)" %}<a class="disabled">Flashbacks<br>1990-2009</a>
		{% else %}<a href="Flashbacks.html#baseMenu">Flashbacks<br>1990-2009</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Strontium Dog (2010-2025)" %}<a class="disabled">Life & Death<br>2010-2025</a>
		{% else %}<a href="Life&Death.html#baseMenu">Life & Death<br>2010-2025</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "Strontium Dog (Features)" %}<a class="disabled">Features</a>
		{% else %}<a href="Features.html#baseMenu">Features</a>{% endif %}
	</td>
</tr>
</table>

<img src="StrontiumDog.webp" />
<p class="credit">Art by Carlos Ezquerra</p>

<ul class="AtoZ">
<li>The 2000 AD ABC: <a href="https://youtu.be/DVOuyMhn07k" target="_blank">Strontium Dog</a></li>
<li>Shop: <a href="https://shop.2000ad.com/catalogue/graphic-novels/strontium-dog" target="_blank">Strontium Dog</a></li>
</ul>