---
layout: content
title: Judge Dredd (2021)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">++PROGS++</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Desperadlands</td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>2216:&nbsp;William&nbsp;Simpson<br></span>1</div></td>	<td>2021</td>	<td>2213-2216</td>	<td>Mike Carroll</td>	<td>William Simpson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Naked City</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2021</td>	<td>2217</td>	<td>Kenneth Niemand</td>	<td>Dan Cornwell</td>	<td>Jim Boswell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Health & Happiness</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2021</td>	<td>2218</td>	<td>Rob Williams</td>	<td>Simon Coleby</td>	<td>Len O'Grady</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Against the Clock</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Patrick&nbsp;Goddard&nbsp;&&nbsp;Dyland&nbsp;Teague<br></span>1w</div></td>	<td>2021</td>	<td>2219</td>	<td>Kenneth Niemand</td>	<td>Patrick Goddard</td>	<td>Dylan Teague</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Chimpsky's&nbsp;Law</span>Who Killed Captain Cookies?</div></td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>2221:&nbsp;PJ&nbsp;Holden&nbsp;(after&nbsp;Ezquerra)<br>2224:&nbsp;John&nbsp;McCrea&nbsp;&&nbsp;Enrica&nbsp;Angiolini<br></span>2</div></td>	<td>2021</td>	<td>2221-2224</td>	<td>Kenneth Niemand</td>	<td>PJ Holden</td>	<td>Quinton Winter</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Mechanismo]</span>A Penitant Man</div></td>	<td>6</td>	<td>36</td>	<td><div class='tt'><span class='ttt'>2225:&nbsp;Tom&nbsp;Foster<br>2229:&nbsp;Dermot&nbsp;Power<br></span>2</div></td>	<td>2021</td>	<td>2225-2230</td>	<td>Kenneth Niemand</td>	<td>Tom Foster</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Easy Money</td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>2021</td>	<td>2231-2232</td>	<td>Michael Carroll</td>	<td>Simon Fraser</td>	<td>Gary Caldwell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Adios, Rowdy Yates</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2021</td>	<td>2234</td>	<td>Chris Weston</td>	<td>Chris Weston</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Brief Encounter</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2021</td>	<td>2235</td>	<td>Kenneth Niemand</td>	<td>Dylan Teague</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Removal Man</td>	<td>4</td>	<td>24</td>	<td>0</td>	<td>2021</td>	<td>2236-2239</td>	<td>John Wagner</td>	<td>Colin MacNeil</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold">++MEGS++</td></tr>
	<tr>	<td>The Night Flyer</td>	<td>1</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>Ben&nbsp;Willsher<br></span>1</div></td>	<td>2021</td>	<td>M428</td>	<td>Kenneth Niemand</td>	<td>Patrick Goddard</td>	<td>Pippa Bowland</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Destiny's Child</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2021</td>	<td>M429</td>	<td>Kenneth Niemand</td>	<td>Simon Coleby</td>	<td>Len O'Grady</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>One for the Ages</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2021</td>	<td>M430</td>	<td>Rory McConville</td>	<td>Karl Richardson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Don't Drokk With Bob</td>	<td>2</td>	<td>20</td>	<td><div class='tt'><span class='ttt'>M432:&nbsp;Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague</span>1</div></td>	<td>2021</td>	<td>M431-M432</td>	<td>Kenneth Niemand</td>	<td>Ian Richardson</td>	<td>Jim Boswell</td>	<td>Annie Parkhouse</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">++SPECIALS++</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Cursed&nbsp;Earth&nbsp;Koburn</span>Biohazard</div></td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2021</td>	<td>SFS26</td>	<td>Michael Carroll</td>	<td>Ben Willsher</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>Chopper<br>Armitage<br>Devlin&nbsp;Waugh<br>Hondo&nbsp;City&nbsp;Justice<br>No&nbsp;supertitle.<br>A&nbsp;Dredd/Anderson&nbsp;crossover.</span>Apotheosis</div></td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2021</td>	<td>SFS26</td>	<td><div class='tt'><span class='ttt'>Michael&nbsp;Carroll<br>Maura&nbsp;McHugh</span><em>various</em></div></td>	<td>James Newell</td>	<td>Jim Boswell</td>	<td>Simon Bowland</td>	</tr>

	<tr>	<td colspan="10" class="section bold"><br>++ADDITIONAL CONTENT++<br><br>>> Posters <<</td></tr>
	<tr>	<td>[Judge Dredd] </td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2021</td>	<td>M428</td>	<td>n/a</td>	<td>Dan Cornwell</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>Anderson&nbsp;Psi&nbsp;Division<br>Judge&nbsp;Death<br><br>Art.</span>[Dredd, Anderson & Death]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2021</td>	<td>M429</td>	<td>n/a</td>	<td>Cliff Robinson</td>	<td>Dylan Teague</td>	<td>n/a</td>	</tr>
	
	<tr>	<td colspan="10" class="section bold">>> Floating Covers <<</td></tr>
	<tr>	<td>In a Crime-Ridden City ... He IS the Law!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2021</td>	<td>2217</td>	<td>n/a</td>	<td>Dan Cornwell</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Take Cover, Citizens!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2021</td>	<td>2231</td>	<td>n/a</td>	<td>Cliff Robinson</td>	<td>Dylan Teague</td>	<td>n/a</td>	</tr>
	<tr>	<td>A View to a Kill!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2021</td>	<td>2236</td>	<td>n/a</td>	<td>Dylan Teague</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>High-Speed Summary Justice!</td>	<td>~</td>	<td>~</td>	<td>1w</td>	<td>2021</td>	<td>2239</td>	<td>n/a</td>	<td>Stewart K. Moore</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
</table>

{% include_relative postTable.html %}