---
layout: content
title: Judge Dredd (2022)
---
{% include_relative preTable.html %}

<table class="AtoZ col8">
	<tr>	<td colspan="10" class="section bold">++PROGS++</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Plankhurst,&nbsp;Mona]</span>Working Girl</div></td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>2264:&nbsp;Patrick&nbsp;Goddard&nbsp;&&nbsp;Dylan&nbsp;Teague<br></span>1</div></td>	<td>2022</td>	<td>2263-2266</td>	<td>Kenneth Niemand</td>	<td>Patrick Goddard</td>	<td>Dylan Teague</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>[Judge&nbsp;Cal]<br>[Judge&nbsp;Fargo]<br>[Judge&nbsp;Goodman]<br>[Judge&nbsp;Griffin]<br>[Judge&nbsp;McGruder]<br>[Judge&nbsp;Silver]<br>[Judge&nbsp;Volt]</span>The Dead Chief Judges' Society</div></td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>David&nbsp;Millgate<br></span>1</div></td>	<td>2022</td>	<td>2267</td>	<td>Kenneth Niemand</td>	<td>Rob Richardson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Extraordinary Deaths</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2022</td>	<td>2268</td>	<td>T.C. Eglington</td>	<td>Silvia Califano</td>	<td>Gary Caldwell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>5 in the Cubes</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2022</td>	<td>2269</td>	<td>Arthur Wyatt</td>	<td>Nicolo Assirelli</td>	<td>Gary Caldwell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Mechanismo</span>The Citadel</div></td>	<td></td>	<td></td>	<td></td>	<td>2022</td>	<td>2270-</td>	<td>John Wagner</td>	<td>Dan Cornwell</td>	<td>Dylan Teague</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold">++MEGS++</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Judge&nbsp;Logan</span>Praise Zort</div></td>	<td></td>	<td></td>	<td></td>	<td>2022</td>	<td>M440-</td>	<td>Rory McConville</td>	<td>Staz Johnson</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	
	<!--<tr>	<td colspan="10" class="section bold">++SPECIALS++</td></tr>-->
	
	<tr>	<td colspan="10" class="section bold"><br>++ADDITIONAL CONTENT++<br><br>>> Floating Covers <<</td></tr>
	<tr>	<td>Fully Loaded</td>	<td>~</td>	<td>~</td>	<td>1w</td>	<td>2022</td>	<td>M440</td>	<td>n/a</td>	<td>Stewart Kenneth Moore</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Step Out of Line...</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2022</td>	<td>2269</td>	<td>n/a</td>	<td>Toby Willsmer</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

	<!--<tr>	<td colspan="10" class="section bold">>> Teasers <<</td></tr>-->
	
	
</table>

{% include_relative postTable.html %}