---
layout: content
title: Judge Dredd (2024)
---
{% include_relative preTable.html %}

<table class="AtoZ col10">
	<tr>	<td colspan="10" class="section bold">++PROGS++</td></tr>
	<tr>	<th>Story Title</th>	<th>Parts</th>	<th>Pages</th>	<th><div class='tt'><span class='ttt'>w&nbsp;indicates&nbsp;a<br>wraparound&nbsp;cover</span>Covers</div></th>	<th>Year(s)</th>	<th><a href='../KEY/key.html'>Issues</a></th>	<th>Writer</th>	<th>Artist</th>	<th>Colourist</th>	<th>Letterer</th>	</tr>
	<tr>	<td>Vox Populi</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2024</td>	<td>2363</td>	<td>Mike Carroll</td>	<td>Silvio Califano</td>	<td>F. Segala & S. del Grosso</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>[Judge&nbsp;Logan]<br>[Judge&nbsp;Maitland]<br>[Judge&nbsp;Beeny]</span>A Better World</div></td>	<td>9</td>	<td>64</td>	<td><div class='tt'><span class='ttt'>2367:&nbsp;Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague<br>2371:&nbsp;Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague</span>2</div></td>	<td>2024</td>	<td>2364-2372</td>	<td><div class='tt'><span class='ttt'>Rob&nbsp;Williams<br>Arthur&nbsp;Wyatt</span><em>various</em></div></td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>R.U.R.</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2024</td>	<td>2373</td>	<td>Kenneth Niemand</td>	<td>Nicolo Assirelli</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>A Dimensional Traveller's Guide to Mega-City One</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2024</td>	<td>2374</td>	<td>Kenneth Niemand</td>	<td>Joe Currie</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Judge&nbsp;Logan]</span>Next Man Up</div></td>	<td>1</td>	<td>7</td>	<td><div class='tt'><span class='ttt'>2376:&nbsp;RM&nbsp;Guera</span>1</div></td>	<td>2024</td>	<td>2375</td>	<td>Rob Williams</td>	<td>RM Guera</td>	<td>Giulia Brusco</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Rend & Tear With Tooth & Claw</td>	<td>6</td>	<td>39</td>	<td><div class='tt'><span class='ttt'>2381:&nbsp;RM&nbsp;Guera</span>1</div></td>	<td>2024</td>	<td>2376-2381</td>	<td>Rob Williams</td>	<td>RM Guera</td>	<td>Giulia Brusco</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold">++MEGS++</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;[Paradox&nbsp;Vega]</span>Ravenous</div></td>	<td>3</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>M464:&nbsp;Patrick&nbsp;Goddard&nbsp;&&nbsp;Len&nbsp;O'Grady</span>1</div></td>	<td>2024</td>	<td>M464-M466</td>	<td>Mike Carroll</td>	<td>Anthony Williams</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Tales&nbsp;From&nbsp;the&nbsp;Black&nbsp;Museum</span>The Ugly Stick</div></td>	<td>1</td>	<td>10</td>	<td><div class='tt'><span class='ttt'>Lee&nbsp;Milmore</span>1</div></td>	<td>2024</td>	<td>M464</td>	<td>David Barnett</td>	<td>Lee Milmore</td>	<td>[greyscale]</td>	<td>Simon Bowland</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Mega&#8209;City&nbsp;2099</span>Inside Man</div></td>	<td>1</td>	<td>9</td>	<td>0</td>	<td>2024</td>	<td>M465</td>	<td>Kenneth Niemand</td>	<td>Conor Boyle</td>	<td>[b&w]</td>	<td>Jim Campbell</td>	</tr>
	<tr>	<td>Escalation</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2024</td>	<td>M467</td>	<td>Mike Carroll</td>	<td>Paul Marshall</td>	<td>Dylan Teague</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Body Shots</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2024</td>	<td>M468</td>	<td>Ian Edginton</td>	<td>D'Israeli</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold"><br>++ADDITIONAL CONTENT++<br><br>>> Floating Covers <<</td></tr>
	<tr>	<td>Lawman of the People!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2024</td>	<td>2363</td>	<td>n/a</td>	<td>Steven Austin</td>	<td>Jim Boswell</td>	<td>n/a</td>	</tr>
	<tr>	<td>A Crash Course…</td>	<td>~</td>	<td>~</td>	<td>1w</td>	<td>2024</td>	<td>2373</td>	<td>n/a</td>	<td>Stewart K. Moore</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

	<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>Iron Teeth</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2024</td>	<td>2364</td>	<td>n/a</td>	<td>Nick Percival</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2024</td>	<td>M464</td>	<td>n/a</td>	<td>Luke Horsman</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>2</td>	<td>0</td>	<td>2024</td>	<td>M466</td>	<td>n/a</td>	<td>Stewart K. Moore</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2024</td>	<td>M466</td>	<td>n/a</td>	<td>Warwick Fraser-Coombe</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2024</td>	<td>M467</td>	<td>n/a</td>	<td>Luke Horsman</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2024</td>	<td>M468</td>	<td>n/a</td>	<td>Chris Skinner</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

</table>

{% include_relative postTable.html %}