---
layout: content
title: Judge Dredd (2025)
---
{% include_relative preTable.html %}

<table class="AtoZ col10">
	<tr>	<td colspan="10" class="section bold">++PROGS++</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to:<br><br>[Judge&nbsp;Logan]<br>[Judge&nbsp;Maitland]<br>[Judge&nbsp;Beeny]</span>Soft</div></td>	<td>3</td>	<td>18</td>	<td>0</td>	<td>2025</td>	<td>2414-2416</td>	<td><div class='tt'><span class='ttt'>Rob&nbsp;Williams<br>Arthur&nbsp;Wyatt</span><em>various</em></div></td>	<td>Jake Lynch</td>	<td>Jim Boswell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>A Dog's Life</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2025</td>	<td>2417</td>	<td>Mike Carroll</td>	<td>Nicolo Assirelli</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The Shift</td>	<td>8</td>	<td>48</td>	<td><div class='tt'><span class='ttt'>2418&nbsp;[w]:&nbsp;Nick&nbsp;Percival<br>2421:&nbsp;Nick&nbsp;Percival<br>2424:&nbsp;Nick&nbsp;Percival</span>2,1w</div></td>	<td>2025</td>	<td>2418-2425</td>	<td>Ken Niemand</td>	<td>Nick Percival</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Chimpsky's&nbsp;Law</span>The Truth Bomber</div></td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2025</td>	<td>2426</td>	<td>Ken Niemand</td>	<td>PJ Holden</td>	<td>Jack Davies</td>	<td>Annie Parkhouse</td>	</tr>
	<tr class='from'>	<td><div class='tt'><span class='ttt'>From&nbsp;Chimpsky's&nbsp;Law</span>The Truth Conundrum</div></td>	<td>5</td>	<td>30</td>	<td><div class='tt'><span class='ttt'>2427:&nbsp;Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague</span>1</div></td>	<td>2025</td>	<td>2426-2430</td>	<td>Kenneth Niemand</td>	<td>PJ Holden</td>	<td>Jack Davies</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Blitzers</td>	<td>4</td>	<td>24</td>	<td><div class='tt'><span class='ttt'>2429:&nbsp;Jake&nbsp;Lynch&nbsp;(after&nbsp;Steve&nbsp;Dillon)</span>1</div></td>	<td>2025</td>	<td>2426</td>	<td>Ken Niemand</td>	<td>Dan Cornwell</td>	<td>Dylan Teague</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>No Place Like Home</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>Cliff&nbsp;Robinson&nbsp;&&nbsp;Dylan&nbsp;Teague</span>1</div></td>	<td>2025</td>	<td>2431</td>	<td>Dan Abnett</td>	<td>Rob Richardson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Bad Credit</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2025</td>	<td>2432</td>	<td>Dan Abnett</td>	<td>Jake Lynch</td>	<td>Jim Boswell</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Family Tradition</td>	<td>1</td>	<td>6</td>	<td>0</td>	<td>2025</td>	<td>2433</td>	<td>Geoffrey D. Wessel</td>	<td>Rob Richardson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>The First 100</td>	<td>3</td>	<td>18</td>	<td><div class='tt'><span class='ttt'>2435:&nbsp;Toby&nbsp;Willsmer</span>1</div></td>	<td>2025</td>	<td>2434-2436</td>	<td>Dan Abnett</td>	<td>Colin MacNeil</td>	<td>Chris Blythe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Judge Dredd vs. Strontium Dog</td>	<td>1</td>	<td>6</td>	<td><div class='tt'><span class='ttt'>John&nbsp;McCrea&nbsp;&&nbsp;Mike&nbsp;Spicer</span>1</div></td>	<td>2025</td>	<td>2437</td>	<td>Garth Ennis</td>	<td>Henry Flint</td>	<td>&lt;--</td>	<td>Rob Steen</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Linked&nbsp;to&nbsp;Roz's&nbsp;Universal&nbsp;Robots</span>Confessions of a Window Cleaner Droid</div></td>	<td>2</td>	<td>12</td>	<td>0</td>	<td>2025</td>	<td>2437-2438</td>	<td>Ken Niemand</td>	<td>Nicolo Assirelli</td>	<td>Quinton Winter</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold">++MEGS++</td></tr>
	<tr>	<td>Food Chain</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2025</td>	<td>M476</td>	<td>Ian Edginton</td>	<td>Nicolo Assirelli</td>	<td>John Charles</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Messiah Complex</td>	<td>2</td>	<td>20</td>	<td>0</td>	<td>2025</td>	<td>M477-M478</td>	<td>Ian Edginton</td>	<td>Paul McCaffrey</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Old Man Joe</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2025</td>	<td>M479</td>	<td>Ken Niemand</td>	<td>Dan Cornwell</td>	<td>Matt Soffe</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Trashed</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2025</td>	<td>M480</td>	<td>T.C. Eglington</td>	<td>Karl Richardson</td>	<td>&lt;--</td>	<td>Annie Parkhouse</td>	</tr>
	<tr>	<td>Meet the Greys</td>	<td>1</td>	<td>10</td>	<td>0</td>	<td>2025</td>	<td>M481</td>	<td>Ian Edginton</td>	<td>Cam Smith</td>	<td>Jim Boswell</td>	<td>Annie Parkhouse</td>	</tr>

	<tr>	<td colspan="10" class="section bold"><br>++ADDITIONAL CONTENT++<br><br>>> Floating Covers <<</td></tr>
	<tr>	<td>Order & Rule</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2025</td>	<td>2416</td>	<td>n/a</td>	<td>Dave Taylor</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td>Big City, Big Thrills</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2025</td>	<td>2426</td>	<td>n/a</td>	<td>Tony Harris</td>	<td>Jeremy Clark</td>	<td>n/a</td>	</tr>
	<tr>	<td>Generation Joe!</td>	<td>~</td>	<td>~</td>	<td>1</td>	<td>2025</td>	<td>M479</td>	<td>n/a</td>	<td>Toby Willsmer</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

	<tr>	<td colspan="10" class="section bold">>> Posters / Teasers <<</td></tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2025</td>	<td>M476</td>	<td>n/a</td>	<td>Brendan McCarthy</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>1977 / 2025</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2025</td>	<td>2422</td>	<td>n/a</td>	<td>Ben Willsher</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2025</td>	<td>M480</td>	<td>n/a</td>	<td>Karl Richardson</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>
	<tr>	<td><div class='tt'><span class='ttt'>Art</span>[Judge Dredd]</div></td>	<td>1</td>	<td>1</td>	<td>0</td>	<td>2025</td>	<td>M481</td>	<td>n/a</td>	<td>Clint Langley</td>	<td>&lt;--</td>	<td>n/a</td>	</tr>

</table>

{% include_relative postTable.html %}