<script src="../../js/Chart.min.js"></script>
<h2>Judge Dredd</h2>

<p><a href="https://en.wikipedia.org/wiki/Dirty_Harry" target="_blank">Dirty Harry</a> filtered through <a href="https://en.wikipedia.org/wiki/Death_Race_2000" target="_blank">Death Race 2000</a>: Judge Dredd is judge, jury &amp; executioner in future Earth's Mega-City One.</p>

<table class="sections">
<tr>
<td>{% if page.title == "A-Z Judge Dredd (1977)" %}<a class="disabled">1977</a>
	{% else %}<a href="1977.html">1977</a>{% endif %}</td>
<td>{% if page.title == "A-Z Judge Dredd (1978)" %}<a class="disabled">1978</a>
	{% else %}<a href="1978.html">1978</a>{% endif %}</td>
</tr>
</table>

<img src="dredd.png" />
<p class="credit">Art by Alex Ronald</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/ktW-dcoj3y0" target="_blank">The 2000 AD ABC: Judge Dredd</a></li>
<li><a href="https://shop.2000ad.com/catalogue/graphic-novels/dredd-case-files" target="_blank">shop.2000ad.com: Judge Dredd</a></li>
</ul>