<script src="../../js/Chart.min.js"></script>
<h2>Judge Dredd</h2>

<p><a href="https://en.wikipedia.org/wiki/Dirty_Harry" target="_blank">Dirty Harry</a> filtered through <a href="https://en.wikipedia.org/wiki/Death_Race_2000" target="_blank">Death Race 2000</a>: Judge Dredd is judge, jury &amp; executioner in future Earth's Mega-City One.</p>

<table class="sections">
<tr>
	<td>{% if page.title == "A-Z Judge Dredd (1977)" %}<a class="disabled">1977</a>
		{% else %}<a href="1977.html">1977</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1978)" %}<a class="disabled">1978</a>
		{% else %}<a href="1978.html">1978</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1979)" %}<a class="disabled">1979</a>
		{% else %}<a href="1979.html">1979</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1980)" %}<a class="disabled">1980</a>
		{% else %}<a href="1980.html">1980</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "A-Z Judge Dredd (1981)" %}<a class="disabled">1981</a>
		{% else %}<a href="1981.html">1981</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1982)" %}<a class="disabled">1982</a>
		{% else %}<a href="1982.html">1982</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1983)" %}<a class="disabled">1983</a>
		{% else %}<a href="1983.html">1983</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1984)" %}<a class="disabled">1984</a>
		{% else %}<a href="1984.html">1984</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1985)" %}<a class="disabled">1985</a>
		{% else %}<a href="1985.html">1985</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1986)" %}<a class="disabled">1986</a>
		{% else %}<a href="1986.html">1986</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1987)" %}<a class="disabled">1987</a>
		{% else %}<a href="1987.html">1987</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1988)" %}<a class="disabled">1988</a>
		{% else %}<a href="1988.html">1988</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1989)" %}<a class="disabled">1989</a>
		{% else %}<a href="1989.html">1989</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1990)" %}<a class="disabled">1990</a>
		{% else %}<a href="1990.html">1990</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "A-Z Judge Dredd (1991)" %}<a class="disabled">1991</a>
		{% else %}<a href="1991.html">1991</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1992)" %}<a class="disabled">1992</a>
		{% else %}<a href="1992.html">1992</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1993)" %}<a class="disabled">1993</a>
		{% else %}<a href="1993.html">1993</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1994)" %}<a class="disabled">1994</a>
		{% else %}<a href="1994.html">1994</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1995)" %}<a class="disabled">1995</a>
		{% else %}<a href="1995.html">1995</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1996)" %}<a class="disabled">1996</a>
		{% else %}<a href="1996.html">1996</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1997)" %}<a class="disabled">1997</a>
		{% else %}<a href="1997.html">1997</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1998)" %}<a class="disabled">1998</a>
		{% else %}<a href="1998.html">1998</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (1999)" %}<a class="disabled">1999</a>
		{% else %}<a href="1999.html">1999</a>{% endif %}</td>
	<td>{% if page.title == "A-Z Judge Dredd (2000)" %}<a class="disabled">2000</a>
		{% else %}<a href="2000.html">2000</a>{% endif %}</td>
</tr>
</table>

<img src="dredd.png" />
<p class="credit">Art by Alex Ronald</p>

<ul class="AtoZ">
<li><a href="https://youtu.be/ktW-dcoj3y0" target="_blank">The 2000 AD ABC: Judge Dredd</a></li>
<li><a href="https://shop.2000ad.com/catalogue/graphic-novels/dredd-case-files" target="_blank">shop.2000ad.com: Judge Dredd</a></li>
</ul>