<script src="../../js/Chart.min.js"></script>
<h2>Judge Dredd<img class="title" src="../../gfx/dreddS.png"></h2>

<p><a href="https://en.wikipedia.org/wiki/Dirty_Harry" target="_blank">Dirty Harry</a> filtered through <a href="https://en.wikipedia.org/wiki/Death_Race_2000" target="_blank">Death Race 2000</a>: Judge Dredd is judge, jury &amp; executioner in future Earth's Mega-City One.</p>

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td><!--empty cell--></td><td><!--empty cell--></td><td><!--empty cell--></td>
	<td><!--empty cell--></td><td><!--empty cell--></td><td><!--empty cell--></td>
	<td>{% if page.title == "Judge Dredd (1977)" %}<a class="disabled">1977</a>{% else %}<a href="1977.html#baseMenu">1977</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1978)" %}<a class="disabled">1978</a>{% else %}<a href="1978.html#baseMenu">1978</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1979)" %}<a class="disabled">1979</a>{% else %}<a href="1979.html#baseMenu">1979</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1980)" %}<a class="disabled">1980</a>{% else %}<a href="1980.html#baseMenu">1980</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Dredd (1981)" %}<a class="disabled">1981</a>{% else %}<a href="1981.html#baseMenu">1981</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1982)" %}<a class="disabled">1982</a>{% else %}<a href="1982.html#baseMenu">1982</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1983)" %}<a class="disabled">1983</a>{% else %}<a href="1983.html#baseMenu">1983</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1984)" %}<a class="disabled">1984</a>{% else %}<a href="1984.html#baseMenu">1984</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1985)" %}<a class="disabled">1985</a>{% else %}<a href="1985.html#baseMenu">1985</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1986)" %}<a class="disabled">1986</a>{% else %}<a href="1986.html#baseMenu">1986</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1987)" %}<a class="disabled">1987</a>{% else %}<a href="1987.html#baseMenu">1987</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1988)" %}<a class="disabled">1988</a>{% else %}<a href="1988.html#baseMenu">1988</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1989)" %}<a class="disabled">1989</a>{% else %}<a href="1989.html#baseMenu">1989</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1990)" %}<a class="disabled">1990</a>{% else %}<a href="1990.html#baseMenu">1990</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Dredd (1991)" %}<a class="disabled">1991</a>{% else %}<a href="1991.html#baseMenu">1991</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1992)" %}<a class="disabled">1992</a>{% else %}<a href="1992.html#baseMenu">1992</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1993)" %}<a class="disabled">1993</a>{% else %}<a href="1993.html#baseMenu">1993</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1994)" %}<a class="disabled">1994</a>{% else %}<a href="1994.html#baseMenu">1994</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1995)" %}<a class="disabled">1995</a>{% else %}<a href="1995.html#baseMenu">1995</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1996)" %}<a class="disabled">1996</a>{% else %}<a href="1996.html#baseMenu">1996</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1997)" %}<a class="disabled">1997</a>{% else %}<a href="1997.html#baseMenu">1997</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1998)" %}<a class="disabled">1998</a>{% else %}<a href="1998.html#baseMenu">1998</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (1999)" %}<a class="disabled">1999</a>{% else %}<a href="1999.html#baseMenu">1999</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2000)" %}<a class="disabled">2000</a>{% else %}<a href="2000.html#baseMenu">2000</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Dredd (2001)" %}<a class="disabled">2001</a>{% else %}<a href="2001.html#baseMenu">2001</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2002)" %}<a class="disabled">2002</a>{% else %}<a href="2002.html#baseMenu">2002</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2003)" %}<a class="disabled">2003</a>{% else %}<a href="2003.html#baseMenu">2003</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2004)" %}<a class="disabled">2004</a>{% else %}<a href="2004.html#baseMenu">2004</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2005)" %}<a class="disabled">2005</a>{% else %}<a href="2005.html#baseMenu">2005</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2006)" %}<a class="disabled">2006</a>{% else %}<a href="2006.html#baseMenu">2006</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2007)" %}<a class="disabled">2007</a>{% else %}<a href="2007.html#baseMenu">2007</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2008)" %}<a class="disabled">2008</a>{% else %}<a href="2008.html#baseMenu">2008</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2009)" %}<a class="disabled">2009</a>{% else %}<a href="2009.html#baseMenu">2009</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2010)" %}<a class="disabled">2010</a>{% else %}<a href="2010.html#baseMenu">2010</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Dredd (2011)" %}<a class="disabled">2011</a>{% else %}<a href="2011.html#baseMenu">2011</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2012)" %}<a class="disabled">2012</a>{% else %}<a href="2012.html#baseMenu">2012</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2013)" %}<a class="disabled">2013</a>{% else %}<a href="2013.html#baseMenu">2013</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2014)" %}<a class="disabled">2014</a>{% else %}<a href="2014.html#baseMenu">2014</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2015)" %}<a class="disabled">2015</a>{% else %}<a href="2015.html#baseMenu">2015</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2016)" %}<a class="disabled">2016</a>{% else %}<a href="2016.html#baseMenu">2016</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2017)" %}<a class="disabled">2017</a>{% else %}<a href="2017.html#baseMenu">2017</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2018)" %}<a class="disabled">2018</a>{% else %}<a href="2018.html#baseMenu">2018</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2019)" %}<a class="disabled">2019</a>{% else %}<a href="2019.html#baseMenu">2019</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2020)" %}<a class="disabled">2020</a>{% else %}<a href="2020.html#baseMenu">2020</a>{% endif %}</td>
</tr>
<tr>
	<td>{% if page.title == "Judge Dredd (2021)" %}<a class="disabled">2021</a>{% else %}<a href="2021.html#baseMenu">2021</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2022)" %}<a class="disabled">2022</a>{% else %}<a href="2022.html#baseMenu">2022</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2023)" %}<a class="disabled">2023</a>{% else %}<a href="2023.html#baseMenu">2023</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2024)" %}<a class="disabled">2024</a>{% else %}<a href="2024.html#baseMenu">2024</a>{% endif %}</td>
	<td>{% if page.title == "Judge Dredd (2025)" %}<a class="disabled">2025</a>{% else %}<a href="2025.html#baseMenu">2025</a>{% endif %}</td>
</tr>
</table>

<!--
	Brian 		Bolland		80					22 [after]
	Jason 		Brashill	97
	Boo			Cook		07
	Dan 		Cornwell 	21					21 Jim Boswell
	Carl 		Critchlow	12
	Steve 		Dillon		83
	Peter 		Doherty		08
	Brett 		Ewins		84
	Carlos 		Ezquerra	77	82	00
	Henry		Flint		01	04	18			04 18 Chris Blythe
	Ian 		Gibson		86
	Patrick		Goddard		03	09				03 Dylan Teague		09 Chris Blythe
	Neil 		Googe 		22					22 Gary Caldwell 
	Trevor 		Hairsine	94	13				13 Chris Blythe
	John 		Higgins		89
	PJ 			Holden 		20					20 Quinton Winter
	Cam 		Kennedy		85
	Colin 		MacNeil		92	19				19 Chris Blythe
	Brendan 	McCarthy	88
	John 		McCrea 		17					17 Mike Spicer
	Kieran 		McKeown 	23					23 Quinton Winter
	Mick 		McMahon		78	99
	Inaki 		Miranda		06					06 Eva de la Cruz
	Dean 		Ormston		91
	Karl 		Richardson	10
	Cliff 		Robinson	87
	Alex 		Ronald		98 	24 - PLACEHOLDER
				Siku		95
	Will 		Simpson		90
	Ron 		Smith		79
	Greg 		Staples		96	15
	Tiernen 	Trevallion	16
	Kev			Walker		02	05
	Chris 		Weston 		14					14 Michael Dowling
	Anthony 	Williams	93
	Ben 		Willsher 	11					11 Chris Blythe
	Colin 		Wilson		81
-->

{% if page.title == "Judge Dredd (1977)" %}<img src="dredd77.webp" /><p class="credit">Art by Carlos Ezquerra</p>{% endif %}
{% if page.title == "Judge Dredd (1978)" %}<img src="dredd78.webp" /><p class="credit">Art by Mick McMahon</p>{% endif %}
{% if page.title == "Judge Dredd (1979)" %}<img src="dredd79.webp" /><p class="credit">Art by Ron Smith</p>{% endif %}
{% if page.title == "Judge Dredd (1980)" %}<img src="dredd80.webp" /><p class="credit">Art by Brian Bolland</p>{% endif %}
{% if page.title == "Judge Dredd (1981)" %}<img src="dredd81.webp" /><p class="credit">Art by Colin Wilson</p>{% endif %}
{% if page.title == "Judge Dredd (1982)" %}<img src="dredd82.webp" /><p class="credit">Art by Carlos Ezquerra</p>{% endif %}
{% if page.title == "Judge Dredd (1983)" %}<img src="dredd83.webp" /><p class="credit">Art by Steve Dillon</p>{% endif %}
{% if page.title == "Judge Dredd (1984)" %}<img src="dredd84.webp" /><p class="credit">Art by Brett Ewins</p>{% endif %}
{% if page.title == "Judge Dredd (1985)" %}<img src="dredd85.webp" /><p class="credit">Art by Cam Kennedy</p>{% endif %}
{% if page.title == "Judge Dredd (1986)" %}<img src="dredd86.webp" /><p class="credit">Art by Ian Gibson</p>{% endif %}
{% if page.title == "Judge Dredd (1987)" %}<img src="dredd87.webp" /><p class="credit">Art by Cliff Robinson</p>{% endif %}
{% if page.title == "Judge Dredd (1988)" %}<img src="dredd88.webp" /><p class="credit">Art by Brendan McCarthy</p>{% endif %}
{% if page.title == "Judge Dredd (1989)" %}<img src="dredd89.webp" /><p class="credit">Art by John Higgins</p>{% endif %}
{% if page.title == "Judge Dredd (1990)" %}<img src="dredd90.webp" /><p class="credit">Art by Will Simpson</p>{% endif %}
{% if page.title == "Judge Dredd (1991)" %}<img src="dredd91.webp" /><p class="credit">Art by Dean Ormston</p>{% endif %}
{% if page.title == "Judge Dredd (1992)" %}<img src="dredd92.webp" /><p class="credit">Art by Colin MacNeil</p>{% endif %}
{% if page.title == "Judge Dredd (1993)" %}<img src="dredd93.webp" /><p class="credit">Art by Anthony Williams</p>{% endif %}
{% if page.title == "Judge Dredd (1994)" %}<img src="dredd94.webp" /><p class="credit">Art by Trevor Hairsine</p>{% endif %}
{% if page.title == "Judge Dredd (1995)" %}<img src="dredd95.webp" /><p class="credit">Art by Siku</p>{% endif %}
{% if page.title == "Judge Dredd (1996)" %}<img src="dredd96.webp" /><p class="credit">Art by Greg Staples</p>{% endif %}
{% if page.title == "Judge Dredd (1997)" %}<img src="dredd97.webp" /><p class="credit">Art by Jason Brashill</p>{% endif %}
{% if page.title == "Judge Dredd (1998)" %}<img src="dredd98.webp" /><p class="credit">Art by Alex Ronald</p>{% endif %}
{% if page.title == "Judge Dredd (1999)" %}<img src="dredd99.webp" /><p class="credit">Art by Mick McMahon</p>{% endif %}
{% if page.title == "Judge Dredd (2000)" %}<img src="dredd00.webp" /><p class="credit">Art by Carlos Ezquerra</p>{% endif %}
{% if page.title == "Judge Dredd (2001)" %}<img src="dredd01.webp" /><p class="credit">Art by Henry Flint</p>{% endif %}
{% if page.title == "Judge Dredd (2002)" %}<img src="dredd02.webp" /><p class="credit">Art by Kev Walker</p>{% endif %}
{% if page.title == "Judge Dredd (2003)" %}<img src="dredd03.webp" /><p class="credit">Art by Patrick Goddard & Dylan Teague</p>{% endif %}
{% if page.title == "Judge Dredd (2004)" %}<img src="dredd04.webp" /><p class="credit">Art by Henry Flint & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2005)" %}<img src="dredd05.webp" /><p class="credit">Art by Kev Walker</p>{% endif %}
{% if page.title == "Judge Dredd (2006)" %}<img src="dredd06.webp" /><p class="credit">Art by Inaki Miranda & Eva de la Cruz</p>{% endif %}
{% if page.title == "Judge Dredd (2007)" %}<img src="dredd07.webp" /><p class="credit">Art by Boo Cook</p>{% endif %}
{% if page.title == "Judge Dredd (2008)" %}<img src="dredd08.webp" /><p class="credit">Art by Peter Doherty</p>{% endif %}
{% if page.title == "Judge Dredd (2009)" %}<img src="dredd09.webp" /><p class="credit">Art by Patrick Goddard & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2010)" %}<img src="dredd10.webp" /><p class="credit">Art by Karl Richardson</p>{% endif %}
{% if page.title == "Judge Dredd (2011)" %}<img src="dredd11.webp" /><p class="credit">Art by Ben Willsher & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2012)" %}<img src="dredd12.webp" /><p class="credit">Art by Carl Critchlow</p>{% endif %}
{% if page.title == "Judge Dredd (2013)" %}<img src="dredd13.webp" /><p class="credit">Art by Trevor Hairsine & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2014)" %}<img src="dredd14.webp" /><p class="credit">Art by Chris Weston & Michael Dowling</p>{% endif %}
{% if page.title == "Judge Dredd (2015)" %}<img src="dredd15.webp" /><p class="credit">Art by Greg Staples</p>{% endif %}
{% if page.title == "Judge Dredd (2016)" %}<img src="dredd16.webp" /><p class="credit">Art by Tiernen Trevallion</p>{% endif %}
{% if page.title == "Judge Dredd (2017)" %}<img src="dredd17.webp" /><p class="credit">Art by John McCrea & Mike Spicer</p>{% endif %}
{% if page.title == "Judge Dredd (2018)" %}<img src="dredd18.webp" /><p class="credit">Art by Henry Flint & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2019)" %}<img src="dredd19.webp" /><p class="credit">Art by Colin MacNeil & Chris Blythe</p>{% endif %}
{% if page.title == "Judge Dredd (2020)" %}<img src="dredd20.webp" /><p class="credit">Art by PJ Holden & Quinton Winter</p>{% endif %}
{% if page.title == "Judge Dredd (2021)" %}<img src="../HallemMoe/HallemMoe.webp" /><p class="credit">Art by Dan Cornwell & Jim Boswell</p>{% endif %}
{% if page.title == "Judge Dredd (2022)" %}<img src="dredd22.webp" /><p class="credit">Art by Neil Googe & Gary Caldwell (after Brian Bolland)</p>{% endif %}
{% if page.title == "Judge Dredd (2023)" %}<img src="dredd23.webp" /><p class="credit">Art by Kieran McKeown & Quinton Winter</p>{% endif %}
{% if page.title == "Judge Dredd (2024)" %}<img src="dredd24.webp" /><p class="credit">Art by RM Guera</p>{% endif %}
{% if page.title == "Judge Dredd (2025)" %}<img src="dredd.webp" /><p class="credit">Art by Alex Ronald</p>{% endif %}

<ul class="AtoZ">
<li><a href="https://youtu.be/ktW-dcoj3y0" target="_blank">The 2000 AD ABC: Judge Dredd</a></li>
<li><a href="https://shop.2000ad.com/catalogue/graphic-novels/dredd-case-files" target="_blank">shop.2000ad.com: Judge Dredd</a></li>
</ul>