<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<header>
		<h1><img class="border" alt="2000 AD in Stages" src="gfx/logo.png" /></h1>
		<div id="menu">
			<a href="URL">home</a>
			<a href="URL">progs</a>
			<a href="URL">megs</a>
			<a href="URL">spin-offs</a>
			<a href="URL">links</a>
		</div>
	</header>
	
	<main>
		{{ content }}
	</main>
	
	<footer>
		2000 AD copyright Rebellion A/S 2020
	</footer>
</body>
</html>
