<!DOCTYPE html>
<html>
<head>
	{% include analytics.html %}
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="format-detection" content="telephone=no">
</head>
<body>

	<header>
		<h1><img class="border" alt="2000 AD in Stages" src="gfx/logo.webp" /></h1>
		<div id="menu">
			{% if page.title == "2K Stages" %}<a class="disabled">home</a>
			{% else %}<a href="index.html">home</a>{% endif %}
			
			{% if page.title == "2K Stages - progs" %}<a class="disabled">progs</a>
			{% else %}<a href="progs.html">progs</a>{% endif %}
			
			{% if page.title == "2K Stages - megs" %}<a class="disabled">megs</a>
			{% else %}<a href="megs.html">megs</a>{% endif %}
			
			{% if page.title == "2K Stages - spin-offs" %}<a class="disabled">spin-offs</a>
			{% else %}<a href="spinOffs.html">spin-offs</a>{% endif %}
			
			{% if page.title == "2K Stages - A to Z" %}<a class="disabled">A-Z</a>
			{% else %}<a href="AtoZ.html">A-Z</a>{% endif %}
			
			{% if page.title == "2K Stages - links" %}<a class="disabled">links</a>
			{% else %}<a href="links.html">links</a>{% endif %}
		</div>
	</header>
	
	<main>
		{{ content }}
	</main>
	
	<footer>
		<hr />
		2000 AD copyright Rebellion A/S 2025
	</footer>
</body>
</html>
