<script src="../../js/Chart.min.js"></script>
<h2>Judge Hershey</h2>

<p>This entry lists the appearances of Hershey first as a young street Judge, then during her tenure in the Council of Five and on to her first and second stints as Chief Judge. Her retirement stories are listed under simply "Hershey" (even though some early Megazine tales also have that supertitle).</p>
<p>Judge Hershey first appeared as a young Judge sent with <a href="../JudgeDredd/1980.html#baseMenu">Dredd</a> on the mission to retrieve the Judge Child and later became the youngest ever member of the Council of Five. She became Chief Judge after Hadrian Volt, and a second time after Dan Franciso.</p>

<!--
Street Judge 1980-1983
Council of Five 1986-1999
Chief Judge  [1st term] 2000-2011
Chief Judge  [2nd term] 2012-2019
Features
-->

<a id="baseMenu"></a>
<table class="sections">
<tr>
	<td>
		{% if page.title == "A-Z Hershey (1980-1983)" %}<a class="disabled">Street Judge<br>1980-1983</a>
		{% else %}<a href="StreetJudge.html#baseMenu">Street Judge<br>1980-1983</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "A-Z Hershey (1986-1999)" %}<a class="disabled">Council of Five<br>1986-1999</a>
		{% else %}<a href="CouncilOfFive.html#baseMenu">Council of Five<br>1986-1999</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "A-Z Hershey (2000-2011)" %}<a class="disabled">Chief Judge  [1st term]<br>2000-2011</a>
		{% else %}<a href="ChiefJudge1.html#baseMenu">Chief Judge  [1st term]<br>2000-2011</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "A-Z Hershey (2012-2019)" %}<a class="disabled">Chief Judge  [2nd term]<br>2012-2019</a>
		{% else %}<a href="ChiefJudge2.html#baseMenu">Chief Judge  [2nd term]<br>2012-2019</a>{% endif %}
	</td>
	<td>	
		{% if page.title == "A-Z Hershey (Features)" %}<a class="disabled">Features</a>
		{% else %}<a href="Features.html#baseMenu">Features</a>{% endif %}
	</td>
</tr>
</table>

<img src="JudgeHershey.png" />
<p class="credit">Art by Cliff Robinson</p>
<br>